
.afs-bom .afs-table__th_bom-description,.afs-bom .afs-table__td_bom-description,.afs-bom .afs-table__th_bom-name,.afs-bom .afs-table__td_bom-name {
    max-width: 20%
}

.afs-bom .afs-table__th_bom-qty,.afs-bom .afs-table__td_bom-qty {
    max-width: 70px
}

.afs-bom .afs-table__th_bom-designator,.afs-bom .afs-table__td_bom-designator {
    max-width: 40%
}

.afs-bom .afs-table__th_bom-item-id,.afs-bom .afs-table__td_bom-item-id {
    max-width: 15%
}
