
.afs-comment_sub-comment {
    margin: 8px;
    padding: 8px;
    border-radius: 4px
}

.afs-comment_sub-comment:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}
