
.afs-requirement-tile[data-v-7972597e] {
    background: var(--afs-group);
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    cursor: pointer
}

.afs-requirement-tile__remove[data-v-7972597e] {
    background-color: var(--afs-secondary-default);
    border: 2px solid var(--afs-secondary-down);
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--afs-additional-white)
}

.afs-requirement-tile__link[data-v-7972597e] {
    font-size: 13px
}

.afs-requirement-tile__text-expand-icon[data-v-7972597e],.afs-requirement-tile__text-expand-icon.icon[data-v-7972597e] {
    width: 8px;
    height: 8px;
    padding-top: 1px;
    vertical-align: baseline
}

.afs-requirement-tile__text-expand-icon[data-v-7972597e]:hover,.afs-requirement-tile__text-expand-icon.icon[data-v-7972597e]:hover {
    cursor: pointer
}

.afs-requirement-tile__badge[data-v-7972597e] {
    color: var(--afs-text-icon-primary)
}

.afs-requirement-tile__badge[data-v-7972597e]:not(.afs-badge_success) {
    background: var(--afs-secondary-default, #484848)
}

.afs-requirement-tile__title[data-v-7972597e] {
    margin: 16px 0
}

.afs-requirement-tile__identifier[data-v-7972597e] {
    display: flex
}

.afs-requirement-tile__identifier_text[data-v-7972597e] {
    color: var(--afs-focus, #64D2FF)
}

.afs-requirement-tile__identifier_text.clickable[data-v-7972597e]:hover {
    cursor: pointer;
    color: #fff
}

.afs-requirement-tile__identifier_img[data-v-7972597e],.afs-requirement-tile__identifier_img.icon[data-v-7972597e] {
    margin-right: 8px;
    width: 16px;
    height: 16px
}

.afs-requirement-tile__identifier_right[data-v-7972597e] {
    margin-left: auto
}

.afs-requirement-tile__description[data-v-7972597e] {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 12px
}

.afs-requirement-tile__description_text[data-v-7972597e] {
    color: var(--afs-text-primary)
}

.afs-requirement-tile__description_text[data-v-7972597e]:not(.is-expanded) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.afs-requirement-tile__description_more[data-v-7972597e] {
    display: inline-block;
    margin-top: 8px
}

.afs-requirement-tile__reference-amount-text[data-v-7972597e] {
    display: block;
    margin-top: 16px;
    color: var(--afs-text-secondary)
}

.afs-requirement-tile__action[data-v-7972597e] {
    display: inline-block;
    margin-top: 8px
}

.afs-requirement-tile__is-expanded .afs-requirement-tile__identifier_text[data-v-7972597e],.afs-requirement-tile__is-expanded .afs-typography_paragraph[data-v-7972597e],.afs-requirement-tile__is-expanded .afs-requirement-tile__description_text[data-v-7972597e] {
    color: var(--color-primary)
}

.afs-requirement-tile__is-expanded .afs-requirement-tile__identifier_text[data-v-7972597e] {
    text-decoration: underline
}

.afs-requirement-tile__is-expanded.afs-requirement-tile[data-v-7972597e] {
    background: var(--afs-primary-default)
}

.afs-requirement-tile__buttons-block[data-v-7972597e] {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    margin-top: 16px
}

.afs-requirement-tile__create-task-form[data-v-7972597e] {
    padding: 16px
}

.afs-requirement-tile__assigned-task-link[data-v-7972597e] {
    display: block;
    margin-bottom: 16px
}

.afs-requirement-tile__placements-block[data-v-7972597e] {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    margin: 12px 0
}

.afs-requirement-tile__placements-block span[data-v-7972597e] {
    text-decoration: underline;
    margin: 0 4px
}
