
.afs-progress {
    overflow: hidden;
    border-radius: 4px;
    height: 17px;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1019607843)
}

.afs-progress.is-info .afs-progress__in {
    background: #5bc0de
}

.afs-progress.is-warning .afs-progress__in {
    background: #f0ad4e
}

.afs-progress.is-error .afs-progress__in {
    background: #d9534f
}

.afs-progress.is-success .afs-progress__in {
    background: #5cb85c
}

.afs-progress__in,.afs-progress__stripes {
    transition: transform .6s ease
}

.afs-progress__in {
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #3788d3;
    box-shadow: inset 0 -1px rgba(0,0,0,.1490196078)
}

.afs-progress__stripes {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.afs-progress__stripes:before {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;
    right: -80px;
    bottom: 0;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    animation: progress-bar-stripes 2s linear infinite
}

.afs-progress-bar {
    overflow: hidden;
    border-radius: 4px;
    height: 8px;
    font-size: 0;
    background-color: var(--afs-progress-bar-bg)
}

.afs-progress-bar__inner {
    height: 8px;
    border-radius: 4px;
    transition: width .2s
}

.afs-progress-bar .afs-progress-bar__inner {
    background: var(--afs-progress_bar_gradient)
}
