
.afs-badge_guest {
    padding: 0 4px;
    background: var(--afs-additional-yellow);
    color: var(--afs-text-on-light);
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    white-space: nowrap
}
