
.afs-thread-list {
    padding: 16px;
    position: relative
}

.afs-thread-list__container {
    height: 100%;
    overflow-y: auto;
    overflow-y: overlay
}

.afs-thread-group {
    border-top: 1px solid;
    border-color: var(--afs-border)
}

.afs-thread-group:not(:first-child) {
    margin-top: 16px
}

.afs-thread-group__title {
    display: flex;
    align-items: center;
    padding: 16px 16px 0
}

.afs-thread-group__icon {
    font-size: 16px;
    margin-right: 8px;
    flex-shrink: 0
}

.afs-thread-group__name {
    user-select: none;
    font-size: 12px;
    font-weight: 500
}

.afs-thread-group>.afs-comment-editable {
    border: 1px solid;
    border-radius: 4px
}

.afs-thread-group:last-child {
    border-color: var(--afs-border)
}

.afs-thread-group .afs-thread-group__title {
    user-select: none;
    margin-bottom: 8px;
    color: var(--afs-text-icon-primary)
}

.afs-thread-group>.afs-comment-editable {
    border-color: var(--afs-focus)
}

.afs-thread-item {
    border-radius: 0;
    overflow: hidden;
    color: var(--afs-text-icon-secondary)
}

.afs-thread-item__header {
    margin-bottom: 16px
}

.afs-thread-item__note {
    padding: 0 16px 16px
}

.afs-thread-item .afs-thread-item__note {
    color: var(--afs-text-icon-hint)
}

.afs-thread-item.is-active {
    background-color: var(--afs-group)
}
