
.afs-chip[data-v-ffb55f03] {
    display: flex;
    gap: 4px;
    cursor: pointer;
    align-items: center;
    overflow: hidden
}

.afs-chip__icon[data-v-ffb55f03] {
    flex-shrink: 0;
    min-height: 16px;
    width: 16px
}

.afs-chip__text[data-v-ffb55f03] {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 4px;
    line-height: 16px;
    background-color: var(--global-background-accent-secondary);
    border-radius: 2px
}

.afs-chip__text[data-v-ffb55f03]:hover {
    background-color: var(--afs-secondary-selected-hover)
}
