
.afs-breadcrumbs_lg .afs-breadcrumbs__text,.afs-breadcrumbs_lg .afs-breadcrumbs__link {
    font-size: var(--font-size-200);
    font-weight: var(--normal-weight-450);
    color: var(--afs-text-primary)
}

.afs-breadcrumbs_lg .afs-breadcrumbs__arrow {
    margin: 3px 8px;
    font-size: var(--font-size-50)
}
