
.afs-modal_gallery .afs-modal__container {
    max-width: 1008px;
    width: auto
}

.afs-modal_gallery .afs-modal__container img {
    max-width: 100%;
    max-height: calc(100vh - 64px);
    display: block
}

.afs-modal_gallery .afs-modal__body {
    padding: 0
}
