
.afs-users-list__list {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.afs-users-list__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -2px
}

.afs-users-list__item {
    flex: 0 0 auto;
    margin: 2px
}
