
.afs-group-access-item[data-v-6cea3826] {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--global-text-static-white-primary)
}

.afs-group-access-item.lg[data-v-6cea3826] {
    font-size: 16px;
    width: 32px;
    height: 32px
}

.afs-group-access-item.md[data-v-6cea3826] {
    font-size: 12px;
    width: 24px;
    height: 24px
}

.afs-group-access-item.sm[data-v-6cea3826] {
    font-size: 11px;
    width: 16px;
    height: 16px
}
