
.afs-organisation-access-item[data-v-cbf877ba] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--afs-data-teal-background-primary);
    color: var(--global-text-static-white-primary)
}

.afs-organisation-access-item.has-organisation-access[data-v-cbf877ba] {
    background-color: var(--afs-data-indigo-background-primary)
}
