
.afs-subheader_radius-tl {
    border-top-left-radius: 4px
}

.afs-subheader_radius-tr {
    border-top-right-radius: 4px
}

.afs-subheader_radius-bl {
    border-bottom-left-radius: 4px
}

.afs-subheader_radius-br {
    border-bottom-right-radius: 4px
}
