
.afs-summary-progress-bar {
    display: flex;
    border-radius: 4px;
    background-color: var(--afs-secondary-default);
    overflow: hidden
}

.afs-summary-progress-bar__section {
    height: 8px;
    min-width: 5px
}

.afs-summary-progress-bar__sectioninner {
    width: 100%;
    height: 8px;
    cursor: pointer
}

.afs-summary-progress-bar .afs-summary-progress-bar__section:not(:first-child) {
    box-shadow: inset 1px 0 1px var(--afs-panel)
}
