
.afs-btn_justify-left {
    justify-content: flex-start
}

.afs-btn_justify-center {
    justify-content: center
}

.afs-btn_justify-right {
    justify-content: flex-end
}

.afs-btn_justify-space-between {
    justify-content: space-between
}
