
.afs-comment-textarea {
    box-sizing: border-box
}

.afs-comment-textarea {
    display: block;
    outline: 0;
    margin: 0;
    border: 0;
    max-width: 100%;
    font-family: inherit;
    resize: none;
    -webkit-appearance: none
}

.afs-comment {
    padding: 16px
}

.afs-comment.is-resolved {
    opacity: .5
}

.afs-comment__header {
    padding-bottom: 8px
}

.afs-comment__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px
}

.afs-comment__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    overflow: hidden
}

.afs-comment__btn {
    flex: 0 0 auto;
    margin: -8px -8px 0 0
}

.afs-comment__count {
    padding-top: 2px
}

.afs-comment__user {
    border-bottom: 1px dotted;
    cursor: default
}

.afs-comment__replay {
    padding-top: 8px;
    font-weight: 400;
    font-size: 12px
}

.afs-comment__text {
    line-height: 16px
}

.afs-comment__text-more {
    margin-top: 8px
}

.afs-comment.is-inactive .afs-comment__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.afs-comment.is-shortened .afs-comment__text {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    max-height: 5.6em;
    padding-bottom: 1px
}

.afs-comment.afs-comment_sub-comment {
    background-color: var(--afs-secondary-default)
}

.afs-comment .afs-comment__user {
    color: var(--afs-text-icon-primary);
    border-color: var(--afs-border_dotted)
}

.afs-comment .afs-comment__replay {
    color: var(--afs-text-icon-hint)
}

.afs-comment .afs-comment__counter {
    color: var(--afs-additional-black);
    background-color: var(--afs-text-icon-primary)
}

.afs-comment .afs-comment__counter.is-active {
    background-color: var(--afs-additional-blue);
    color: var(--afs-text-icon-primary)
}

.afs-comment-editable {
    border-top: 1px solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: var(--afs-field);
    border-color: var(--afs-secondary-border)
}

.afs-comment-editable__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px
}

.afs-comment-editable__footer {
    padding: 16px
}

.afs-comment-editable__btn-group {
    text-align: right
}

.afs-comment-textarea {
    padding: 8px 16px;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    font-family: inherit;
    border: 1px solid;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    resize: none;
    transition: border-color .25s,color .25s,opacity .25s,background-color .25s,box-shadow .25s;
    color: var(--afs-text-icon-primary);
    background: var(--afs-field);
    border-color: var(--afs-secondary-border)
}

.afs-comment-textarea:disabled,.afs-comment-textarea[disabled],.afs-comment-textarea.is-disabled {
    opacity: .48
}

.afs-comment-textarea:not(:disabled):not([disabled]):not(.is-disabled):focus::placeholder,.afs-comment-textarea:not(:disabled):not([disabled]):not(.is-disabled).is-focused::placeholder {
    opacity: .48
}

.afs-comment-textarea:not(:disabled):not([disabled]):not(.is-disabled):focus-within::placeholder,.afs-comment-textarea:not(:disabled):not([disabled]):not(.is-disabled).is-focus-withined::placeholder {
    opacity: .48
}

.afs-comment-textarea::placeholder {
    opacity: 1;
    transition: opacity .25s
}

.afs-comment-textarea::placeholder {
    color: var(--afs-text-icon-hint)
}
