
.animated-loader_small .animated-loader__icon.is-error[data-v-85849dc2] {
    font-size: 32px
}

.animated-loader_small .animated-loader__figure[data-v-85849dc2] {
    height: auto
}

.animated-loader_small .animated-loader__container[data-v-85849dc2] {
    min-height: auto;
    padding: 32px 16px
}
