
.app-user-select__btn {
    height: 2rem;
    width: 11rem
}

.app-user-select__btn .afs-btn__text {
    display: flex;
    align-items: center;
    max-width: 9rem
}

.app-user-select__menu-btn {
    max-width: 11rem
}

.app-user-select__img {
    margin-right: .5rem
}

.app-user-select__text {
    text-align: left;
    min-width: 6rem
}

.app-user-select__icon {
    flex: 0 0 auto;
    font-size: .5rem;
    margin-left: 1rem
}

.app-user-select__btn {
    height: 2rem;
    width: 11rem
}

.app-user-select__btn .afs-btn__text {
    display: flex;
    align-items: center;
    max-width: 9rem
}

.app-user-select__menu-btn {
    max-width: 11rem
}

.app-user-select__img {
    margin-right: .5rem
}

.app-user-select__text {
    text-align: left;
    min-width: 6rem
}

.app-user-select__icon {
    flex: 0 0 auto;
    font-size: .5rem;
    margin-left: 1rem
}
