
.app-loader_small .app-loader__icon.is-error[data-v-30d447e2] {
    font-size: 2rem
}

.app-loader_small .app-loader__figure[data-v-30d447e2] {
    height: auto
}

.app-loader_small .app-loader__container[data-v-30d447e2] {
    min-height: auto;
    padding: 2rem 1rem
}
