
.app-alert[data-v-3abbf864] {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-app-loader)
}

.app-alert__container[data-v-3abbf864] {
    margin: auto;
    padding: 3.38rem 2rem 1.5rem;
    border-radius: .25rem;
    width: 100%;
    max-width: 18rem;
    min-height: 13rem;
    background: var(--background-app-loader-container);
    box-shadow: var(--box-shadow-app-loader-container);
    text-align: center
}

.app-alert__figure[data-v-3abbf864] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 4rem;
    line-height: 1;
    color: var(--afs-text-icon-primary)
}

.app-alert__figure[data-v-3abbf864]:not(:last-child) {
    margin-bottom: 1rem
}

.app-alert__icon[data-v-3abbf864] {
    font-size: 1em
}

.app-alert__text[data-v-3abbf864],.app-alert__meta[data-v-3abbf864] {
    font-size: .75rem;
    line-height: 1.3333333333;
    min-width: 14rem
}

.app-alert__text[data-v-3abbf864]:not(:last-child),.app-alert__meta[data-v-3abbf864]:not(:last-child) {
    margin-bottom: .25rem
}

.app-alert__meta[data-v-3abbf864] {
    color: var(--color-app-loader-meta)
}
