
.app-modal-notifications__header[data-v-f72084f4] {
    color: var(--color-primary)
}

.app-modal-notifications__section[data-v-f72084f4] {
    margin-top: .5rem
}

.app-modal-notifications__checkbox[data-v-f72084f4] {
    margin-bottom: .5rem
}

.app-modal-notifications__item-description[data-v-f72084f4] {
    opacity: .6
}

.app-modal-notifications__footer[data-v-f72084f4] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem
}

.app-modal-notifications__footer-btn[data-v-f72084f4] {
    margin-left: .5rem
}
