
.app-comments-filters[data-v-4b944e57] {
    border-bottom: 1px solid var(--border-primary)
}

.app-comments-filters__btn[data-v-4b944e57] {
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0);
    color: inherit
}

.app-comments-filters__align-btn[data-v-4b944e57] {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between
}

.app-comments-filters__btn-text[data-v-4b944e57] {
    padding-left: .38rem
}

.app-comments-filters__title[data-v-4b944e57] {
    color: var(--afs-text-icon-secondary);
    max-width: 6.88rem
}

.app-comments-filters__icon[data-v-4b944e57] {
    flex: 1 0 auto;
    font-size: .5rem;
    margin-left: .5rem;
    color: var(--afs-icons)
}

.app-comments-filters__icon-filter[data-v-4b944e57] {
    margin-right: .5rem;
    font-size: 1rem
}

.app-comments-filters__avatars[data-v-4b944e57] {
    display: flex;
    flex-direction: row-reverse
}

.app-comments-filters__avatars .afs-user-avatar__container[data-v-4b944e57] {
    border: 2px solid var(--afs-panel);
    border-radius: 50%;
    margin-left: -4px
}

.app-comments-filters__item-description[data-v-4b944e57] {
    opacity: .6
}

.app-comments-filters__assigned-to[data-v-4b944e57] {
    max-height: 258px;
    overflow-y: auto
}

.app-comments-filters__select[data-v-4b944e57] {
    padding: .25rem .5rem
}

.app-comments-filters__item-icon[data-v-4b944e57] {
    position: absolute;
    width: 16px;
    top: .38rem;
    left: 1rem;
    font-size: 1rem
}

.app-comments-filters {
    border-bottom: 1px solid var(--border-primary)
}

.app-comments-filters__btn {
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0);
    color: inherit
}

.app-comments-filters__align-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between
}

.app-comments-filters__btn-text {
    padding-left: .38rem
}

.app-comments-filters__title {
    color: var(--afs-text-icon-secondary);
    max-width: 6.88rem
}

.app-comments-filters__icon {
    flex: 1 0 auto;
    font-size: .5rem;
    margin-left: .5rem;
    color: var(--afs-icons)
}

.app-comments-filters__icon-filter {
    margin-right: .5rem;
    font-size: 1rem
}

.app-comments-filters__avatars {
    display: flex;
    flex-direction: row-reverse
}

.app-comments-filters__avatars .afs-user-avatar__container {
    border: 2px solid var(--afs-panel);
    border-radius: 50%;
    margin-left: -4px
}

.app-comments-filters__item-description {
    opacity: .6
}

.app-comments-filters__assigned-to {
    max-height: 258px;
    overflow-y: auto
}

.app-comments-filters__select {
    padding: .25rem .5rem
}

.app-comments-filters__item-icon {
    position: absolute;
    top: .38rem;
    left: 1rem;
    font-size: 1rem;
    color: var(--afs-text-icon-primary)
}
