
.app-snackbar[data-v-17365196] {
    position: absolute
}

.app-snackbar__top[data-v-17365196] {
    top: 58px;
    bottom: auto
}

.app-snackbar[data-v-5b3e3fcf] {
    position: absolute
}

.app-snackbar__top[data-v-5b3e3fcf] {
    top: 5rem;
    bottom: auto
}

.app-snackbar__bottom[data-v-5b3e3fcf] {
    top: auto;
    bottom: 3rem
}
