
.app-item_is-row[data-v-24e96402] {
    flex-direction: row
}

.app-item_is-row .app-item__title[data-v-24e96402] {
    min-width: 2.5rem
}

.app-item_is-row .app-item__title_primary[data-v-24e96402] {
    display: inline-block;
    min-width: 4.5rem
}

.app-item_is-row .app-item__text[data-v-24e96402] {
    margin-top: 0;
    margin-left: .5rem
}
