
.app-details-header[data-v-3665b64a] {
    display: flex;
    padding: 6px 28px 6px 6px;
    border-color: var(--afs-border);
    color: var(--afs-text-icon-primary);
    background: var(--afs-titlebar);
    border-bottom: 1px solid var(--border-primary)
}

.app-details-header__btn[data-v-3665b64a] {
    flex: 0 0 auto;
    margin: 0;
    height: 24px;
    width: 24px
}

.app-details-header__select[data-v-3665b64a] {
    flex: 0 1 auto;
    width: 100%;
    padding: 4px
}

.app-details-header__select[data-v-3665b64a]:first-child {
    padding-left: 10px
}

.app-details-header__select[data-v-3665b64a] .afs-select__button {
    padding: 0 28px 0 0;
    max-width: 100%;
    min-width: 50px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__select[data-v-3665b64a] .afs-select__button.is-open {
    background-color: var(--afs-secondary-default)
}

.app-details-header__option[data-v-3665b64a] {
    max-width: 128px;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__title[data-v-3665b64a] {
    padding: 4px;
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__title[data-v-3665b64a]:first-child {
    padding-left: 10px
}

.app-details-header[data-v-bf2b2814] {
    display: flex;
    padding: 6px 28px 6px 6px;
    border-color: var(--afs-border);
    color: var(--afs-text-icon-primary);
    background: var(--afs-titlebar);
    border-bottom: 1px solid var(--border-primary)
}

.app-details-header__btn[data-v-bf2b2814] {
    flex: 0 0 auto;
    margin: 0;
    height: 24px;
    width: 24px
}

.app-details-header__select[data-v-bf2b2814] {
    flex: 0 1 auto;
    width: 100%;
    padding: 4px
}

.app-details-header__select[data-v-bf2b2814]:first-child {
    padding-left: 10px
}

.app-details-header__select[data-v-bf2b2814] .afs-select__button {
    padding: 0 28px 0 0;
    max-width: 100%;
    min-width: 50px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__select[data-v-bf2b2814] .afs-select__button.is-open {
    background-color: var(--afs-secondary-default)
}

.app-details-header__option[data-v-bf2b2814] {
    max-width: 128px;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__title[data-v-bf2b2814] {
    padding: 4px;
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__title[data-v-bf2b2814]:first-child {
    padding-left: 10px
}

.app-details-header[data-v-4911ff50] {
    overflow: hidden;
    display: flex;
    padding: 6px 28px 6px 6px;
    border-color: var(--afs-border);
    color: var(--afs-text-icon-primary);
    background: var(--afs-titlebar);
    border-bottom: 1px solid var(--border-primary)
}

.app-details-header__btn[data-v-4911ff50] {
    flex: 0 0 auto;
    margin: 0;
    height: 24px;
    width: 24px
}

.app-details-header__option[data-v-4911ff50] {
    max-width: 128px;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__title[data-v-4911ff50] {
    padding: 4px;
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden
}

.app-details-header__title[data-v-4911ff50]:first-child {
    padding-left: 10px
}
