
.app_ipad-fullscreen .app-header[data-v-4817c8b6] {
    top: 1.5rem
}

.app_ipad-fullscreen .app-header__secondary-controls[data-v-4817c8b6] {
    padding-left: 5.13rem
}

.app_ipad-fullscreen {
    padding-top: 1.5rem
}
