
.apps-preview {
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0)
}

.apps-preview.is-loaded .apps-preview__img {
    opacity: 1
}

.apps-preview__img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    object-fit: scale-down;
    transition: opacity .4s
}
