
.assignee[data-v-3ab30763] {
    cursor: pointer
}

.assignee__input[data-v-3ab30763] {
    padding: 8px
}

.assignee__item[data-v-3ab30763] {
    display: flex;
    align-items: center;
    gap: 8px
}
