
.bar-list-chart .list-item__caption[data-v-c7d836c2] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.bar-list-chart .list-item[data-v-c7d836c2] {
    margin-bottom: 8px
}

.bar-list-chart .list-item__caption[data-v-c7d836c2] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px
}

.bar-list-chart .list-item__title[data-v-c7d836c2] {
    color: var(--afs-text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.bar-list-chart .list-item__title.clickable[data-v-c7d836c2] {
    cursor: pointer
}

.bar-list-chart .list-item__value[data-v-c7d836c2] {
    color: var(--afs-text-secondary)
}

.bar-list-chart .list-item__bar-holder[data-v-c7d836c2] {
    height: 8px;
    border-radius: 4px;
    background: var(--afs-group);
    overflow: hidden
}

.bar-list-chart .list-item__bar[data-v-c7d836c2] {
    height: 100%;
    border-radius: 4px;
    transition: opacity .3s
}

.bar-list-chart .list-item__bar.dimmed[data-v-c7d836c2] {
    opacity: var(--02ebd380);
    transition: opacity .3s
}

.bar-list-chart.is-clickable .list-item__bar-holder[data-v-c7d836c2] {
    cursor: pointer
}
