
.board-info[data-v-adbc4cf0] {
    padding: .25rem 1rem
}

.board-info__section[data-v-adbc4cf0] {
    padding: .75rem 0;
    line-height: 1.34
}

.board-info__section[data-v-adbc4cf0]:not(:last-child) {
    border-bottom: 1px solid var(--border-primary)
}

.board-info__header[data-v-adbc4cf0] {
    display: flex;
    align-items: baseline;
    padding: .25rem 0
}

.board-info__title[data-v-adbc4cf0] {
    flex: 1 1 auto;
    color: var(--color-primary)
}

.board-info__badge[data-v-adbc4cf0] {
    margin-left: .5rem;
    font-size: .69rem;
    line-height: .75rem;
    text-transform: capitalize
}
