
.bom-compare-table[data-v-8e8d6fea] {
    border: none;
    position: relative;
    overflow-y: unset
}

.bom-compare-table__content-table[data-v-8e8d6fea] {
    border-collapse: separate
}

.bom-compare-table__content-body[data-v-8e8d6fea] {
    width: 100%;
    position: absolute
}

.bom-compare-table[data-v-8e8d6fea] .generic-table__header .header-cell {
    z-index: 20;
    background: var(--afs-table-header);
    border-left: 1px solid var(--border-primary);
    border-bottom: none
}

.bom-compare-table[data-v-8e8d6fea] .generic-table__header .header-cell:first-child {
    z-index: 30;
    position: sticky;
    left: 0;
    border-left: none;
    border-right: 1px solid var(--border-primary)
}

.bom-compare-table[data-v-8e8d6fea] .generic-table__header .header-cell:first-child+.header-cell {
    border-left: none
}

.bom-compare-table[data-v-8e8d6fea] .generic-table__header .header-cell:last-child {
    z-index: 30;
    position: sticky;
    right: 0
}

.bom-compare-table[data-v-8e8d6fea] .generic-table__header .header-cell__actions-container-bg {
    background: linear-gradient(to left, var(--afs-table-header) 24px, rgba(0, 0, 0, 0))
}

.bom-compare-table[data-v-8e8d6fea] .generic-table__table {
    border-collapse: separate
}

.bom-compare-table__settings-column[data-v-8e8d6fea] {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center
}

.bom-compare-table__settings-column .icon-marker[data-v-8e8d6fea] {
    width: 4px;
    height: 4px;
    background-color: var(--color-danger);
    border-radius: 4px;
    position: absolute;
    right: 16px;
    top: 8px
}

.bom-compare-table[data-v-30620a72] {
    border: none;
    position: relative;
    overflow-y: unset
}

.bom-compare-table__content-table[data-v-30620a72] {
    border-collapse: separate
}

.bom-compare-table__content-body[data-v-30620a72] {
    width: 100%;
    position: absolute
}

.bom-compare-table[data-v-30620a72] .generic-table__header .header-cell {
    z-index: 20;
    background: var(--afs-table-header);
    border-left: 1px solid var(--border-primary);
    border-bottom: none
}

.bom-compare-table[data-v-30620a72] .generic-table__header .header-cell:first-child {
    z-index: 30;
    position: sticky;
    left: 0;
    border-left: none;
    border-right: 1px solid var(--border-primary)
}

.bom-compare-table[data-v-30620a72] .generic-table__header .header-cell:first-child+.header-cell {
    border-left: none
}

.bom-compare-table[data-v-30620a72] .generic-table__header .header-cell:last-child {
    z-index: 30;
    position: sticky;
    right: 0
}

.bom-compare-table[data-v-30620a72] .generic-table__header .header-cell__actions-container-bg {
    background: linear-gradient(to left, var(--afs-table-header) 24px, rgba(0, 0, 0, 0))
}

.bom-compare-table[data-v-30620a72] .generic-table__table {
    border-collapse: separate
}

.bom-compare-table__settings-column[data-v-30620a72] {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center
}

.bom-compare-table__settings-column .icon-marker[data-v-30620a72] {
    width: 4px;
    height: 4px;
    background-color: var(--color-danger);
    border-radius: 4px;
    position: absolute;
    right: 16px;
    top: 8px
}
