
.bom-compare-footer-row[data-v-8e8d6fea] {
    width: 100%;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--border-primary)
}

.bom-compare-footer-row__content[data-v-8e8d6fea] {
    height: 32px;
    position: sticky;
    left: 0;
    padding: 8px 16px 8px 16px
}

.bom-compare-footer-row[data-v-30620a72] {
    width: 100%;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--border-primary)
}

.bom-compare-footer-row__content[data-v-30620a72] {
    height: 32px;
    position: sticky;
    left: 0;
    padding: 8px 16px 8px 16px
}
