
.bom-compare-overflow-container[data-v-8e8d6fea] {
    overflow: scroll;
    max-width: 100vw;
    max-height: calc(100vh - 32px - 33px - var(--search-height, 0px) - var(--banner-height, 0px));
    height: calc(100vh - 32px - 33px - var(--search-height, 0px) - var(--banner-height, 0px));
    background-color: var(--afs-table-background);
    --border-radius-scrollbar: 4px;
    --width-scrollbar: 6px
}

.bom-compare-overflow-container[data-v-8e8d6fea]::-webkit-scrollbar {
    width: var(--width-scrollbar);
    height: var(--width-scrollbar)
}

.bom-compare-overflow-container[data-v-8e8d6fea]::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: var(--border-radius-scrollbar)
}

.bom-compare-overflow-container[data-v-8e8d6fea]::-webkit-scrollbar-corner,.bom-compare-overflow-container[data-v-8e8d6fea]::-webkit-resizer {
    display: none
}

.bom-compare-overflow-container[data-v-30620a72] {
    overflow: scroll;
    max-width: 100vw;
    max-height: calc(100vh - 32px - 33px - var(--search-height, 0px) - var(--banner-height, 0px));
    height: calc(100vh - 32px - 33px - var(--search-height, 0px) - var(--banner-height, 0px));
    background-color: var(--afs-table-background);
    --border-radius-scrollbar: 4px;
    --width-scrollbar: 6px
}

.bom-compare-overflow-container[data-v-30620a72]::-webkit-scrollbar {
    width: var(--width-scrollbar);
    height: var(--width-scrollbar)
}

.bom-compare-overflow-container[data-v-30620a72]::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: var(--border-radius-scrollbar)
}

.bom-compare-overflow-container[data-v-30620a72]::-webkit-scrollbar-corner,.bom-compare-overflow-container[data-v-30620a72]::-webkit-resizer {
    display: none
}
