
.bom-compare-no-results {
    display: flex;
    flex-direction: column;
    align-items: center
}

.bom-compare-no-results__icon {
    font-size: 32px
}

.bom-compare-no-results__title {
    margin: 16px 0 8px;
    line-height: 24px
}

.bom-compare-no-results {
    display: flex;
    flex-direction: column;
    align-items: center
}

.bom-compare-no-results__icon {
    font-size: 32px
}

.bom-compare-no-results__title {
    margin: 16px 0 8px;
    line-height: 24px
}
