
.bom-panel__hint[data-v-69a7df7e] {
    white-space: pre
}

.bom-panel__parameter-group-title[data-v-69a7df7e] {
    margin-top: .25rem;
    color: var(--color-bom-text-secondary);
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: .63rem;
    line-height: 1rem;
    font-weight: 500
}

.bom-panel__yteol[data-v-69a7df7e] {
    max-width: 100%;
    background-color: var(--afs-group)
}
