
.bom-compare-document-filters__variants-tree[data-v-4840e7a6] {
    padding: 8px 0
}

.bom-compare-document-filters__modification-type[data-v-4840e7a6] {
    padding: 16px 16px;
    border-top: 1px solid var(--border-primary)
}

.bom-compare-document-filters__old-new-toggle[data-v-4840e7a6] {
    padding: 16px 16px;
    border-top: 1px solid var(--border-primary)
}
