
.bom-compare-document-checkbox-filter[data-v-2cc6ebc1] {
    padding: 10px 16px
}

.bom-compare-document-checkbox-filter .afs-switcher__text[data-v-2cc6ebc1] {
    color: var(--afs-text)
}

.bom-compare-document-checkbox-filter__icon[data-v-2cc6ebc1] {
    font-size: 16px;
    margin-left: 6px;
    color: var(--afs-hint-icons)
}
