
.cell-comment-corner[data-v-7aedc05c] {
    height: 100%;
    position: absolute
}

.cell-comment-corner__polygon[data-v-7aedc05c] {
    fill: var(--afs-text-icon-secondary)
}

.cell-comment-corner__polygon_resolved[data-v-7aedc05c] {
    opacity: .48
}

.cell-comment-corner__polygon_active[data-v-7aedc05c] {
    fill: var(--afs-additional-blue)
}
