
.chart-content.is-centered[data-v-d7a2464e],.chart-content.is-centered[data-v-b8717a0e] {
    display: flex;
    align-items: center;
    justify-content: center
}

.chart-content.is-centered[data-v-2e2931d4] {
    display: flex;
    align-items: center;
    justify-content: center
}

.chart-content .highcharts-legend[data-v-2e2931d4] {
    pointer-events: none
}

.chart-content .highcharts-plot-line[data-v-2e2931d4] {
    background-color: var(--afs-plot-line-bg)
}
