
.circular-loader[data-v-5620cf39] {
    display: flex;
    align-items: center;
    gap: 8px
}

.circular-loader__spinner[data-v-5620cf39] {
    display: flex;
    animation: rotate-5620cf39 1s linear infinite
}

.circular-loader__title[data-v-5620cf39] {
    color: var(--afs-text-secondary)
}
