
.columns-menu-item[data-v-c75dbb86] .afs-checkbox__text {
    width: 144px
}

.columns-menu-item__provider-icon[data-v-c75dbb86] {
    float: right;
    width: 16px;
    height: 16px
}

.columns-menu-item__checkbox[data-v-c75dbb86] {
    display: flex
}

.columns-menu-item__text[data-v-c75dbb86] {
    overflow: hidden;
    width: calc(100% - 16px)
}
