
.comments-modal[data-v-2cdb2ca4] {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--background-primary);
    border-radius: 4px;
    z-index: 100;
    box-shadow: 0 8px 32px rgba(0,0,0,.3215686275)
}

.comments-modal,.is-dark-theme .comments-modal,#comments-app-panel,.is-dark-theme #comments-app-panel {
    --background-black: var(--global-fill-neutral-tertiary-rest, #181818);
    --modal-border-color: var(--global-stroke-neutral-primary-rest, #181818);
    --comment-background-hint: var(--global-fill-accent-secondary-rest, #3a75ad);
    --comment-background-assigned: var(--global-fill-warning-primary-rest, #da7b11);
    --comment-text: var(--global-text-neutral-secondary-rest, #dddddd);
    --comment-text-reply: var(--global-text-neutral-tertiary-rest, #9e9e9e)
}

.comments-modal {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 12px;
    font-weight: var(--font-weight-normal)
}
