
.comment__wrap[data-v-ba8b1cd9] {
    border-radius: 4px;
    border: 1px solid var(--modal-border-color)
}

.comment__body[data-v-ba8b1cd9] {
    text-align: left;
    width: 360px;
    padding: 16px;
    border-radius: 4px;
    color: var(--background-primary)
}

.comment__body[data-v-ba8b1cd9] .requirement-info-wrapper {
    margin: -16px -16px 16px
}

.comment__wrap[data-v-5f81c664] {
    border-radius: 4px;
    border: 1px solid var(--modal-border-color)
}

.comment__title[data-v-5f81c664] {
    padding-left: 16px
}

.comment__body[data-v-5f81c664] {
    text-align: left;
    width: 320px;
    padding: 16px;
    border-radius: 4px;
    color: var(--background-primary)
}

.comment__wrap[data-v-ecf320c6] {
    border-radius: 4px;
    border: 1px solid var(--modal-border-color)
}

.comment__body[data-v-ecf320c6] {
    text-align: left;
    width: 320px;
    padding: 16px;
    border-radius: 4px;
    color: var(--background-primary)
}
