
.compare-changes-item-sub-items-grouped[data-v-42cd2cf9] {
    display: flex;
    flex-direction: column
}

.compare-changes-item-sub-items-grouped__header[data-v-42cd2cf9] {
    padding: 0 0 0 24px
}

.compare-changes-item-sub-items-grouped__group[data-v-42cd2cf9] {
    display: flex;
    flex-direction: column
}

.compare-changes-item-sub-items-grouped__group.selected[data-v-42cd2cf9] {
    background-color: var(--global-background-accent-secondary)
}

.compare-changes-item-sub-items-grouped__group-content[data-v-42cd2cf9] {
    display: flex;
    flex-direction: column
}
