
.component-details-panel {
    min-width: 240px;
    overflow: hidden;
    background-color: var(--afs-sidebar);
    display: flex;
    flex-direction: column
}

.component-details-panel__header {
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid var(--afs-primary-border)
}

.component-details-panel__subheader {
    flex-grow: 0;
    flex-shrink: 0
}

.component-details-panel__content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px
}

.component-details-panel__main-block:empty {
    display: none
}

.component-details-panel__footer {
    flex-grow: 0;
    flex-shrink: 0
}
