
.component-details-header[data-v-334a04c2] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px
}

.component-details-header .component-details-header__title[data-v-334a04c2] {
    padding-left: 8px
}

.component-details-header .component-details-header__icon[data-v-334a04c2] {
    width: 16px;
    height: 16px
}
