
.component-details-part-row-select__select[data-v-a45b52cb] .afs-select__button {
    padding: 8px 32px 8px 1px
}

.component-details-part-row-select__select[data-v-a45b52cb] .afs-select__button.is-open {
    background-color: var(--afs-sidebar)
}

.component-details-part-row-select__selected[data-v-a45b52cb] {
    background-color: rgba(0,0,0,0);
    color: var(--afs-text-icon-secondary)
}

.component-details-part-row-select__single[data-v-a45b52cb] {
    background-color: rgba(0,0,0,0);
    color: var(--afs-text-icon-secondary);
    padding-top: 8px;
    padding-bottom: 8px
}

.component-details-part-row-select__option[data-v-a45b52cb] {
    color: var(--afs-text-icon-secondary)
}
