
.compare-changes-item-sub-item[data-v-35be61ea] {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 70px
}

.compare-changes-item-sub-item.selected[data-v-35be61ea] {
    background-color: var(--global-background-accent-secondary)
}
