
.component-details-supply-toggle[data-v-5909ee14] {
    display: flex;
    color: var(--afs-text-icon-secondary);
    align-items: center;
    cursor: pointer
}

.component-details-supply-toggle__arrow[data-v-5909ee14] {
    flex-shrink: 0;
    width: 8px;
    height: 8px
}
