
.component-details-text-row[data-v-45c5d3c3] {
    width: 100%
}

.component-details-text-row__label[data-v-45c5d3c3] {
    max-width: 100%;
    color: var(--afs-text-icon-secondary)
}

.component-details-text-row__description[data-v-45c5d3c3] {
    margin-top: 8px;
    color: var(--afs-text-icon-secondary);
    max-width: 100%
}
