
.component-details-validation-report-row[data-v-37051f25] {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer
}

.component-details-validation-report-row__icon-container[data-v-37051f25] {
    display: flex;
    height: 16px;
    width: 16px
}

.component-details-validation-report-row__icon[data-v-37051f25] {
    height: 16px;
    width: 16px
}

.component-details-validation-report-row__text-container[data-v-37051f25] {
    margin-left: 8px;
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: var(--afs-text-icon-secondary)
}
