
.compare-changes-group[data-v-4521b86c] {
    display: flex;
    flex-direction: column
}

.compare-changes-group__header[data-v-4521b86c] {
    padding: 4px 16px;
    font-size: 10px;
    line-height: 16px;
    color: var(--global-text-base-tertiary);
    text-transform: uppercase
}

.compare-changes-group__content[data-v-4521b86c] {
    padding: 4px 0
}

.compare-changes-group__separator[data-v-4521b86c] {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--border-primary);
    margin: 12px 0
}
