
.component-details-property-row[data-v-d1ed75cb] {
    width: 100%;
    display: flex;
    line-height: 16px;
    align-items: center
}

.component-details-property-row__label[data-v-d1ed75cb] {
    width: 50%;
    text-align: right;
    margin-right: 12px;
    color: var(--afs-text-icon-secondary)
}

.component-details-property-row__link[data-v-d1ed75cb] {
    width: 50%
}

.component-details-property-row__value[data-v-d1ed75cb] {
    width: 50%;
    color: var(--afs-title-active)
}

.component-details-property-row__icon[data-v-d1ed75cb] {
    height: 14px;
    width: 14px;
    font-size: 14px
}
