
.compare-document__header-container[data-v-081f9a97] {
    display: flex;
    align-items: center
}

.compare-document__header-title-wrapper[data-v-081f9a97] {
    display: flex;
    flex-grow: 1;
    min-width: 0
}

.compare-document__header-title[data-v-081f9a97] {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap
}

.compare-document__header-desc-wrapper[data-v-081f9a97] {
    display: flex;
    flex-shrink: 2;
    margin-left: 4px;
    overflow: hidden
}

.compare-document__header-desc[data-v-081f9a97] {
    white-space: nowrap;
    color: var(--afs-text-icon-hint);
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0
}

.compare-document__header-icon[data-v-081f9a97] {
    display: flex;
    height: 16px
}

.compare-document__header-container[data-v-f8a615a0] {
    display: flex;
    align-items: center
}

.compare-document__header-title-wrapper[data-v-f8a615a0] {
    display: flex;
    flex-grow: 1;
    min-width: 0
}

.compare-document__header-title[data-v-f8a615a0] {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap
}

.compare-document__header-desc-wrapper[data-v-f8a615a0] {
    display: flex;
    flex-shrink: 2;
    margin-left: 4px;
    overflow: hidden
}

.compare-document__header-desc[data-v-f8a615a0] {
    white-space: nowrap;
    color: var(--afs-text-icon-hint);
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0
}

.compare-document__header-icon[data-v-f8a615a0] {
    display: flex;
    height: 16px
}

.compare-document__header-container[data-v-7470ed24] {
    display: flex;
    align-items: center
}

.compare-document__header-title-wrapper[data-v-7470ed24] {
    display: flex;
    flex-grow: 1;
    min-width: 0
}

.compare-document__header-title[data-v-7470ed24] {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap
}

.compare-document__header-desc-wrapper[data-v-7470ed24] {
    display: flex;
    flex-shrink: 2;
    margin-left: 4px;
    overflow: hidden
}

.compare-document__header-desc[data-v-7470ed24] {
    white-space: nowrap;
    color: var(--afs-text-icon-hint);
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0
}

.compare-document__header-icon[data-v-7470ed24] {
    display: flex;
    height: 16px
}
