
.component-details-revision-row[data-v-d893ed9d] {
    width: 100%;
    line-height: 16px;
    justify-content: space-between;
    align-items: center
}

.component-details-revision-row__link[data-v-d893ed9d] {
    flex: 0 0 auto
}

.component-details-revision-row__label[data-v-d893ed9d] {
    flex: 0 0 auto;
    color: var(--afs-text-icon-secondary)
}

.component-details-revision-row__options[data-v-d893ed9d] {
    margin-left: 16px;
    flex: 0 0 auto
}
