
.component-details-parameter-row[data-v-4d8d4a7d] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    overflow: hidden
}

.component-details-parameter-row__label[data-v-4d8d4a7d] {
    margin-right: 12px;
    flex: 0 1 auto;
    min-width: 64px;
    color: var(--afs-text-icon-secondary)
}

.component-details-parameter-row__link[data-v-4d8d4a7d] {
    flex: 0 1 auto
}

.component-details-parameter-row__value[data-v-4d8d4a7d] {
    flex: 0 1 auto;
    color: var(--afs-text-icon-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.component-details-parameter-row__icon[data-v-4d8d4a7d] {
    height: 14px;
    width: 14px;
    font-size: 14px
}
