
.compare-column-header[data-v-3fe79dcf] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.compare-column-header[data-v-052529a4] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
