
.component-details-issue[data-v-b6b4d81c] {
    display: flex;
    color: var(--afs-text-icon-secondary);
    align-items: center
}

.component-details-issue__item[data-v-b6b4d81c] {
    flex: 0 0 auto
}

.component-details-issue__arrow[data-v-b6b4d81c] {
    margin-left: 8px;
    flex: 0 0 auto;
    font-size: 8px;
    width: 8px;
    height: 8px
}
