
.component-details-model-row[data-v-c3750cf3] {
    width: 100%
}

.component-details-model-row[data-v-c3750cf3]:not(:first-child) {
    margin-top: 8px
}

.component-details-model-row__content[data-v-c3750cf3] {
    line-height: 16px
}
