
.component-details-layer-row[data-v-dee42d06] {
    margin-top: 8px;
    width: 100%;
    display: flex
}

.component-details-layer-row__label[data-v-dee42d06] {
    flex: 1 1 100%;
    color: var(--afs-text-icon-secondary)
}
