
.component-details-issues__default[data-v-a370295c] {
    color: var(--afs-text-icon-secondary);
    cursor: pointer
}

.component-details-issues__title[data-v-a370295c] {
    padding: 12px 16px 0;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--afs-text-icon-hint);
    text-transform: uppercase
}
