
.cross-select-switcher[data-v-9e733a76] {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 8px
}

.cross-select-switcher__icon[data-v-9e733a76] {
    font-size: 1rem
}

.cross-select-switcher[data-v-da9b7176] {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 8px
}

.cross-select-switcher__icon[data-v-da9b7176] {
    font-size: 1rem
}

.cross-select-switcher[data-v-0115fafb] {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 8px
}

.cross-select-switcher__icon[data-v-0115fafb] {
    font-size: 1rem;
    margin-left: auto
}
