
.custom-component-description[data-v-3b23eab8] {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.custom-component-description__main-part[data-v-3b23eab8] {
    display: flex;
    gap: 8px
}

.custom-component-description__manufacturer[data-v-3b23eab8] {
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.custom-component-description__title-link[data-v-3b23eab8] {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis
}

.custom-component-description__title[data-v-3b23eab8] {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px
}

.custom-component-description__img[data-v-3b23eab8] {
    width: 100%;
    max-width: 68px;
    max-height: var(--size-500, 48px);
    border-radius: var(--corner-radius-50, 4px);
    border: 1px solid var(--global-border-base-primary)
}

.custom-component-description__img-alt[data-v-3b23eab8] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 68px;
    height: var(--size-500, 48px);
    font-size: var(--font-size-200, 16px);
    color: var(--gray-700);
    background-color: var(--global-background-base-tertiary);
    border-radius: var(--corner-radius-50, 4px)
}

.custom-component-description__parameters[data-v-3b23eab8] {
    display: flex;
    gap: 4px
}
