
.designator-link-container[data-v-9eb80730] .afs-link.is-focused {
    font-weight: 500
}

.designator-link-container[data-v-9eb80730] .afs-link.is-focused::before {
    display: none !important
}

.designator-link-container[data-v-9b269832] .afs-link.is-focused {
    font-weight: 500
}

.designator-link-container[data-v-9b269832] .afs-link.is-focused::before {
    display: none !important
}

.designator-link-container[data-v-44e2ef9a] .afs-link.is-focused {
    font-weight: 500
}

.designator-link-container[data-v-44e2ef9a] .afs-link.is-focused::before {
    display: none !important
}
