
.detached-comment-header[data-v-3c76cc5f] {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center
}

.detached-comment-header__icon[data-v-3c76cc5f] {
    margin-left: .5em;
    cursor: default
}
