
.details-modal-img[data-v-2c637740] {
    background: var(--color-primary)
}

.details-modal-img {
    background: var(--color-primary)
}

.details-modal-img {
    background: var(--afs-additional-white)
}

.details-modal-img {
    background: var(--color-primary)
}
