
.details-table>.generic-table[data-v-469145b8] {
    min-height: 48px;
    max-height: 240px;
    border-radius: 4px
}

.details-table[data-v-469145b8] .header-cell {
    max-width: 24px
}

.details-table[data-v-469145b8] .header-cell:before {
    content: none
}

.details-table[data-v-469145b8] .header-cell__content {
    height: 24px;
    line-height: 24px
}

.details-table[data-v-469145b8] .header-cell__content span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.details-table tr[data-v-469145b8],.details-table th[data-v-469145b8] {
    line-height: 24px
}

.details-table__data[data-v-469145b8] {
    min-width: 12px;
    width: auto;
    max-width: 32px;
    padding: 0 8px;
    color: var(--afs-text-icon-secondary);
    cursor: default
}

.details-table__data_indented[data-v-469145b8] {
    padding-left: 24px
}

.details-table__data_clickable[data-v-469145b8] {
    cursor: pointer
}

.details-table__color-point[data-v-469145b8] {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid var(--border-primary);
    background-color: var(--afs-additional-gray)
}

.details-table__item-icon[data-v-469145b8] {
    flex: 0 0 auto;
    font-size: 8px
}

.details-table__data-inner[data-v-469145b8] {
    display: flex;
    align-items: center;
    height: 24px;
    gap: .5rem
}

.details-table>.generic-table[data-v-bf9d71a4] {
    min-height: 48px;
    border-radius: 4px
}

.details-table[data-v-bf9d71a4] .header-cell {
    max-width: 24px
}

.details-table[data-v-bf9d71a4] .header-cell:before {
    content: none
}

.details-table[data-v-bf9d71a4] .header-cell__content {
    height: 24px;
    line-height: 20px
}

.details-table[data-v-bf9d71a4] .header-cell__content span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.details-table tr[data-v-bf9d71a4],.details-table th[data-v-bf9d71a4] {
    line-height: 20px
}

.details-table__data[data-v-bf9d71a4] {
    min-width: 12px;
    width: auto;
    max-width: 32px;
    padding: 0 8px;
    color: var(--afs-text-icon-secondary);
    cursor: default
}

.details-table__color-point[data-v-bf9d71a4] {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid var(--border-primary);
    background-color: var(--afs-additional-gray)
}

.details-table__item-icon[data-v-bf9d71a4] {
    flex: 0 0 auto
}

.details-table__data-inner[data-v-bf9d71a4] {
    display: flex;
    align-items: center;
    gap: .5rem
}

.details-table>.generic-table[data-v-3eee719c] {
    min-height: 48px;
    max-height: 240px;
    border-radius: 4px
}

.details-table[data-v-3eee719c] .header-cell {
    max-width: 24px
}

.details-table[data-v-3eee719c] .header-cell:before {
    content: none
}

.details-table[data-v-3eee719c] .header-cell__content {
    height: 24px;
    line-height: 24px
}

.details-table[data-v-3eee719c] .header-cell__content span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.details-table tr[data-v-3eee719c],.details-table th[data-v-3eee719c] {
    line-height: 24px
}

.details-table__data[data-v-3eee719c] {
    min-width: 12px;
    width: auto;
    max-width: 32px;
    padding: 0 8px;
    color: var(--afs-text-icon-secondary);
    cursor: default
}

.details-table__data_indented[data-v-3eee719c] {
    padding-left: 24px
}

.details-table__data_clickable[data-v-3eee719c] {
    cursor: pointer
}

.details-table__color-point[data-v-3eee719c] {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid var(--border-primary);
    background-color: var(--afs-additional-gray)
}

.details-table__item-icon[data-v-3eee719c] {
    flex: 0 0 auto;
    font-size: 8px
}

.details-table__data-inner[data-v-3eee719c] {
    display: flex;
    align-items: center;
    height: 24px;
    gap: .5rem
}
