
.donut-chart-linear-legend .legend-header[data-v-854d639c] {
    font-size: 10px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase
}

.donut-chart-linear-legend .legend-items[data-v-854d639c] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.donut-chart-linear-legend[data-v-854d639c] {
    color: var(--afs-text-secondary)
}

.donut-chart-linear-legend .legend-header[data-v-854d639c] {
    margin-bottom: 4px
}

.donut-chart-linear-legend .legend-items[data-v-854d639c] {
    line-height: 20px;
    width: fit-content;
    overflow: hidden;
    color: var(--afs-text-primary)
}

.donut-chart-linear-legend .legend-item[data-v-854d639c] {
    margin-right: 10px
}

.donut-chart-linear-legend.is-clickable .legend-item[data-v-854d639c-s] {
    cursor: pointer
}
