
.dragger-title[data-v-dac00d15] {
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: 4px 4px 0 0;
    justify-content: space-between;
    min-height: 32px;
    cursor: move;
    background-color: var(--afs-popup);
    border-bottom: 1px solid var(--border-primary)
}

.dragger-title {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px 4px 0 0;
    justify-content: space-between;
    min-height: 32px;
    cursor: move;
    background-color: var(--background-button-secondary)
}
