
.dropdown-menu-content__label[data-v-63696ba3] {
    font-size: 11px;
    line-height: 12px;
    font-weight: 500
}

.dropdown-menu-content__item[data-v-63696ba3] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.dropdown-menu-content[data-v-63696ba3] {
    display: contents
}

.dropdown-menu-content__label[data-v-63696ba3] {
    padding: 0 16px;
    line-height: 24px;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--afs-text-icon-hint)
}

.dropdown-menu-content__item[data-v-63696ba3] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    outline: none;
    border-radius: 0;
    color: var(--afs-text-icon-secondary);
    padding: 0 16px;
    line-height: 24px;
    width: 100%;
    min-width: 120px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dropdown-menu-content__item[data-v-63696ba3] .icon {
    max-width: 16px
}

.dropdown-menu-content__item[data-v-63696ba3] .afs-btn__text {
    flex: auto
}

.dropdown-menu-content__item[data-v-63696ba3]:hover {
    background: var(--afs-secondary-hover) !important
}

.dropdown-menu-content__item:hover .caption[data-v-63696ba3] {
    color: var(--afs-text-icon-primary) !important
}

.dropdown-menu-content__item-content[data-v-63696ba3] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.dropdown-menu-content__item-content .shortcut[data-v-63696ba3] {
    color: var(--afs-text-secondary);
    margin-left: 8px
}

.dropdown-menu-content__separator[data-v-63696ba3] {
    height: 1px;
    background: var(--afs-border);
    margin: 8px 0
}

.dropdown-menu-content__separator[data-v-63696ba3]:last-child {
    display: none
}

.dropdown-menu-content__label[data-v-0fdc8d3d] {
    font-size: 10px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase
}

.dropdown-menu-content__item[data-v-0fdc8d3d] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.dropdown-menu-content[data-v-0fdc8d3d] {
    display: contents
}

.dropdown-menu-content__label[data-v-0fdc8d3d] {
    padding: 0 16px;
    color: var(--afs-text-icon-hint)
}

.dropdown-menu-content__item[data-v-0fdc8d3d] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    outline: none;
    border-radius: 0;
    color: var(--afs-text-icon-secondary);
    padding: 0 16px;
    line-height: 24px;
    width: 100%;
    min-width: 120px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dropdown-menu-content__item[data-v-0fdc8d3d] .icon {
    max-width: 16px
}

.dropdown-menu-content__item[data-v-0fdc8d3d] .afs-btn__text {
    flex: auto
}

.dropdown-menu-content__item[data-v-0fdc8d3d]:hover {
    background: var(--afs-secondary-hover) !important
}

.dropdown-menu-content__item:hover .caption[data-v-0fdc8d3d] {
    color: var(--afs-text-icon-primary) !important
}

.dropdown-menu-content__item-content[data-v-0fdc8d3d] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.dropdown-menu-content__item-content .shortcut[data-v-0fdc8d3d] {
    color: var(--afs-text-secondary);
    margin-left: 8px
}

.dropdown-menu-content__separator[data-v-0fdc8d3d] {
    height: 1px;
    background: var(--afs-border);
    margin: 8px 0
}

.dropdown-menu-content__separator[data-v-0fdc8d3d]:last-child {
    display: none
}
