
.dropdown-menu[data-v-4efe70f4] {
    display: inline-block
}

.dropdown-menu.is-disabled[data-v-4efe70f4] {
    opacity: .48;
    pointer-events: none
}

.dropdown-menu .dropdown-menu__btn[data-v-4efe70f4] {
    position: relative
}
