
.entity-picker-icon[data-v-37e8bc7d] {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center
}

.entity-picker-icon__icon[data-v-37e8bc7d] {
    height: 16px;
    width: 16px
}

.entity-picker-icon__icon.large[data-v-37e8bc7d] {
    height: 32px;
    width: 32px
}
