
.entity-picker-toggle[data-v-fa5c279a] {
    display: flex;
    flex: 0 0 auto;
    height: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.entity-picker-toggle__icon[data-v-fa5c279a] {
    height: 8px;
    width: 8px
}
