
.error[data-v-b89d8c57] {
    border-color: var(--afs-error)
}

.error .icon[data-v-b89d8c57] {
    color: var(--afs-error)
}

.error__container[data-v-5efbb372] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.error__header-overlay-fix[data-v-5efbb372] {
    height: 32px;
    background: var(--color-primary)
}

.error__inner[data-v-5efbb372] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: var(--afs-background)
}

.error__wrapper[data-v-5efbb372] {
    display: flex;
    flex-direction: column;
    align-items: center
}

.error__icon[data-v-5efbb372] {
    display: flex;
    justify-content: center
}

.error__icon svg[data-v-5efbb372] {
    width: 32px;
    height: 32px
}

.error__headline[data-v-5efbb372] {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    align-items: center;
    color: var(--color-primary);
    margin-top: 16px
}

.error__description[data-v-5efbb372] {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    color: var(--color-secondary);
    margin-top: 8px
}

.error__container[data-v-29354d11] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.error__header-overlay-fix[data-v-29354d11] {
    height: 32px;
    background: var(--color-primary)
}

.error__inner[data-v-29354d11] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: var(--afs-background)
}

.error__wrapper[data-v-29354d11] {
    display: flex;
    flex-direction: column;
    align-items: center
}

.error__icon[data-v-29354d11] {
    display: flex;
    justify-content: center
}

.error__icon svg[data-v-29354d11] {
    width: 32px;
    height: 32px
}

.error__headline[data-v-29354d11] {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    align-items: center;
    color: var(--color-primary);
    margin-top: 16px
}

.error__description[data-v-29354d11] {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    color: var(--color-secondary);
    margin-top: 8px
}
