
.error-page[data-v-ebf357e0] {
    text-align: center
}

.error-page__logo[data-v-ebf357e0] {
    display: block;
    margin: 0 auto;
    width: 80px
}

.error-page__icon[data-v-ebf357e0] {
    display: block;
    margin: 0 auto;
    font-size: 32px
}

.error-page__title[data-v-ebf357e0] {
    color: var(--afs-text-icon-primary)
}
