
.esd-area[data-v-75a537e0] {
    position: relative;
    width: 100%;
    height: 100%
}

.esd-area__btn[data-v-75a537e0] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    z-index: 12
}

.esd-area__app[data-v-75a537e0] {
    height: 100%;
    width: 100%
}
