
.fault-row[data-v-9b5b317c] {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.fault-row__text[data-v-9b5b317c] {
    flex: 0 1 auto;
    line-height: 16px;
    color: var(--afs-text-icon-hint)
}

.fault-row__status[data-v-9b5b317c] {
    flex: 0 0 16px;
    margin-left: 16px;
    color: var(--afs-text-icon-hint)
}

.fault-row__status[data-v-9b5b317c]:hover {
    color: var(--afs-text-icon-primary)
}

.fault-row__icon[data-v-9b5b317c] {
    width: 16px;
    height: 16px
}
