
.fbom-footer__item-list[data-v-12b3b39a],.fbom-footer__warning[data-v-12b3b39a] {
    display: flex
}

.fbom-footer[data-v-12b3b39a] {
    display: flex;
    justify-content: space-between
}

.fbom-footer__item+.fbom-footer__item[data-v-12b3b39a] {
    margin-left: 16px
}

.fbom-footer__item-list[data-v-1c855978],.fbom-footer__warning[data-v-1c855978] {
    display: flex
}

.fbom-footer[data-v-1c855978] {
    display: flex;
    justify-content: space-between
}

.fbom-footer__item+.fbom-footer__item[data-v-1c855978] {
    margin-left: 16px
}

.fbom-footer__item-list[data-v-8c19db0e],.fbom-footer__warning[data-v-8c19db0e] {
    display: flex
}

.fbom-footer[data-v-8c19db0e] {
    display: flex;
    justify-content: space-between
}

.fbom-footer__item+.fbom-footer__item[data-v-8c19db0e] {
    margin-left: 16px
}
