
.fbom-no-results {
    display: flex;
    flex-direction: column;
    align-items: center
}

.fbom-no-results__icon {
    font-size: 30px;
    margin-bottom: 18px
}

.fbom-no-results__title {
    margin-bottom: 8px;
    line-height: 24px
}

.fbom-no-results {
    display: flex;
    flex-direction: column;
    align-items: center
}

.fbom-no-results__title {
    margin-bottom: 8px;
    line-height: 24px
}
