
.fbom-search {
    padding: 16px;
    background: var(--afs-background)
}

.fbom-search .afs-search__icon {
    cursor: default
}

.fbom-search {
    padding: 16px;
    background: var(--afs-background)
}

.fbom-search .afs-search__icon {
    cursor: default
}
