
.fbom-footer-row[data-v-790e65e4] {
    width: 100%;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--border-primary)
}

.fbom-footer-row__content[data-v-790e65e4] {
    height: 32px;
    position: sticky;
    left: 0;
    padding: 8px 16px
}
