
.fbox-footer-icon[data-v-12b3b39a] {
    width: 16px;
    height: 16px
}

.fbox-footer-icon[data-v-1c855978] {
    width: 16px;
    height: 16px
}

.fbox-footer-icon[data-v-8c19db0e] {
    width: 16px;
    height: 16px
}
