
.fbox-footer-definitions[data-v-12b3b39a] {
    display: flex
}

.fbox-footer-definitions__title[data-v-12b3b39a] {
    font-weight: var(--font-weight-bold)
}

.fbox-footer-definitions__details[data-v-12b3b39a],.fbom-footer-warning__text[data-v-12b3b39a] {
    margin-left: 8px
}

.fbox-footer-definitions[data-v-1c855978] {
    display: flex
}

.fbox-footer-definitions__title[data-v-1c855978] {
    font-weight: var(--font-weight-bold)
}

.fbox-footer-definitions__details[data-v-1c855978],.fbom-footer-warning__text[data-v-1c855978] {
    margin-left: 8px
}

.fbox-footer-definitions[data-v-8c19db0e] {
    display: flex
}

.fbox-footer-definitions__title[data-v-8c19db0e] {
    font-weight: var(--font-weight-bold)
}

.fbox-footer-definitions__details[data-v-8c19db0e],.fbom-footer-warning__text[data-v-8c19db0e] {
    margin-left: 8px
}
