
.footer {
    padding: .19rem 0 .38rem
}

.footer__control {
    width: 100%;
    padding: .25rem 1rem;
    color: var(--color-meta-secondary);
    background: none;
    font-size: .75rem;
    line-height: 1.34;
    text-align: left
}

.footer__control:focus {
    color: var(--color-meta);
    background: var(--background-clickable_hover)
}
