
.harness-double-row[data-v-5ab0a0c5] {
    display: flex;
    justify-content: flex-start
}

.harness-double-row__label[data-v-5ab0a0c5] {
    width: 55%;
    min-width: 55%;
    margin-right: 7px
}

.harness-double-row__value[data-v-5ab0a0c5] {
    width: 45%;
    min-width: 45%;
    margin-left: 7px
}
