
.health-check-row_active[data-v-4995fc05] {
    cursor: pointer;
    margin-inline:-16px;padding-inline:16px}

.health-check-row_active[data-v-4995fc05]:hover {
    background-color: var(--afs-secondary-hover)
}
