
.icon {
    display: inline-block;
    vertical-align: top;
    height: 1em;
    fill: currentColor
}

.icon {
    display: inline-block;
    vertical-align: top;
    height: 1em
}

.icon+.text[data-v-c1238175] {
    margin-left: 8px
}

.icon[data-v-c8d6d069] {
    width: 32px;
    height: 32px
}

.icon[data-v-b89d8c57] {
    min-width: 16px;
    width: 16px;
    height: 16px
}

.icon[data-v-976f66f7] {
    width: 16px;
    height: 16px
}
