
.icon-compare,.icon-compare-16,.icon-compare-design-16,.icon-compass,.icon-compass-16,.icon-component,.icon-component-16,.icon-component-48,.icon-component-arrow-counterclockwise,.icon-component-gear,.icon-component-on-component-plus-16,.icon-component-plus,.icon-component-question,.icon-component-type-16,.icon-components-multiple,.icon-components-stacked-plus,.icon-consolidate-16,.icon-controller {
    width: 1em
}
