
.icon-project-software,.icon-project-system,.icon-project-upload-16,.icon-question,.icon-question-16,.icon-rectangle-12,.icon-release-bom-32,.icon-release-package,.icon-removed-12,.icon-removed-16,.icon-renesas,.icon-renesas-2,.icon-request-comp-sync-16 {
    width: 1em
}
