
.icon-arrow-right-sharp,.icon-arrow-right-with-rectangle-16,.icon-arrow-shape-turn-up-right,.icon-arrow-split,.icon-arrow-trending-down,.icon-arrow-trending-down-16,.icon-arrow-trending-up {
    width: 1em
}
