
.icon-arrow-up-right,.icon-arrow-up-s,.icon-arrows-circle,.icon-arrows-circle-16,.icon-arrows-down-left-up-right,.icon-arrows-horizontal-inward-bracket,.icon-arrows-horizontal-outward-bracket,.icon-arrows-left-right,.icon-arrows-merge-16 {
    width: 1em
}
