
.icon-scissors,.icon-search-16,.icon-search-2-16,.icon-search-thin-16,.icon-select-32,.icon-send-16,.icon-settings-gear-16,.icon-shapes-stacked,.icon-share-16,.icon-share-dark,.icon-share-light,.icon-shared-16,.icon-shared-16-2,.icon-short-comment-16,.icon-sidebar-16,.icon-signout,.icon-signout-16,.icon-signout-16-2,.icon-simulation-16,.icon-simulation-probe-16,.icon-slider,.icon-slider-16,.icon-soldering-iron,.icon-sort-16 {
    width: 1em
}
