
.icon-folder-empty-32,.icon-folder-opened,.icon-folder-outline-16,.icon-folder-with-arrow-right,.icon-forum-16,.icon-fullscreen-16,.icon-fullscreen-cancel-16,.icon-gear,.icon-gear-16,.icon-gear-16-2,.icon-gear-empty-16,.icon-gear-filled {
    width: 1em
}
