
.icon-external-link-rounded-16,.icon-eye,.icon-eye-16,.icon-eye-16-2,.icon-eye-off-16,.icon-eye-off-16-2,.icon-eye-slash,.icon-eye-small,.icon-eye-small-slash,.icon-eyedropper,.icon-fabrication-16,.icon-fabrication-view-16 {
    width: 1em
}
