
.icon-gerber-compare,.icon-gift-16,.icon-globe,.icon-globe-network,.icon-google-plus,.icon-grid-dots-2x3,.icon-grid-dots-3-x-3,.icon-grid-lines-1×4,.icon-grid-squares-2×2,.icon-grid-squares-2×2-unequal,.icon-group-16,.icon-hashtag,.icon-help-16 {
    width: 1em
}
