
.icon-svg-sprite--9dots,.icon-svg-sprite--a-16,.icon-svg-sprite--activities,.icon-svg-sprite--activities-16,.icon-svg-sprite--activity,.icon-svg-sprite--ad,.icon-svg-sprite--ad-16,.icon-svg-sprite--add-alternate-16,.icon-svg-sprite--add-column-16,.icon-svg-sprite--add-row-16,.icon-svg-sprite--added,.icon-svg-sprite--added-16,.icon-svg-sprite--ai,.icon-svg-sprite--ai-16,.icon-svg-sprite--ai-disabled,.icon-svg-sprite--ai-info,.icon-svg-sprite--ai-warging,.icon-svg-sprite--analyze-16,.icon-svg-sprite--area-16,.icon-svg-sprite--arrow-change,.icon-svg-sprite--arrow-circle,.icon-svg-sprite--arrow-circle-backward,.icon-svg-sprite--arrow-circle-backward-clock,.icon-svg-sprite--arrow-clockwise,.icon-svg-sprite--arrow-counterclockwise,.icon-svg-sprite--arrow-curve-right,.icon-svg-sprite--arrow-down,.icon-svg-sprite--arrow-down-6,.icon-svg-sprite--arrow-down-bracket,.icon-svg-sprite--arrow-down-circle,.icon-svg-sprite--arrow-down-s,.icon-svg-sprite--arrow-down-to-square-bracket,.icon-svg-sprite--arrow-left,.icon-svg-sprite--arrow-left-sharp,.icon-svg-sprite--arrow-merge,.icon-svg-sprite--arrow-right,.icon-svg-sprite--arrow-right-2-12,.icon-svg-sprite--arrow-right-6,.icon-svg-sprite--arrow-right-8,.icon-svg-sprite--arrow-right-bracket {
    width: 1em
}

.icon-svg-sprite--arrow-right-from-rectangle-32 {
    width: 1.0625em
}

.icon-svg-sprite--arrow-right-sharp,.icon-svg-sprite--arrow-right-with-rectangle-16,.icon-svg-sprite--arrow-shape-turn-up-right,.icon-svg-sprite--arrow-split,.icon-svg-sprite--arrow-trending-down,.icon-svg-sprite--arrow-trending-down-16,.icon-svg-sprite--arrow-trending-up {
    width: 1em
}

.icon-svg-sprite--arrow-trending-up-16 {
    width: 1.0625em
}

.icon-svg-sprite--arrow-triangle-reversed-right-sharp,.icon-svg-sprite--arrow-turn-left,.icon-svg-sprite--arrow-turn-right,.icon-svg-sprite--arrow-up,.icon-svg-sprite--arrow-up-arrow-down,.icon-svg-sprite--arrow-up-bracket,.icon-svg-sprite--arrow-up-circle {
    width: 1em
}

.icon-svg-sprite--arrow-up-orange {
    width: 0.7692307692em
}

.icon-svg-sprite--arrow-up-right,.icon-svg-sprite--arrow-up-s,.icon-svg-sprite--arrows-circle,.icon-svg-sprite--arrows-circle-16,.icon-svg-sprite--arrows-down-left-up-right,.icon-svg-sprite--arrows-horizontal-inward-bracket,.icon-svg-sprite--arrows-horizontal-outward-bracket,.icon-svg-sprite--arrows-left-right,.icon-svg-sprite--arrows-merge-16 {
    width: 1em
}

.icon-svg-sprite--arrows-sorting {
    width: 1.1666666667em
}

.icon-svg-sprite--arrows-split-16,.icon-svg-sprite--arrows-up-down,.icon-svg-sprite--arrows-up-right-down-left,.icon-svg-sprite--assembly-16,.icon-svg-sprite--assembly-icon-16,.icon-svg-sprite--assembly-view-16,.icon-svg-sprite--at,.icon-svg-sprite--at-16,.icon-svg-sprite--autofill-extra-qty-16,.icon-svg-sprite--avatar,.icon-svg-sprite--bell,.icon-svg-sprite--bin,.icon-svg-sprite--bin-16,.icon-svg-sprite--block-16,.icon-svg-sprite--blockquote,.icon-svg-sprite--board-info-12,.icon-svg-sprite--bolt,.icon-svg-sprite--bolt-2,.icon-svg-sprite--bom-16,.icon-svg-sprite--book-16,.icon-svg-sprite--book-bookmark,.icon-svg-sprite--book-open,.icon-svg-sprite--bookmark,.icon-svg-sprite--box,.icon-svg-sprite--box-gift,.icon-svg-sprite--boxes,.icon-svg-sprite--bubble,.icon-svg-sprite--bubble-16,.icon-svg-sprite--bubble-add-16,.icon-svg-sprite--bubble-exclamation-16,.icon-svg-sprite--bubble-plus,.icon-svg-sprite--bubble-text,.icon-svg-sprite--building-company,.icon-svg-sprite--building-company-16,.icon-svg-sprite--building-home,.icon-svg-sprite--calendar,.icon-svg-sprite--calendar-16,.icon-svg-sprite--calendar-target,.icon-svg-sprite--camera-photo,.icon-svg-sprite--camera-photo-slash,.icon-svg-sprite--camera-slash,.icon-svg-sprite--camera-video,.icon-svg-sprite--cards-16,.icon-svg-sprite--cart,.icon-svg-sprite--cart-16,.icon-svg-sprite--category-cables-wire,.icon-svg-sprite--category-circuit-protection,.icon-svg-sprite--category-connectors,.icon-svg-sprite--category-discrete-semiconductors,.icon-svg-sprite--category-electromechanical,.icon-svg-sprite--category-integrated-circuits,.icon-svg-sprite--category-optoelectronics,.icon-svg-sprite--category-passive-components,.icon-svg-sprite--category-power-products,.icon-svg-sprite--category-sensors,.icon-svg-sprite--category-uncategorized,.icon-svg-sprite--changed-16,.icon-svg-sprite--character-a-monospace,.icon-svg-sprite--character-a-sans-serif,.icon-svg-sprite--character-a-serif,.icon-svg-sprite--character-b-bold,.icon-svg-sprite--character-i-italic,.icon-svg-sprite--character-s-strikethrough,.icon-svg-sprite--character-t,.icon-svg-sprite--character-u-underline,.icon-svg-sprite--characters-2d,.icon-svg-sprite--characters-3d,.icon-svg-sprite--characters-a-ideograph,.icon-svg-sprite--characters-aa,.icon-svg-sprite--characters-h-1,.icon-svg-sprite--characters-h-2,.icon-svg-sprite--chart-bar-vertical,.icon-svg-sprite--chart-line,.icon-svg-sprite--chart-line-16,.icon-svg-sprite--chart-pie,.icon-svg-sprite--chart-segment,.icon-svg-sprite--chat-16 {
    width: 1em
}

.icon-svg-sprite--check-circle {
    width: 1.0625em
}

.icon-svg-sprite--checklist,.icon-svg-sprite--checklist-16,.icon-svg-sprite--checklist-32,.icon-svg-sprite--checkmark,.icon-svg-sprite--checkmark-8,.icon-svg-sprite--checkmark-circle,.icon-svg-sprite--checkmark-square-16,.icon-svg-sprite--checkmark-starburst,.icon-svg-sprite--chevron-down,.icon-svg-sprite--chevron-down-8,.icon-svg-sprite--chevron-down-s,.icon-svg-sprite--chevron-left,.icon-svg-sprite--chevron-left-16,.icon-svg-sprite--chevron-left-comment,.icon-svg-sprite--chevron-right,.icon-svg-sprite--chevron-right-16,.icon-svg-sprite--chevron-right-comment,.icon-svg-sprite--chevron-right-s-8,.icon-svg-sprite--chevron-up,.icon-svg-sprite--chevron-up-s,.icon-svg-sprite--circle,.icon-svg-sprite--circle-above-arc,.icon-svg-sprite--circle-grid-3-16,.icon-svg-sprite--circle-slash,.icon-svg-sprite--circle-slash-16,.icon-svg-sprite--circle-slash-sparkles,.icon-svg-sprite--circle-triad,.icon-svg-sprite--clipboard-document,.icon-svg-sprite--clipboard-plus,.icon-svg-sprite--clock-16,.icon-svg-sprite--clock-time-3,.icon-svg-sprite--clock-time-7,.icon-svg-sprite--clock2-16,.icon-svg-sprite--clone-16,.icon-svg-sprite--close-16,.icon-svg-sprite--close-8,.icon-svg-sprite--close-rounded-10,.icon-svg-sprite--cloud,.icon-svg-sprite--cloud-16,.icon-svg-sprite--cloud-arrow-up,.icon-svg-sprite--cloud-slash,.icon-svg-sprite--cm-project {
    width: 1em
}

.icon-svg-sprite--co-designer {
    width: 1.03125em
}

.icon-svg-sprite--code-16,.icon-svg-sprite--coins,.icon-svg-sprite--comment-12,.icon-svg-sprite--comment-16,.icon-svg-sprite--comment-48,.icon-svg-sprite--comment-area,.icon-svg-sprite--comment-bubble-text,.icon-svg-sprite--comment-draw,.icon-svg-sprite--comment-left-16,.icon-svg-sprite--comment-left-notice-16,.icon-svg-sprite--comment-pin {
    width: 1em
}

.icon-svg-sprite--comments {
    width: 1.1428571429em
}

.icon-svg-sprite--compare,.icon-svg-sprite--compare-16,.icon-svg-sprite--compare-design-16,.icon-svg-sprite--compass,.icon-svg-sprite--compass-16,.icon-svg-sprite--component,.icon-svg-sprite--component-16,.icon-svg-sprite--component-48,.icon-svg-sprite--component-arrow-counterclockwise,.icon-svg-sprite--component-gear,.icon-svg-sprite--component-on-component-plus-16,.icon-svg-sprite--component-plus,.icon-svg-sprite--component-question,.icon-svg-sprite--component-type-16,.icon-svg-sprite--components-multiple,.icon-svg-sprite--components-stacked-plus,.icon-svg-sprite--consolidate-16,.icon-svg-sprite--controller {
    width: 1em
}

.icon-svg-sprite--controls-12 {
    width: 0.8333333333em
}

.icon-svg-sprite--copy-16,.icon-svg-sprite--counterclockwise-16,.icon-svg-sprite--create-component-16,.icon-svg-sprite--crop,.icon-svg-sprite--crop-marks,.icon-svg-sprite--cross,.icon-svg-sprite--cross-16,.icon-svg-sprite--cross-circle,.icon-svg-sprite--cross-s-8,.icon-svg-sprite--crossprobe-16,.icon-svg-sprite--curve,.icon-svg-sprite--custom-part-16,.icon-svg-sprite--cut-16,.icon-svg-sprite--dashboard-16,.icon-svg-sprite--datasheet-16,.icon-svg-sprite--del-column-16,.icon-svg-sprite--del-row-16,.icon-svg-sprite--delete-alternate,.icon-svg-sprite--deleted,.icon-svg-sprite--design-16,.icon-svg-sprite--desktop-16,.icon-svg-sprite--diagram,.icon-svg-sprite--diamond,.icon-svg-sprite--diamond-16,.icon-svg-sprite--disk-16,.icon-svg-sprite--disk-floppy,.icon-svg-sprite--document,.icon-svg-sprite--document-16,.icon-svg-sprite--document-checkmark-circle,.icon-svg-sprite--document-horiz-16,.icon-svg-sprite--document-horiz-32,.icon-svg-sprite--document-horizontal,.icon-svg-sprite--document-magnifying-glass,.icon-svg-sprite--document-magnifying-glass-16,.icon-svg-sprite--document-schematic,.icon-svg-sprite--document-schematic-badge,.icon-svg-sprite--document-search-16,.icon-svg-sprite--document-text,.icon-svg-sprite--documentation-16,.icon-svg-sprite--documents-schematic-stacked,.icon-svg-sprite--documents-stacked,.icon-svg-sprite--dot-s,.icon-svg-sprite--download,.icon-svg-sprite--download-16,.icon-svg-sprite--download-v2-16,.icon-svg-sprite--downloads-16,.icon-svg-sprite--dragging-16,.icon-svg-sprite--drawer,.icon-svg-sprite--drawer-16,.icon-svg-sprite--drawer-2-16,.icon-svg-sprite--drawer-3-16,.icon-svg-sprite--drop,.icon-svg-sprite--drop-16,.icon-svg-sprite--drop-slash,.icon-svg-sprite--drop-slash-16,.icon-svg-sprite--eclipse,.icon-svg-sprite--edit-16,.icon-svg-sprite--edit-16-2,.icon-svg-sprite--editing-16,.icon-svg-sprite--ellipse-16,.icon-svg-sprite--ellipsis,.icon-svg-sprite--ellipsis-16,.icon-svg-sprite--elm,.icon-svg-sprite--embed,.icon-svg-sprite--emoji-neutral,.icon-svg-sprite--emoji-sad,.icon-svg-sprite--emoji-smile,.icon-svg-sprite--envelope,.icon-svg-sprite--envelope-16,.icon-svg-sprite--envelope-badge,.icon-svg-sprite--equal-16,.icon-svg-sprite--error-64 {
    width: 1em
}

.icon-svg-sprite--exclamation {
    width: 1.2em
}

.icon-svg-sprite--exclamation-circle,.icon-svg-sprite--exclamation-circle-sparkles,.icon-svg-sprite--exclamation-triangle,.icon-svg-sprite--exclamation-triangle-dashed,.icon-svg-sprite--exclamation-triangle-sparkles,.icon-svg-sprite--explorer-16 {
    width: 1em
}

.icon-svg-sprite--export-time-16 {
    width: 1.125em
}

.icon-svg-sprite--external-link-rounded-16,.icon-svg-sprite--eye,.icon-svg-sprite--eye-16,.icon-svg-sprite--eye-16-2,.icon-svg-sprite--eye-off-16,.icon-svg-sprite--eye-off-16-2,.icon-svg-sprite--eye-slash,.icon-svg-sprite--eye-small,.icon-svg-sprite--eye-small-slash,.icon-svg-sprite--eyedropper,.icon-svg-sprite--fabrication-16,.icon-svg-sprite--fabrication-view-16 {
    width: 1em
}

.icon-svg-sprite--facebook {
    width: 0.5714285714em
}

.icon-svg-sprite--failed-16 {
    width: 1em
}

.icon-svg-sprite--failed-mod {
    width: 1.3793103448em
}

.icon-svg-sprite--field-text-cursor,.icon-svg-sprite--file-16,.icon-svg-sprite--file-horiz-16 {
    width: 1em
}

.icon-svg-sprite--file-upload-32 {
    width: 1.4em
}

.icon-svg-sprite--files,.icon-svg-sprite--filter,.icon-svg-sprite--filter-2-16,.icon-svg-sprite--filter-empty-16,.icon-svg-sprite--filter-filled-16,.icon-svg-sprite--filters-12,.icon-svg-sprite--flag,.icon-svg-sprite--flag-16,.icon-svg-sprite--flame,.icon-svg-sprite--flowchart,.icon-svg-sprite--folder,.icon-svg-sprite--folder-16,.icon-svg-sprite--folder-arrow-right-inside {
    width: 1em
}

.icon-svg-sprite--folder-empty-16 {
    width: 1.2307692308em
}

.icon-svg-sprite--folder-empty-32,.icon-svg-sprite--folder-opened,.icon-svg-sprite--folder-outline-16,.icon-svg-sprite--folder-with-arrow-right,.icon-svg-sprite--forum-16,.icon-svg-sprite--fullscreen-16,.icon-svg-sprite--fullscreen-cancel-16,.icon-svg-sprite--gear,.icon-svg-sprite--gear-16,.icon-svg-sprite--gear-16-2,.icon-svg-sprite--gear-empty-16,.icon-svg-sprite--gear-filled {
    width: 1em
}

.icon-svg-sprite--generic-folder-16 {
    width: 0.9411764706em
}

.icon-svg-sprite--gerber-compare,.icon-svg-sprite--gift-16,.icon-svg-sprite--globe,.icon-svg-sprite--globe-network,.icon-svg-sprite--google-plus,.icon-svg-sprite--grid-dots-2x3,.icon-svg-sprite--grid-dots-3-x-3,.icon-svg-sprite--grid-lines-1×4,.icon-svg-sprite--grid-squares-2×2,.icon-svg-sprite--grid-squares-2×2-unequal,.icon-svg-sprite--group-16,.icon-svg-sprite--hashtag,.icon-svg-sprite--help-16 {
    width: 1em
}

.icon-svg-sprite--hidden-24 {
    width: 1.0909090909em
}

.icon-svg-sprite--history-16,.icon-svg-sprite--history-2-16,.icon-svg-sprite--history_16,.icon-svg-sprite--home-16,.icon-svg-sprite--img-16,.icon-svg-sprite--inbox-16,.icon-svg-sprite--info-16,.icon-svg-sprite--info-2-16,.icon-svg-sprite--info-circle,.icon-svg-sprite--info-circle-sparkles,.icon-svg-sprite--info-small-circle-filled,.icon-svg-sprite--internet-explorer,.icon-svg-sprite--kanban,.icon-svg-sprite--kanban-board,.icon-svg-sprite--language-16,.icon-svg-sprite--layers-16,.icon-svg-sprite--layers-bottom-view,.icon-svg-sprite--layers-stacked,.icon-svg-sprite--layers-stacked-diagonally,.icon-svg-sprite--layers-top-view,.icon-svg-sprite--layers-v2-16,.icon-svg-sprite--layout-left,.icon-svg-sprite--layout-left-top,.icon-svg-sprite--left-16,.icon-svg-sprite--lego-brick {
    width: 1em
}

.icon-svg-sprite--library-16 {
    width: .875em
}

.icon-svg-sprite--lifecycle-state-16,.icon-svg-sprite--light-bulb,.icon-svg-sprite--light-bulb-16,.icon-svg-sprite--line-diagonal,.icon-svg-sprite--line-diagonal-dashed,.icon-svg-sprite--line-diagonal-dotted,.icon-svg-sprite--line-end-circle,.icon-svg-sprite--line-end-diamond,.icon-svg-sprite--line-end-square,.icon-svg-sprite--line-end-triangle,.icon-svg-sprite--line-horizontal,.icon-svg-sprite--line-start-circle,.icon-svg-sprite--line-start-diamond,.icon-svg-sprite--line-start-square,.icon-svg-sprite--line-start-triangle,.icon-svg-sprite--line-start-triangle-reversed,.icon-svg-sprite--line-trend-16,.icon-svg-sprite--lines-4-center,.icon-svg-sprite--lines-4-left,.icon-svg-sprite--lines-4-right,.icon-svg-sprite--lines-bottom,.icon-svg-sprite--lines-filter,.icon-svg-sprite--lines-horizontal-3,.icon-svg-sprite--lines-horizontal-3-justify,.icon-svg-sprite--lines-irregular,.icon-svg-sprite--lines-left,.icon-svg-sprite--lines-left-arrow-down,.icon-svg-sprite--lines-left-arrow-up,.icon-svg-sprite--lines-middle,.icon-svg-sprite--lines-paragraph,.icon-svg-sprite--lines-parallel-shifted,.icon-svg-sprite--lines-styled,.icon-svg-sprite--lines-top,.icon-svg-sprite--lines-weighted,.icon-svg-sprite--link,.icon-svg-sprite--link-16,.icon-svg-sprite--link-16-2,.icon-svg-sprite--link-slash,.icon-svg-sprite--link-to-16 {
    width: 1em
}

.icon-svg-sprite--linkedin {
    width: 1.0714285714em
}

.icon-svg-sprite--list-1-16,.icon-svg-sprite--list-2-16,.icon-svg-sprite--list-3-16,.icon-svg-sprite--list-4-16,.icon-svg-sprite--list-bulleted,.icon-svg-sprite--list-numbered,.icon-svg-sprite--loader-16,.icon-svg-sprite--loader-2-16,.icon-svg-sprite--lock,.icon-svg-sprite--lock-2 {
    width: 1em
}

.icon-svg-sprite--lock-filled {
    width: .75em
}

.icon-svg-sprite--magic-wand,.icon-svg-sprite--magnifying-glass,.icon-svg-sprite--manufacturing-16,.icon-svg-sprite--marker-local-changes,.icon-svg-sprite--markup-brackets-curly,.icon-svg-sprite--markup-brackets-slash,.icon-svg-sprite--maximize-16,.icon-svg-sprite--mcad,.icon-svg-sprite--measurements-16,.icon-svg-sprite--minimize-16,.icon-svg-sprite--minus,.icon-svg-sprite--minus-16,.icon-svg-sprite--modified {
    width: 1em
}

.icon-svg-sprite--module-16,.icon-svg-sprite--module-32 {
    width: 1.1428571429em
}

.icon-svg-sprite--moon {
    width: 1em
}

.icon-svg-sprite--more {
    width: 4em
}

.icon-svg-sprite--more-16,.icon-svg-sprite--more-16-2,.icon-svg-sprite--move,.icon-svg-sprite--multiboard,.icon-svg-sprite--net-12 {
    width: 1em
}

.icon-svg-sprite--not-mapped-64 {
    width: 1.015625em
}

.icon-svg-sprite--notification-12,.icon-svg-sprite--open-16,.icon-svg-sprite--order-bom-16,.icon-svg-sprite--orders,.icon-svg-sprite--overview,.icon-svg-sprite--package-16,.icon-svg-sprite--paint-16,.icon-svg-sprite--paint-16-2,.icon-svg-sprite--paint-brush,.icon-svg-sprite--paint-bucket,.icon-svg-sprite--palette,.icon-svg-sprite--paper-plane,.icon-svg-sprite--paperclip,.icon-svg-sprite--paperclip-16,.icon-svg-sprite--paperplane-16,.icon-svg-sprite--parchment,.icon-svg-sprite--part,.icon-svg-sprite--part-16,.icon-svg-sprite--part-choice-16,.icon-svg-sprite--part-choice-32,.icon-svg-sprite--part-request-16,.icon-svg-sprite--part-request-16-2,.icon-svg-sprite--part-requests-management,.icon-svg-sprite--paste-16,.icon-svg-sprite--pause,.icon-svg-sprite--pcb,.icon-svg-sprite--pcb-16,.icon-svg-sprite--pcb-16-2,.icon-svg-sprite--pcb-parts,.icon-svg-sprite--pencil,.icon-svg-sprite--people-16,.icon-svg-sprite--person-16,.icon-svg-sprite--person-circle,.icon-svg-sprite--person-couple,.icon-svg-sprite--person-couple-16,.icon-svg-sprite--person-display,.icon-svg-sprite--person-plus,.icon-svg-sprite--person-plus-16,.icon-svg-sprite--phone,.icon-svg-sprite--photo-32,.icon-svg-sprite--picture,.icon-svg-sprite--picture-16,.icon-svg-sprite--pin,.icon-svg-sprite--pin-16,.icon-svg-sprite--pin-empty-16,.icon-svg-sprite--pin-filled-16,.icon-svg-sprite--pin-slash,.icon-svg-sprite--play,.icon-svg-sprite--play-16,.icon-svg-sprite--plug,.icon-svg-sprite--plug-16,.icon-svg-sprite--plus,.icon-svg-sprite--plus-12,.icon-svg-sprite--plus-16,.icon-svg-sprite--plus-16-2,.icon-svg-sprite--polygon-points,.icon-svg-sprite--port-wire,.icon-svg-sprite--price,.icon-svg-sprite--price-16,.icon-svg-sprite--probe-16,.icon-svg-sprite--process,.icon-svg-sprite--process-active {
    width: 1em
}

.icon-svg-sprite--project-create-16,.icon-svg-sprite--project-upload-16 {
    width: 1.1428571429em
}

.icon-svg-sprite--projects {
    width: 1.3333333333em
}

.icon-svg-sprite--projects-16,.icon-svg-sprite--publish-16,.icon-svg-sprite--question-16,.icon-svg-sprite--question-circle,.icon-svg-sprite--quota-16,.icon-svg-sprite--rating-star-16,.icon-svg-sprite--rating-star-fill-16,.icon-svg-sprite--rectangle-above-line,.icon-svg-sprite--rectangle-between-lines-horizontal,.icon-svg-sprite--rectangle-between-lines-vertical,.icon-svg-sprite--rectangle-corners,.icon-svg-sprite--rectangles-aligned-bottom,.icon-svg-sprite--rectangles-aligned-center,.icon-svg-sprite--rectangles-aligned-left,.icon-svg-sprite--rectangles-aligned-middle,.icon-svg-sprite--rectangles-aligned-top,.icon-svg-sprite--rectangles-horizontal-2-right-aligned,.icon-svg-sprite--rectangles-unaligned,.icon-svg-sprite--refresh-16,.icon-svg-sprite--refresh-2-16 {
    width: 1em
}

.icon-svg-sprite--releases-16 {
    width: 1.1428571429em
}

.icon-svg-sprite--reload-16 {
    width: 1em
}

.icon-svg-sprite--remap-columns-16 {
    width: .875em
}

.icon-svg-sprite--remove-16,.icon-svg-sprite--remove-row-16,.icon-svg-sprite--removed-16 {
    width: 1em
}

.icon-svg-sprite--render-loader-32 {
    width: 1.4em
}

.icon-svg-sprite--report-16,.icon-svg-sprite--requirement-16,.icon-svg-sprite--reset-32 {
    width: 1em
}

.icon-svg-sprite--resolve-16 {
    width: 1.0625em
}

.icon-svg-sprite--revert,.icon-svg-sprite--revert-to-16,.icon-svg-sprite--right-16,.icon-svg-sprite--rocket,.icon-svg-sprite--ruler-line-segment,.icon-svg-sprite--schematic-16 {
    width: 1em
}

.icon-svg-sprite--schematic-modified {
    width: 1.1428571429em
}

.icon-svg-sprite--schematic-multi-16 {
    width: 1.4em
}

.icon-svg-sprite--scissors,.icon-svg-sprite--search-16,.icon-svg-sprite--search-2-16,.icon-svg-sprite--search-thin-16,.icon-svg-sprite--select-32,.icon-svg-sprite--send-16,.icon-svg-sprite--settings-gear-16,.icon-svg-sprite--shapes-stacked,.icon-svg-sprite--share-16,.icon-svg-sprite--share-dark,.icon-svg-sprite--share-light,.icon-svg-sprite--shared-16,.icon-svg-sprite--shared-16-2,.icon-svg-sprite--short-comment-16,.icon-svg-sprite--sidebar-16,.icon-svg-sprite--signout,.icon-svg-sprite--signout-16,.icon-svg-sprite--signout-16-2,.icon-svg-sprite--simulation-16,.icon-svg-sprite--simulation-probe-16,.icon-svg-sprite--slider,.icon-svg-sprite--slider-16,.icon-svg-sprite--soldering-iron,.icon-svg-sprite--sort-16 {
    width: 1em
}

.icon-svg-sprite--sort-down,.icon-svg-sprite--sort-up {
    width: 1.1666666667em
}

.icon-svg-sprite--sparkles,.icon-svg-sprite--square,.icon-svg-sprite--square-16,.icon-svg-sprite--square-arrow-turn-left-down,.icon-svg-sprite--square-arrow-up-left-in,.icon-svg-sprite--square-arrow-up-right,.icon-svg-sprite--square-code,.icon-svg-sprite--square-dashed,.icon-svg-sprite--square-fill-16,.icon-svg-sprite--square-grid-4,.icon-svg-sprite--square-grid-asymmetrical,.icon-svg-sprite--square-handles-squares-inside,.icon-svg-sprite--square-line-horizontal-inside,.icon-svg-sprite--square-lines-vertical-inside,.icon-svg-sprite--square-markup-brackets-inside,.icon-svg-sprite--square-on-square-plus-16,.icon-svg-sprite--square-small,.icon-svg-sprite--square-small-dot-inside,.icon-svg-sprite--square-small-minus-inside,.icon-svg-sprite--square-small-plus-inside,.icon-svg-sprite--squares-intersect,.icon-svg-sprite--squares-intersect-handles,.icon-svg-sprite--squares-stacked-plus-inside,.icon-svg-sprite--squares-vertical-transition,.icon-svg-sprite--stackup-16,.icon-svg-sprite--star,.icon-svg-sprite--star-16,.icon-svg-sprite--star-fill-12,.icon-svg-sprite--star-rounded-16,.icon-svg-sprite--star-rounded-filled-16,.icon-svg-sprite--stream-16,.icon-svg-sprite--sun,.icon-svg-sprite--support-16,.icon-svg-sprite--switch-16,.icon-svg-sprite--symbol-grounding,.icon-svg-sprite--table,.icon-svg-sprite--table-16,.icon-svg-sprite--table-column-minus,.icon-svg-sprite--table-column-plus,.icon-svg-sprite--table-columns,.icon-svg-sprite--table-pencil,.icon-svg-sprite--table-row-minus,.icon-svg-sprite--table-row-plus,.icon-svg-sprite--tables-stacked,.icon-svg-sprite--tables-stacked-16,.icon-svg-sprite--tag {
    width: 1em
}

.icon-svg-sprite--tag-16 {
    width: 1.0625em
}

.icon-svg-sprite--target,.icon-svg-sprite--target-price,.icon-svg-sprite--task-16 {
    width: 1em
}

.icon-svg-sprite--tasks {
    width: .875em
}

.icon-svg-sprite--team {
    width: 1.0666666667em
}

.icon-svg-sprite--team-16,.icon-svg-sprite--team-16-2,.icon-svg-sprite--text-16,.icon-svg-sprite--thermometer,.icon-svg-sprite--thickness,.icon-svg-sprite--thumb-down,.icon-svg-sprite--thumb-up,.icon-svg-sprite--toggles {
    width: 1em
}

.icon-svg-sprite--training-16 {
    width: 1.0666666667em
}

.icon-svg-sprite--trash {
    width: 1em
}

.icon-svg-sprite--trash-16 {
    width: .9375em
}

.icon-svg-sprite--triangle,.icon-svg-sprite--unchanged,.icon-svg-sprite--union-12,.icon-svg-sprite--unlink-16,.icon-svg-sprite--unmodified {
    width: 1em
}

.icon-svg-sprite--up-8 {
    width: 0.8888888889em
}

.icon-svg-sprite--update-component-revision,.icon-svg-sprite--upload-16,.icon-svg-sprite--upload-32,.icon-svg-sprite--uploads-16,.icon-svg-sprite--user-16,.icon-svg-sprite--user-v2,.icon-svg-sprite--utility-arrow-down,.icon-svg-sprite--utility-arrow-left,.icon-svg-sprite--utility-arrow-right,.icon-svg-sprite--utility-arrow-up,.icon-svg-sprite--utility-checkmark,.icon-svg-sprite--utility-chevron-down,.icon-svg-sprite--utility-chevron-left,.icon-svg-sprite--utility-chevron-right,.icon-svg-sprite--utility-chevron-up,.icon-svg-sprite--utility-cross,.icon-svg-sprite--utility-dash,.icon-svg-sprite--utility-dot,.icon-svg-sprite--utility-pencil,.icon-svg-sprite--utility-square-arrow-up-right,.icon-svg-sprite--video-16,.icon-svg-sprite--video-16-2,.icon-svg-sprite--video-icon,.icon-svg-sprite--viewer-download-16,.icon-svg-sprite--viewer-fullscreen-16,.icon-svg-sprite--viewer-fullscreen-cancel-16 {
    width: 1em
}

.icon-svg-sprite--viewer-help-16 {
    width: .625em
}

.icon-svg-sprite--viewer-measurements-16,.icon-svg-sprite--viewer-search-16 {
    width: 1em
}

.icon-svg-sprite--visible-24 {
    width: 1.5em
}

.icon-svg-sprite--warning {
    width: 1.2em
}

.icon-svg-sprite--wave,.icon-svg-sprite--wave-16,.icon-svg-sprite--window,.icon-svg-sprite--window-desktop,.icon-svg-sprite--workflow-16 {
    width: 1em
}

.icon-svg-sprite--workspace {
    width: 1.0625em
}

.icon-svg-sprite--workspace-offline-16,.icon-svg-sprite--workspace-offline-32,.icon-svg-sprite-filled--3D-2,.icon-svg-sprite-filled--3d-32 {
    width: 1em
}
