
.icon-svg-sprite-filled--activity-16 {
    width: 0.8888888889em
}

.icon-svg-sprite-filled--added-12,.icon-svg-sprite-filled--added-16,.icon-svg-sprite-filled--ai,.icon-svg-sprite-filled--ai-16,.icon-svg-sprite-filled--ai-2,.icon-svg-sprite-filled--ai-32,.icon-svg-sprite-filled--ai-disabled,.icon-svg-sprite-filled--ai-info,.icon-svg-sprite-filled--ai-warging {
    width: 1em
}

.icon-svg-sprite-filled--altium-agile {
    width: .625em
}

.icon-svg-sprite-filled--altium-designer {
    width: 1.03125em
}

.icon-svg-sprite-filled--amf-address-business,.icon-svg-sprite-filled--amf-address-home,.icon-svg-sprite-filled--amf-icon-cart,.icon-svg-sprite-filled--amf-icon-check-gray,.icon-svg-sprite-filled--amf-icon-check-green,.icon-svg-sprite-filled--amf-icon-cost,.icon-svg-sprite-filled--amf-icon-dblcheck-gray,.icon-svg-sprite-filled--amf-icon-repeat-gray,.icon-svg-sprite-filled--amf-icon-repeat-white,.icon-svg-sprite-filled--amf-icon-stop-red,.icon-svg-sprite-filled--amf-icon-time,.icon-svg-sprite-filled--amf-invoice-tax-company,.icon-svg-sprite-filled--amf-invoice-tax-individual,.icon-svg-sprite-filled--amf-invoice-vat,.icon-svg-sprite-filled--amf-radio-checked,.icon-svg-sprite-filled--amf-radio-unchecked,.icon-svg-sprite-filled--amf-stage-active,.icon-svg-sprite-filled--amf-stage-cancelled,.icon-svg-sprite-filled--amf-stage-completed,.icon-svg-sprite-filled--amf-stage-enqueued,.icon-svg-sprite-filled--amf-stage-pending,.icon-svg-sprite-filled--ansys-edb-16,.icon-svg-sprite-filled--archive-16,.icon-svg-sprite-filled--assembly,.icon-svg-sprite-filled--assembly-16,.icon-svg-sprite-filled--assembly-assistant-16,.icon-svg-sprite-filled--assembly-assistant-32,.icon-svg-sprite-filled--assembly-menu-16,.icon-svg-sprite-filled--attention-32,.icon-svg-sprite-filled--avatar,.icon-svg-sprite-filled--binary-file,.icon-svg-sprite-filled--block-32,.icon-svg-sprite-filled--bom,.icon-svg-sprite-filled--bom-16,.icon-svg-sprite-filled--bom-consolidated-16,.icon-svg-sprite-filled--bom-file-16,.icon-svg-sprite-filled--bom-menu-16,.icon-svg-sprite-filled--bom-portal-32,.icon-svg-sprite-filled--bom-release-32,.icon-svg-sprite-filled--bom-template,.icon-svg-sprite-filled--book-32,.icon-svg-sprite-filled--bus-net-16,.icon-svg-sprite-filled--c-base,.icon-svg-sprite-filled--c-manufacturer,.icon-svg-sprite-filled--c-supplier,.icon-svg-sprite-filled--cabinet-16 {
    width: 1em
}

.icon-svg-sprite-filled--cady-32 {
    width: 3.875em
}

.icon-svg-sprite-filled--changed-16 {
    width: 1em
}

.icon-svg-sprite-filled--check-circle {
    width: 1.0625em
}

.icon-svg-sprite-filled--checklist-template-16,.icon-svg-sprite-filled--checklist-template-32,.icon-svg-sprite-filled--chevron-down-s,.icon-svg-sprite-filled--circle,.icon-svg-sprite-filled--close-bw-16,.icon-svg-sprite-filled--cm-project,.icon-svg-sprite-filled--co-designer-32,.icon-svg-sprite-filled--compare-32,.icon-svg-sprite-filled--compare-added-12,.icon-svg-sprite-filled--compare-alldiff,.icon-svg-sprite-filled--compare-different-12,.icon-svg-sprite-filled--compare-identical-12,.icon-svg-sprite-filled--compare-object-added-16,.icon-svg-sprite-filled--compare-object-kind-bond-wire,.icon-svg-sprite-filled--compare-object-kind-connection,.icon-svg-sprite-filled--compare-object-kind-polygon-accordion,.icon-svg-sprite-filled--compare-object-kind-polygon-pour,.icon-svg-sprite-filled--compare-object-kind-via-shielding,.icon-svg-sprite-filled--compare-object-kind-via-stitching,.icon-svg-sprite-filled--compare-object-modified-16,.icon-svg-sprite-filled--compare-object-removed-16,.icon-svg-sprite-filled--compare-object-unchanged-16,.icon-svg-sprite-filled--compare-removed-12,.icon-svg-sprite-filled--component,.icon-svg-sprite-filled--component-16,.icon-svg-sprite-filled--component-3d-16,.icon-svg-sprite-filled--component-base-16,.icon-svg-sprite-filled--component-blue-16,.icon-svg-sprite-filled--component-library,.icon-svg-sprite-filled--component-managed,.icon-svg-sprite-filled--component-manufacturer-16,.icon-svg-sprite-filled--component-supplier-16,.icon-svg-sprite-filled--component-template,.icon-svg-sprite-filled--csv-file-16,.icon-svg-sprite-filled--design-review {
    width: 1em
}

.icon-svg-sprite-filled--design-review-32 {
    width: 1.03125em
}

.icon-svg-sprite-filled--devices,.icon-svg-sprite-filled--doc-16,.icon-svg-sprite-filled--draftsman-document-template,.icon-svg-sprite-filled--draftsman-sheet-template,.icon-svg-sprite-filled--eagle-16,.icon-svg-sprite-filled--elm-32,.icon-svg-sprite-filled--entity-32,.icon-svg-sprite-filled--envelope-badge-16,.icon-svg-sprite-filled--error,.icon-svg-sprite-filled--error-32,.icon-svg-sprite-filled--error-64,.icon-svg-sprite-filled--error-folder-16 {
    width: 1em
}

.icon-svg-sprite-filled--error-violation-16 {
    width: 1.0625em
}

.icon-svg-sprite-filled--esd-32 {
    width: 1em
}

.icon-svg-sprite-filled--expired {
    width: 0.8636363636em
}

.icon-svg-sprite-filled--fabrication,.icon-svg-sprite-filled--fabrication-16,.icon-svg-sprite-filled--fabrication-menu-16,.icon-svg-sprite-filled--facebook,.icon-svg-sprite-filled--fatal-error-folder-16 {
    width: 1em
}

.icon-svg-sprite-filled--fatal-error-violation-16 {
    width: 1.0625em
}

.icon-svg-sprite-filled--feature-activity,.icon-svg-sprite-filled--feature-compare,.icon-svg-sprite-filled--feature-component-sync,.icon-svg-sprite-filled--feature-layerstack,.icon-svg-sprite-filled--feature-local-history,.icon-svg-sprite-filled--feature-part-request,.icon-svg-sprite-filled--feature-project-creation,.icon-svg-sprite-filled--feature-stitching,.icon-svg-sprite-filled--feature-task,.icon-svg-sprite-filled--feature-variant,.icon-svg-sprite-filled--feature-version,.icon-svg-sprite-filled--file-16,.icon-svg-sprite-filled--file-3d,.icon-svg-sprite-filled--file-assembly-multiboard,.icon-svg-sprite-filled--file-binary,.icon-svg-sprite-filled--file-bom,.icon-svg-sprite-filled--file-bom-active,.icon-svg-sprite-filled--file-bom-consolidated,.icon-svg-sprite-filled--file-bom-template,.icon-svg-sprite-filled--file-checklist-template,.icon-svg-sprite-filled--file-component-template,.icon-svg-sprite-filled--file-csv,.icon-svg-sprite-filled--file-design-review,.icon-svg-sprite-filled--file-doc,.icon-svg-sprite-filled--file-draftsman,.icon-svg-sprite-filled--file-draftsman-template,.icon-svg-sprite-filled--file-generic,.icon-svg-sprite-filled--file-gerber,.icon-svg-sprite-filled--file-harness-layout-drawing,.icon-svg-sprite-filled--file-harness-wiring-diagram,.icon-svg-sprite-filled--file-html,.icon-svg-sprite-filled--file-odb,.icon-svg-sprite-filled--file-output,.icon-svg-sprite-filled--file-pcb,.icon-svg-sprite-filled--file-pdf,.icon-svg-sprite-filled--file-requirement,.icon-svg-sprite-filled--file-requirement-block,.icon-svg-sprite-filled--file-requirement-spec,.icon-svg-sprite-filled--file-rtf,.icon-svg-sprite-filled--file-schematic,.icon-svg-sprite-filled--file-schematic-managed,.icon-svg-sprite-filled--file-schematic-multiboard,.icon-svg-sprite-filled--file-schematic-orcad,.icon-svg-sprite-filled--file-schematic-root,.icon-svg-sprite-filled--file-script,.icon-svg-sprite-filled--file-simulation,.icon-svg-sprite-filled--file-step,.icon-svg-sprite-filled--file-txt,.icon-svg-sprite-filled--file-txt-16,.icon-svg-sprite-filled--file-xls,.icon-svg-sprite-filled--file-xml,.icon-svg-sprite-filled--folder,.icon-svg-sprite-filled--folder-16,.icon-svg-sprite-filled--folder-green-16,.icon-svg-sprite-filled--folder-open-16,.icon-svg-sprite-filled--footprint-16,.icon-svg-sprite-filled--gerber-16,.icon-svg-sprite-filled--gerber-compare-12,.icon-svg-sprite-filled--gerber-source-12,.icon-svg-sprite-filled--gerber-target-12,.icon-svg-sprite-filled--google-plus {
    width: 1em
}

.icon-svg-sprite-filled--gray-folder {
    width: 1.2666666667em
}

.icon-svg-sprite-filled--guest-32,.icon-svg-sprite-filled--hardware,.icon-svg-sprite-filled--harness-16,.icon-svg-sprite-filled--harness-layout-16,.icon-svg-sprite-filled--harness-wiring-16,.icon-svg-sprite-filled--help-12,.icon-svg-sprite-filled--html-16,.icon-svg-sprite-filled--icon-3d-body,.icon-svg-sprite-filled--icon-arcs,.icon-svg-sprite-filled--icon-connection-lines,.icon-svg-sprite-filled--icon-coordinates,.icon-svg-sprite-filled--icon-dimension,.icon-svg-sprite-filled--icon-fills,.icon-svg-sprite-filled--icon-keepouts,.icon-svg-sprite-filled--icon-pads,.icon-svg-sprite-filled--icon-polygons,.icon-svg-sprite-filled--icon-regions,.icon-svg-sprite-filled--icon-rooms,.icon-svg-sprite-filled--icon-server,.icon-svg-sprite-filled--icon-texts,.icon-svg-sprite-filled--icon-tracks,.icon-svg-sprite-filled--icon-vias,.icon-svg-sprite-filled--info-12,.icon-svg-sprite-filled--info-16 {
    width: 1em
}

.icon-svg-sprite-filled--jira {
    width: 1.0625em
}

.icon-svg-sprite-filled--jira-32,.icon-svg-sprite-filled--key-2,.icon-svg-sprite-filled--key-3,.icon-svg-sprite-filled--key-5,.icon-svg-sprite-filled--key-f,.icon-svg-sprite-filled--kicad-16,.icon-svg-sprite-filled--layer-stack,.icon-svg-sprite-filled--linkedin,.icon-svg-sprite-filled--loader-16,.icon-svg-sprite-filled--loader-64 {
    width: 1em
}

.icon-svg-sprite-filled--lock {
    width: 0.9696969697em
}

.icon-svg-sprite-filled--logo {
    width: 1.6666666667em
}

.icon-svg-sprite-filled--logo-32,.icon-svg-sprite-filled--logo-48 {
    width: 1em
}

.icon-svg-sprite-filled--logo-ad-lifecycle {
    width: 0.9411764706em
}

.icon-svg-sprite-filled--logo-ai,.icon-svg-sprite-filled--logo-altimade,.icon-svg-sprite-filled--logo-altium,.icon-svg-sprite-filled--logo-altium-365,.icon-svg-sprite-filled--logo-altium-ai,.icon-svg-sprite-filled--logo-altium-designer,.icon-svg-sprite-filled--logo-assembly-assistant,.icon-svg-sprite-filled--logo-bom-portal,.icon-svg-sprite-filled--logo-circuit-maker,.icon-svg-sprite-filled--logo-circuit-studio,.icon-svg-sprite-filled--logo-co-designer,.icon-svg-sprite-filled--logo-design-review,.icon-svg-sprite-filled--logo-devices,.icon-svg-sprite-filled--logo-eagle,.icon-svg-sprite-filled--logo-elm,.icon-svg-sprite-filled--logo-hardware,.icon-svg-sprite-filled--logo-ihs,.icon-svg-sprite-filled--logo-jira-cloud,.icon-svg-sprite-filled--logo-kicad,.icon-svg-sprite-filled--logo-nexus,.icon-svg-sprite-filled--logo-octopart,.icon-svg-sprite-filled--logo-orcad,.icon-svg-sprite-filled--logo-pads,.icon-svg-sprite-filled--logo-renesas-365,.icon-svg-sprite-filled--logo-requirements,.icon-svg-sprite-filled--logo-silicon-expert,.icon-svg-sprite-filled--logo-silicon-expert-32,.icon-svg-sprite-filled--logo-software,.icon-svg-sprite-filled--logo-spectra,.icon-svg-sprite-filled--logo-system,.icon-svg-sprite-filled--logo-z2data,.icon-svg-sprite-filled--marker-clone,.icon-svg-sprite-filled--marker-commit-basic,.icon-svg-sprite-filled--marker-commit-current,.icon-svg-sprite-filled--marker-mcad-1,.icon-svg-sprite-filled--marker-mcad-2,.icon-svg-sprite-filled--marker-package,.icon-svg-sprite-filled--marker-release,.icon-svg-sprite-filled--mcad-16,.icon-svg-sprite-filled--mcad-tool-autodesc-inventor,.icon-svg-sprite-filled--mcad-tool-autodesk-fusion,.icon-svg-sprite-filled--mcad-tool-ptc-creo,.icon-svg-sprite-filled--mcad-tool-siemens,.icon-svg-sprite-filled--mcad-tool-solidworks,.icon-svg-sprite-filled--model-footprint,.icon-svg-sprite-filled--model-harness-layout,.icon-svg-sprite-filled--model-harness-wiring,.icon-svg-sprite-filled--model-simulation,.icon-svg-sprite-filled--model-symbol,.icon-svg-sprite-filled--multiboard,.icon-svg-sprite-filled--multiboard-16,.icon-svg-sprite-filled--multiboard-32,.icon-svg-sprite-filled--multiboard-asm-16,.icon-svg-sprite-filled--multiboard-sch-16,.icon-svg-sprite-filled--net,.icon-svg-sprite-filled--net-16,.icon-svg-sprite-filled--net-16-v2,.icon-svg-sprite-filled--net-diffpair-16,.icon-svg-sprite-filled--next-layer-24,.icon-svg-sprite-filled--object-3d-body,.icon-svg-sprite-filled--object-accordion,.icon-svg-sprite-filled--object-arc,.icon-svg-sprite-filled--object-bond-wire,.icon-svg-sprite-filled--object-component,.icon-svg-sprite-filled--object-connection,.icon-svg-sprite-filled--object-connection-line,.icon-svg-sprite-filled--object-coordinate,.icon-svg-sprite-filled--object-diamond,.icon-svg-sprite-filled--object-dimension,.icon-svg-sprite-filled--object-fill,.icon-svg-sprite-filled--object-keepout,.icon-svg-sprite-filled--object-net,.icon-svg-sprite-filled--object-pad,.icon-svg-sprite-filled--object-part,.icon-svg-sprite-filled--object-polygon,.icon-svg-sprite-filled--object-port,.icon-svg-sprite-filled--object-region,.icon-svg-sprite-filled--object-reuse-block,.icon-svg-sprite-filled--object-room,.icon-svg-sprite-filled--object-shielding,.icon-svg-sprite-filled--object-text,.icon-svg-sprite-filled--object-track,.icon-svg-sprite-filled--object-via,.icon-svg-sprite-filled--octagonal-12 {
    width: 1em
}

.icon-svg-sprite-filled--odb-16 {
    width: 1.125em
}

.icon-svg-sprite-filled--offline-32,.icon-svg-sprite-filled--ok-16,.icon-svg-sprite-filled--onshape-32,.icon-svg-sprite-filled--open-bus,.icon-svg-sprite-filled--orcad-16,.icon-svg-sprite-filled--organization-32,.icon-svg-sprite-filled--outjob-16,.icon-svg-sprite-filled--outputjob,.icon-svg-sprite-filled--overview-16,.icon-svg-sprite-filled--overview-menu-16,.icon-svg-sprite-filled--pack-16,.icon-svg-sprite-filled--package-archive,.icon-svg-sprite-filled--package-assembly,.icon-svg-sprite-filled--package-fabrication,.icon-svg-sprite-filled--package-manufacturing,.icon-svg-sprite-filled--package-release,.icon-svg-sprite-filled--package-release-bom,.icon-svg-sprite-filled--package-software,.icon-svg-sprite-filled--package-upload,.icon-svg-sprite-filled--pads-16,.icon-svg-sprite-filled--pan-32,.icon-svg-sprite-filled--pan-tch-32,.icon-svg-sprite-filled--pan3d-tch-32,.icon-svg-sprite-filled--part,.icon-svg-sprite-filled--part-choice-list,.icon-svg-sprite-filled--pcb,.icon-svg-sprite-filled--pcb-16,.icon-svg-sprite-filled--pcb-3d-model,.icon-svg-sprite-filled--pcbblock,.icon-svg-sprite-filled--pdf,.icon-svg-sprite-filled--pdf-16,.icon-svg-sprite-filled--pdf-compact,.icon-svg-sprite-filled--play-video-22,.icon-svg-sprite-filled--preferences,.icon-svg-sprite-filled--prev-layer-24,.icon-svg-sprite-filled--project-ai,.icon-svg-sprite-filled--project-devices,.icon-svg-sprite-filled--project-hardware,.icon-svg-sprite-filled--project-harness,.icon-svg-sprite-filled--project-multiboard,.icon-svg-sprite-filled--project-pcb,.icon-svg-sprite-filled--project-pcb-16,.icon-svg-sprite-filled--project-requirement {
    width: 1em
}

.icon-svg-sprite-filled--project-review-package {
    width: 1.0714285714em
}

.icon-svg-sprite-filled--project-software,.icon-svg-sprite-filled--project-system,.icon-svg-sprite-filled--project-upload-16,.icon-svg-sprite-filled--question,.icon-svg-sprite-filled--question-16,.icon-svg-sprite-filled--rectangle-12,.icon-svg-sprite-filled--release-bom-32,.icon-svg-sprite-filled--release-package,.icon-svg-sprite-filled--removed-12,.icon-svg-sprite-filled--removed-16,.icon-svg-sprite-filled--renesas,.icon-svg-sprite-filled--renesas-2,.icon-svg-sprite-filled--request-comp-sync-16 {
    width: 1em
}

.icon-svg-sprite-filled--request-part-request-16 {
    width: 0.9411764706em
}

.icon-svg-sprite-filled--request-project-create-16,.icon-svg-sprite-filled--requirement-16,.icon-svg-sprite-filled--requirements-16,.icon-svg-sprite-filled--requirements-32,.icon-svg-sprite-filled--requirements-block-16,.icon-svg-sprite-filled--requirements-project-16,.icon-svg-sprite-filled--reset-view-24,.icon-svg-sprite-filled--reuse-block-16,.icon-svg-sprite-filled--rich-text,.icon-svg-sprite-filled--rotate-32,.icon-svg-sprite-filled--round-12,.icon-svg-sprite-filled--round-rectangle-12,.icon-svg-sprite-filled--sch-folder-16,.icon-svg-sprite-filled--sch-managed-16,.icon-svg-sprite-filled--sch-root-folder-16,.icon-svg-sprite-filled--schematic,.icon-svg-sprite-filled--schematic-16,.icon-svg-sprite-filled--script,.icon-svg-sprite-filled--select-32,.icon-svg-sprite-filled--select-tch-32,.icon-svg-sprite-filled--silicon-expert-32,.icon-svg-sprite-filled--simodel,.icon-svg-sprite-filled--simulation-model,.icon-svg-sprite-filled--simulation-net-16,.icon-svg-sprite-filled--skipped-violation-folder-16,.icon-svg-sprite-filled--software,.icon-svg-sprite-filled--solution,.icon-svg-sprite-filled--status-block,.icon-svg-sprite-filled--status-block-16,.icon-svg-sprite-filled--status-bom,.icon-svg-sprite-filled--status-bom-16,.icon-svg-sprite-filled--status-error,.icon-svg-sprite-filled--status-error-16,.icon-svg-sprite-filled--status-info,.icon-svg-sprite-filled--status-ok,.icon-svg-sprite-filled--status-ok-12,.icon-svg-sprite-filled--status-ok-16,.icon-svg-sprite-filled--status-question,.icon-svg-sprite-filled--status-success,.icon-svg-sprite-filled--status-warning,.icon-svg-sprite-filled--status-warning-16,.icon-svg-sprite-filled--status-warning-2,.icon-svg-sprite-filled--status-warning-2-16,.icon-svg-sprite-filled--status-warning-2-gray,.icon-svg-sprite-filled--steps-32,.icon-svg-sprite-filled--symbol,.icon-svg-sprite-filled--table-2-16,.icon-svg-sprite-filled--task-16,.icon-svg-sprite-filled--txt-16,.icon-svg-sprite-filled--upload-32,.icon-svg-sprite-filled--upload-pr,.icon-svg-sprite-filled--used-part-report-16,.icon-svg-sprite-filled--valispace-36,.icon-svg-sprite-filled--variant-16,.icon-svg-sprite-filled--waived-violation-16 {
    width: 1em
}

.icon-svg-sprite-filled--warning {
    width: 1.1111111111em
}

.icon-svg-sprite-filled--warning-16 {
    width: 1em
}

.icon-svg-sprite-filled--warning-16-v2 {
    width: 1.1333333333em
}

.icon-svg-sprite-filled--warning-32,.icon-svg-sprite-filled--warning-folder-16 {
    width: 1em
}

.icon-svg-sprite-filled--warning-violation-16 {
    width: 1.0625em
}

.icon-svg-sprite-filled--wave-16 {
    width: 1em
}

.icon-svg-sprite-filled--web-item {
    width: 0.9411764706em
}

.icon-svg-sprite-filled--workspace,.icon-svg-sprite-filled--workspace-32,.icon-svg-sprite-filled--ws-active-16,.icon-svg-sprite-filled--xls-16,.icon-svg-sprite-filled--xml-16 {
    width: 1em
}

.icon-svg-sprite-filled--youtube-32 {
    width: 1.3333333333em
}

.icon-svg-sprite-filled--z2data-32,.icon-svg-sprite-filled--zoom-32,.icon-svg-sprite-filled--zoom-tch-32 {
    width: 1em
}
