
.icon-history-16,.icon-history-2-16,.icon-history_16,.icon-home-16,.icon-img-16,.icon-inbox-16,.icon-info-16,.icon-info-2-16,.icon-info-circle,.icon-info-circle-sparkles,.icon-info-small-circle-filled,.icon-internet-explorer,.icon-kanban,.icon-kanban-board,.icon-language-16,.icon-layers-16,.icon-layers-bottom-view,.icon-layers-stacked,.icon-layers-stacked-diagonally,.icon-layers-top-view,.icon-layers-v2-16,.icon-layout-left,.icon-layout-left-top,.icon-left-16,.icon-lego-brick {
    width: 1em
}
