
.icon-guest-32,.icon-hardware,.icon-harness-16,.icon-harness-layout-16,.icon-harness-wiring-16,.icon-help-12,.icon-html-16,.icon-icon-3d-body,.icon-icon-arcs,.icon-icon-connection-lines,.icon-icon-coordinates,.icon-icon-dimension,.icon-icon-fills,.icon-icon-keepouts,.icon-icon-pads,.icon-icon-polygons,.icon-icon-regions,.icon-icon-rooms,.icon-icon-server,.icon-icon-texts,.icon-icon-tracks,.icon-icon-vias,.icon-info-12,.icon-info-16 {
    width: 1em
}
