
.icon-files,.icon-filter,.icon-filter-2-16,.icon-filter-empty-16,.icon-filter-filled-16,.icon-filters-12,.icon-flag,.icon-flag-16,.icon-flame,.icon-flowchart,.icon-folder,.icon-folder-16,.icon-folder-arrow-right-inside {
    width: 1em
}
