
.icon-projects-16,.icon-publish-16,.icon-question-16,.icon-question-circle,.icon-quota-16,.icon-rating-star-16,.icon-rating-star-fill-16,.icon-rectangle-above-line,.icon-rectangle-between-lines-horizontal,.icon-rectangle-between-lines-vertical,.icon-rectangle-corners,.icon-rectangles-aligned-bottom,.icon-rectangles-aligned-center,.icon-rectangles-aligned-left,.icon-rectangles-aligned-middle,.icon-rectangles-aligned-top,.icon-rectangles-horizontal-2-right-aligned,.icon-rectangles-unaligned,.icon-refresh-16,.icon-refresh-2-16 {
    width: 1em
}
