
.icon-devices,.icon-doc-16,.icon-draftsman-document-template,.icon-draftsman-sheet-template,.icon-eagle-16,.icon-elm-32,.icon-entity-32,.icon-envelope-badge-16,.icon-error,.icon-error-32,.icon-error-64,.icon-error-folder-16 {
    width: 1em
}
