
.icon-code-16,.icon-coins,.icon-comment-12,.icon-comment-16,.icon-comment-48,.icon-comment-area,.icon-comment-bubble-text,.icon-comment-draw,.icon-comment-left-16,.icon-comment-left-notice-16,.icon-comment-pin {
    width: 1em
}
