
.icon-magic-wand,.icon-magnifying-glass,.icon-manufacturing-16,.icon-marker-local-changes,.icon-markup-brackets-curly,.icon-markup-brackets-slash,.icon-maximize-16,.icon-mcad,.icon-measurements-16,.icon-minimize-16,.icon-minus,.icon-minus-16,.icon-modified {
    width: 1em
}
