
#root,#app-procurement,.idn-user-info-module-dropdown,.user-info-module-dropdown,.afs-main-container,.afs-context-menu,.afs-header,.afs-snackbar,.afs-modal {
    box-sizing: border-box;
    font-family: "Inter",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.4
}

#root *,#app-procurement *,.idn-user-info-module-dropdown *,.user-info-module-dropdown *,.afs-main-container *,.afs-context-menu *,.afs-header *,.afs-snackbar *,.afs-modal * {
    box-sizing: border-box
}
