
.info-section_primary[data-v-4c2b0730] {
    padding: 1rem 0
}

.info-section_primary[data-v-4c2b0730]:not(:first-child) {
    border-top: 1px solid var(--border-primary)
}

.info-section_primary[data-v-761c7816] {
    padding: 1rem 0
}

.info-section_primary[data-v-761c7816]:not(:first-child) {
    border-top: 1px solid var(--border-primary)
}
