
.info-item[data-v-56254bea] {
    display: flex;
    align-items: baseline
}

.info-item__key[data-v-56254bea]:not(:last-child) {
    width: 37%
}

.info-item__value[data-v-56254bea]:not(:first-child) {
    width: 63%
}

.info-item__text[data-v-56254bea] {
    padding-left: .63rem;
    text-align: left
}

.info-item[data-v-1cf6cbd0] {
    display: flex;
    align-items: baseline
}

.info-item__key[data-v-1cf6cbd0]:not(:last-child) {
    width: 37%
}

.info-item__value[data-v-1cf6cbd0]:not(:first-child) {
    width: 63%
}

.info-item__text[data-v-1cf6cbd0] {
    padding-left: .63rem;
    text-align: left
}
