
.insight-chart-legend .legend-items[data-v-870f6ff8],.insight-chart-legend .legend-header[data-v-870f6ff8] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.insight-chart-legend[data-v-870f6ff8] {
    color: var(--afs-text-secondary);
    display: flex;
    margin-left: 48px
}

.insight-chart-legend .legend-item[data-v-870f6ff8] {
    margin-left: 16px
}

.insight-chart-legend.is-clickable .legend-item[data-v-870f6ff8-s] {
    cursor: pointer
}
