
.item-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0
}

.item-placeholder__icon {
    font-size: 2rem;
    margin-bottom: 1rem
}

.item-placeholder__title {
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: .5rem
}
