
.lib-textarea__control {
    overflow-x: hidden;
    overflow-y: auto;
    padding: .38rem .5rem;
    border: 1px solid var(--border-color-control);
    border-radius: .25rem;
    width: 100%;
    max-height: 9rem;
    min-height: 2.63rem;
    color: var(--color-primary);
    background: var(--background-control);
    box-shadow: var(--box-shadow-control);
    font-family: inherit;
    font-size: inherit;
    transition-duration: var(--transition-duration-default);
    transition-property: color,border-color,opacity,box-shadow
}

.lib-textarea__control::placeholder {
    color: var(--color-control-secondary);
    opacity: 1;
    transition: opacity var(--transition-duration-default)
}

.lib-textarea__control::selection {
    background-color: var(--afs-primary-selected)
}

.lib-textarea__control:disabled,.lib-textarea__control[disabled],.lib-textarea__control.is-disabled {
    opacity: .48
}

.lib-textarea__control:not(:disabled):not([disabled]):not(.is-disabled):focus {
    box-shadow: var(--box-shadow-textarea_active)
}

.lib-textarea__control:not(:disabled):not([disabled]):not(.is-disabled):focus::placeholder {
    opacity: .48
}
