
.lib-lazy-image__container[data-v-d7f2a5dc] {
    position: relative;
    background: var(--background-views)
}

.lib-lazy-image__loader[data-v-d7f2a5dc] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-views)
}

.lib-lazy-image__loader.fade-enter-active[data-v-d7f2a5dc],.lib-lazy-image__loader.fade-leave-active[data-v-d7f2a5dc] {
    transition-property: opacity,visibility;
    transition-duration: .3s
}

.lib-lazy-image__loader.fade-enter[data-v-d7f2a5dc],.lib-lazy-image__loader.fade-leave-to[data-v-d7f2a5dc] {
    opacity: 0;
    visibility: hidden
}

.lib-lazy-image__loader-icon[data-v-d7f2a5dc] {
    font-size: 2rem;
    fill: var(--afs-text-secondary);
    color: var(--afs-primary-default);
    animation: infinite-spinning-d7f2a5dc 1s linear infinite
}

.lib-lazy-image__figure[data-v-d7f2a5dc] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down
}
