
.lib-input[data-v-7e2ca0a1] {
    position: relative
}

.lib-input__control[data-v-7e2ca0a1] {
    display: inline-block;
    vertical-align: top;
    padding: .32rem .5rem;
    border: 1px solid var(--border-color-control);
    border-radius: .25rem;
    width: 100%;
    height: 1.5rem;
    color: var(--color-control);
    background: var(--background-control);
    box-shadow: var(--box-shadow-control);
    font-family: inherit;
    font-size: .69rem;
    line-height: normal;
    transition-property: border-color,color,opacity,background-color,box-shadow;
    transition-duration: var(--transition-duration-default)
}

.lib-input__control[data-v-7e2ca0a1]:disabled,.lib-input__control[disabled][data-v-7e2ca0a1],.lib-input__control.is-disabled[data-v-7e2ca0a1] {
    opacity: .48
}

.lib-input__control[data-v-7e2ca0a1]:not(:disabled):not([disabled]):not(.is-disabled):focus::placeholder {
    opacity: .48
}

.lib-input__control[data-v-7e2ca0a1]::placeholder {
    color: var(--color-control-secondary);
    opacity: 1;
    transition: opacity var(--transition-duration-default)
}

.lib-input__control.has-icon[data-v-7e2ca0a1] {
    padding-left: 1.63rem
}

.lib-input__control.has-reset[data-v-7e2ca0a1] {
    padding-right: 1.63rem
}

.lib-input__icon[data-v-7e2ca0a1],.lib-input__reset[data-v-7e2ca0a1] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.lib-input__icon[data-v-7e2ca0a1] {
    left: .5rem;
    color: var(--color-input-search);
    font-size: .75rem;
    pointer-events: none
}

.lib-input__reset[data-v-7e2ca0a1] {
    right: 0;
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    font-size: 0
}

.lib-input__reset-icon[data-v-7e2ca0a1] {
    color: var(--color-control-secondary);
    font-size: .5rem;
    transition: color var(--transition-duration-default)
}
