
.list__section[data-v-41c64191]:not(:last-child) {
    margin-bottom: .25rem
}

.list__section[data-v-41c64191]:not(:last-child):after {
    content: "";
    display: block;
    margin: .25rem .94rem 0;
    border-bottom: 1px solid var(--border-primary)
}

.list__item[data-v-41c64191] {
    display: flex;
    align-items: center;
    padding: .25rem 0;
    width: 100%;
    min-height: 2.5rem;
    color: var(--color-primary);
    background: none;
    text-align: left
}

.list__text[data-v-41c64191] {
    flex: 1 1 auto;
    padding: 0 1rem 0 0;
    line-height: 1.34
}

.list__icon[data-v-41c64191] {
    flex: 0 0 2.63rem;
    text-align: center;
    font-size: 0
}

.list__icon-in[data-v-41c64191] {
    font-size: .75rem
}

.list__icon-info[data-v-41c64191] {
    fill: none
}

.list__icon-measurements[data-v-41c64191] {
    font-size: .88rem
}

.list__control[data-v-bd042d40] {
    display: flex;
    padding: .38rem 1rem;
    width: 100%;
    color: var(--color-primary);
    background: none;
    cursor: pointer
}

.list__control[data-v-bd042d40]:focus {
    background: var(--background-clickable_hover)
}

.list__text[data-v-bd042d40] {
    flex: 1 1 auto;
    text-align: left
}

.list__icon[data-v-bd042d40] {
    flex: 0 0 auto;
    color: var(--color-meta);
    font-size: .75rem
}
