
.loadingWrapper[data-v-c1238175] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--afs-progress-glow);
    animation: 2s infinite slidein-c1238175
}
