
.main-icon-interaction-group[data-v-a202e956] {
    font-size: .94rem;
    padding: 4px 8px;
    align-items: center
}

.main-icon-interaction-group[data-v-a202e956] .comment-marker--icon {
    margin-top: 0
}
