
.mapping-input__loading[data-v-0de33a31] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px
}

.mapping-input__container[data-v-0de33a31] {
    overflow: hidden
}

.mapping-input__container[data-v-0de33a31] .afs-input__control {
    height: 32px
}
