
.mba-objects-header[data-v-1099ddca] {
    height: 32px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color-modal);
    border-bottom: 1px solid var(--border-color-modal)
}

.mba-objects-header__container[data-v-1099ddca] {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem
}

.mba-objects-header__button-reset[data-v-1099ddca] {
    margin-left: auto;
    margin-right: 2rem
}
