
.mcad-export-section {
    margin: 1rem
}

.mcad-export-section__title {
    margin-bottom: 1rem
}

.mcad-export-section__block {
    display: flex
}

.mcad-export-section__select {
    flex: 1 1 auto;
    margin-right: .5rem
}

.mcad-export-section__button {
    width: 100%
}

.mcad-export-section__message {
    margin-top: 1rem;
    padding: 1rem
}
