
.minitable-cell[data-v-8f138b68],.minitable-cell[data-v-0de298d5] {
    flex: 1 1 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 16px;
    text-align: left
}
