
.modal-content[data-v-8ec91abd] {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.modal-content__header[data-v-8ec91abd] .afs-switch {
    width: 100%
}

.modal-content__footer[data-v-8ec91abd] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.modal-content__footer-one-button[data-v-8ec91abd] {
    justify-content: flex-end
}
