
.modal-edit-task-status[data-v-045657fa] .afs-btn {
    border: none;
    border-radius: 0;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 0
}

.modal-edit-task-status[data-v-045657fa] .afs-btn_arrow:after {
    right: 4px
}

.modal-edit-task-status .afs-btn {
    border: none;
    border-radius: 0;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 0
}

.modal-edit-task-status .afs-btn_arrow:after {
    right: 4px
}
