
.modaltoast[data-v-1420a754] {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    right: 0;
    width: 100%;
    padding: 16px;
    background-color: var(--color-toast_bg);
    border-radius: 4px;
    box-shadow: 0px 8px 32px var(--color-toast_shadow)
}

.modaltoast__wrap[data-v-1420a754] {
    display: flex;
    color: var(--color-toast_black);
    padding-bottom: 16px
}

.modaltoast__text[data-v-1420a754] {
    text-align: left
}

.modaltoast__icon[data-v-1420a754] {
    margin-right: 16px;
    flex-shrink: 0;
    font-size: 32px;
    width: 30px;
    height: 30px
}

.modaltoast__bts[data-v-1420a754] {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap
}

.modaltoast__btn[data-v-1420a754] {
    width: 100%;
    background-color: var(--color-toast_primal);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    color: var(--color-toast_bg);
    min-height: 32px;
    transition: background-color .2s ease-in-out
}

.modaltoast__btn[data-v-1420a754]:hover {
    background-color: var(--color-toast_active)
}
