
.multi-select-autocomplete__label[data-v-8ca7c668] {
    color: var(--afs-text-icon-secondary)
}

.multi-select-autocomplete__loader[data-v-8ca7c668] {
    padding: 0 12px 12px
}

.multi-select-autocomplete__readonly[data-v-8ca7c668] {
    color: var(--afs-hint-icons);
    font-style: italic
}
