
.multiboard-details-panel[data-v-7383f0af] {
    display: flex;
    flex-direction: column;
    height: 100%
}

.multiboard-details-panel__header[data-v-7383f0af] {
    height: 36px;
    overflow: hidden
}

.multiboard-details-panel__controls[data-v-7383f0af] {
    display: flex;
    flex: 0 0 auto
}

.multiboard-details-panel__content[data-v-7383f0af] {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto
}
