
.mx-btn {
    box-sizing: border-box;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 15px;
    margin: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    color: #73879c;
    white-space: nowrap
}

.mx-btn:hover {
    border-color: #1284e7;
    color: #1284e7
}
