
.mx-date-time-range {
    position: relative;
    width: 496px;
    height: 270px
}

.mx-date-time-range .mx-time-range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
