
.mx-datepicker {
    position: relative;
    display: inline-block;
    width: 210px
}

.mx-datepicker svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden
}
