
.mx-icon-left:before,.mx-icon-right:before,.mx-icon-double-left:before,.mx-icon-double-right:before,.mx-icon-double-left:after,.mx-icon-double-right:after {
    content: "";
    position: relative;
    top: -1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border-style: solid;
    border-color: currentColor;
    border-width: 2px 0 0 2px;
    border-radius: 1px;
    box-sizing: border-box;
    transform-origin: center;
    transform: rotate(-45deg) scale(0.7)
}
