
.mx-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center
}

.mx-table th {
    padding: 0;
    font-weight: 500;
    vertical-align: middle
}

.mx-table td {
    padding: 0;
    vertical-align: middle
}
