
.mx-zoom-in-down-enter-active,.mx-zoom-in-down-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1),opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: center top
}
