
.part-item {
    min-width: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--afs-text-icon-secondary)
}

.part-item__icon {
    flex: 0 0 auto;
    width: 16px;
    height: 16px
}

.part-item__icon:hover {
    cursor: pointer
}

.part-item.error {
    color: var(--afs-additional-red)
}
