
.pcn-history-table__cell[data-v-c9a8a1bf] {
    height: 24px;
    line-height: 24px;
    padding: 4px 8px;
    border: 1px solid var(--afs-table-cell-border);
    overflow: hidden;
    text-overflow: ellipsis
}

.pcn-history-table__cell-right[data-v-c9a8a1bf] {
    text-align: right
}

.pcn-history-table__cell-border[data-v-c9a8a1bf] {
    border-right: 1px solid var(--afs-border-inverted)
}

.pcn-history-table__text[data-v-c9a8a1bf] {
    white-space: nowrap
}

.pcn-history-table__link[data-v-c9a8a1bf] {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}
