
.pdf-metadata[data-v-db5614a6] {
    padding: .25rem 1rem
}

.pdf-metadata__section[data-v-db5614a6] {
    padding: .75rem 0;
    line-height: 1.34
}

.pdf-metadata__section[data-v-db5614a6]:not(:last-child) {
    border-bottom: 1px solid var(--border-primary)
}

.pdf-metadata__header[data-v-db5614a6] {
    display: flex;
    align-items: baseline;
    padding: .25rem 0
}

.pdf-metadata__title[data-v-db5614a6] {
    flex: 1 1 auto;
    color: var(--color-primary)
}
