
.placeholder__icon[data-v-2ac02d4c] {
    color: var(--afs-icons);
    font-size: 64px;
    margin-bottom: 16px
}

.placeholder__text[data-v-2ac02d4c] {
    line-height: 16px;
    font-weight: 400;
    color: var(--comment-text)
}

.placeholder__btns[data-v-2ac02d4c] {
    margin-top: 16px
}

.placeholder__icon[data-v-3fac79ce] {
    color: var(--afs-icons);
    font-size: 64px;
    margin-bottom: 16px
}

.placeholder {
    flex-grow: 1
}

.placeholder__wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1
}

.placeholder__icon {
    color: var(--afs-icons);
    font-size: 64px;
    margin-bottom: 16px
}

.placeholder__title {
    color: var(--global-text-base-primary);
    margin-bottom: 8px;
    text-align: center
}

.placeholder__subtitle {
    line-height: 16px;
    font-weight: 400;
    color: var(--comment-text);
    margin-bottom: 16px;
    text-align: center
}

.placeholder__icon {
    color: var(--afs-icons);
    font-size: 64px;
    margin-bottom: 16px
}

.placeholder__text {
    line-height: 16px;
    font-weight: normal;
    color: var(--comment-text)
}

.placeholder__btns {
    margin-top: 16px
}
