
.pm-modal__footer[data-v-5821917b],.pm-modal__footer-loader[data-v-5821917b] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0
}

.pm-modal__footer[data-v-e5f80878],.pm-modal__footer-loader[data-v-e5f80878] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0
}

.pm-modal__footer[data-v-4e63d7c7],.pm-modal__footer-loader[data-v-4e63d7c7] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0
}
