
.priority.is-editable[data-v-65795f53] {
    cursor: pointer
}

.priority.is-disabled[data-v-65795f53] {
    opacity: .4
}

.priority__icon[data-v-65795f53] {
    width: 16px
}

.priority__option[data-v-65795f53] {
    display: flex;
    align-items: center;
    gap: 8px
}

.priority__dropdown[data-v-65795f53] {
    min-width: 50px;
    min-height: 50px
}
