
#processing_icon_id_25 {
    animation-name: processing_icon_id_25_s_o,processing_icon_id_25_s_do;
    animation-duration: 3.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite
}
