
#processing_icon_id_98 {
    animation-name: processing_icon_id_98_s_o,processing_icon_id_98_s_do,processing_icon_id_98_s_da;
    animation-duration: 3.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite
}
