
.project-mapping__loader[data-v-0e690f0f] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.project-mapping__loader[data-v-0e690f0f] .afs-loader__content {
    flex-wrap: nowrap;
    overflow: hidden
}

.project-mapping__loader[data-v-e9de255a] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left
}

.project-mapping__loader[data-v-e9de255a] .afs-loader__content {
    flex-wrap: nowrap;
    overflow: hidden
}
