
.provider-status[data-v-4cca8502] {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.provider-status__name[data-v-4cca8502] {
    line-height: 24px
}

.provider-status__data[data-v-4cca8502] {
    display: flex;
    flex-wrap: wrap
}

.provider-status__data_column[data-v-4cca8502] {
    display: block
}

.provider-status__row[data-v-4cca8502] {
    padding-block:4px;color: var(--afs-text-primary);
    flex: 0 0 50%
}
