
.provider-icon[data-v-be4fd53e] {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: text-bottom;
    flex-shrink: 0
}

.provider-icon[data-v-cff6c281] {
    width: 16px;
    height: 16px
}
