
.range-filter[data-v-2a5173bd] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 8px
}

.range-filter .input-container[data-v-2a5173bd] {
    padding-top: 8px
}

.range-filter__gray[data-v-2a5173bd] {
    color: var(--afs-text-icon-hint)
}
