
.release__link[data-v-83b5d8c0] {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 16px
}

.release__icon[data-v-83b5d8c0] {
    margin-left: 4px;
    font-size: 16px
}
