
.report-level-select .levels-list-container .level-item[data-v-b7e6d1f9],.report-level-select .content[data-v-b7e6d1f9] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.report-level-select[data-v-b7e6d1f9] {
    width: 100%;
    line-height: 24px;
    position: relative
}

.report-level-select .content[data-v-b7e6d1f9] {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    white-space: nowrap;
    overflow: visible;
    color: var(--afs-text-primary);
    cursor: pointer
}

.report-level-select .content .expander-icon[data-v-b7e6d1f9] {
    margin-left: auto;
    width: 8px;
    height: 8px
}

.report-level-select .levels-list-container[data-v-b7e6d1f9] {
    padding: 8px 0;
    width: 210px
}

.report-level-select .levels-list-container .level-item[data-v-b7e6d1f9] {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
    white-space: nowrap;
    color: var(--afs-text-primary);
    cursor: pointer
}

.report-level-select .levels-list-container .level-item .check-icon[data-v-b7e6d1f9] {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    visibility: hidden
}

.report-level-select .levels-list-container .level-item .default-label[data-v-b7e6d1f9] {
    margin-left: auto
}

.report-level-select .levels-list-container .level-item.selected[data-v-b7e6d1f9] {
    background: var(--afs-secondary-selected);
    color: var(--afs-text-icon-primary)
}

.report-level-select .levels-list-container .level-item.selected .check-icon[data-v-b7e6d1f9] {
    visibility: visible
}

.report-level-select .levels-list-container .level-item[data-v-b7e6d1f9]:hover {
    background: var(--afs-secondary-selected)
}

.report-level-select .report-level-icon[data-v-b7e6d1f9] {
    width: 16px;
    height: 16px
}

.report-level-select .levels-list-container .level-item[data-v-b9b7b2f5],.report-level-select .content[data-v-b9b7b2f5] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.report-level-select[data-v-b9b7b2f5] {
    line-height: 24px;
    position: relative
}

.report-level-select .content[data-v-b9b7b2f5] {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    white-space: nowrap;
    overflow: visible;
    color: var(--afs-text-primary);
    cursor: pointer
}

.report-level-select .content .expander-icon[data-v-b9b7b2f5] {
    margin-left: auto;
    width: 8px;
    height: 8px
}

.report-level-select .levels-list-container[data-v-b9b7b2f5] {
    padding: 8px 0;
    width: 210px
}

.report-level-select .levels-list-container .level-item[data-v-b9b7b2f5] {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
    white-space: nowrap;
    color: var(--afs-text-primary);
    cursor: pointer
}

.report-level-select .levels-list-container .level-item .check-icon[data-v-b9b7b2f5] {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    visibility: hidden
}

.report-level-select .levels-list-container .level-item .default-label[data-v-b9b7b2f5] {
    margin-left: auto
}

.report-level-select .levels-list-container .level-item.selected[data-v-b9b7b2f5] {
    background: var(--afs-secondary-selected);
    color: var(--afs-text-icon-primary)
}

.report-level-select .levels-list-container .level-item.selected .check-icon[data-v-b9b7b2f5] {
    visibility: visible
}

.report-level-select .levels-list-container .level-item[data-v-b9b7b2f5]:hover {
    background: var(--afs-secondary-selected)
}

.report-level-select .report-level-icon[data-v-b9b7b2f5] {
    width: 16px;
    height: 16px
}
