
.requirements-block-picker-icon[data-v-f976a5eb] {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center
}

.requirements-block-picker-icon__icon[data-v-f976a5eb] {
    height: 16px;
    width: 16px
}

.requirements-block-picker-icon__icon.large[data-v-f976a5eb] {
    height: 32px;
    width: 32px
}
