
.requirements-block-picker-toggle[data-v-bba2f7a6] {
    display: flex;
    flex: 0 0 auto;
    height: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.requirements-block-picker-toggle__icon[data-v-bba2f7a6] {
    height: 8px;
    width: 8px
}
