
.requirements-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
    flex-grow: 1
}

.requirements-panel__actions {
    padding: 16px;
    border-bottom: 1px solid var(--afs-border);
    flex-shrink: 0;
    position: relative
}

.requirements-panel__search {
    margin-top: 8px
}
