
.requirements-block-picker-table-row.is-block[data-v-acbd3203]:hover {
    background-color: var(--afs-secondary-hover)
}

.requirements-block-picker-table-row__cell[data-v-acbd3203] {
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    vertical-align: middle;
    overflow: hidden;
    max-width: 0
}

.requirements-block-picker-table-row__cell-inner[data-v-acbd3203] {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden
}

.requirements-block-picker-table-row__cell-toggle[data-v-acbd3203] {
    flex: 0 0 auto;
    width: 16px;
    align-items: center
}

.requirements-block-picker-table-row[data-v-acbd3203]:focus {
    outline: unset
}

.requirements-block-picker-table-row.active.is-block[data-v-acbd3203] {
    background-color: var(--afs-primary-overlay-20)
}
