
.result__label-wrapper[data-v-1a122fc5] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.result__not-found[data-v-1a122fc5] {
    padding: 1rem
}

.result__not-found-container[data-v-1a122fc5] {
    padding: .38rem 1rem;
    color: var(--color-secondary);
    background: var(--background-secondary);
    font-size: .75rem;
    line-height: 1.34;
    text-align: center
}
