
.row-link[data-v-7715012a] {
    display: flex;
    flex-direction: column
}

.row-link[data-v-7715012a]:focus {
    outline: none
}

.row-link__provider-icon[data-v-7715012a] {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-left: 8px
}
