
.row-link-description[data-v-7715012a] {
    color: var(--afs-text-secondary);
    transition: color var(--afs-transition-duration);
    margin-top: 4px;
    padding-left: 24px;
    font-size: 11px;
    line-height: 12px
}
