
.screenshot-image-list[data-v-557f5dd0] {
    margin-top: 16px
}

.screenshot-image-list .figure[data-v-557f5dd0] {
    position: relative;
    background: var(--afs-background);
    border: 1px solid var(--afs-primary-border);
    border-radius: 4px;
    height: 162px
}

.screenshot-image-list .figure+.figure[data-v-557f5dd0] {
    margin-top: 8px
}

.screenshot-image-list .image[data-v-557f5dd0] {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.screenshot-image-list .image-container[data-v-557f5dd0] {
    width: 100%;
    height: 162px;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center
}

.screenshot-image-list .image-action[data-v-557f5dd0] {
    position: absolute;
    right: -6px;
    top: -6px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.screenshot-image-list .image-close[data-v-557f5dd0] {
    background: var(--afs-secondary-hover);
    border: 2px solid var(--afs-secondary-down);
    border-radius: 50%
}

.screenshot-image-list .image-close .icon[data-v-557f5dd0] {
    color: var(--afs-additional-white);
    font-size: 8px
}

.screenshot-image-list .image-close[data-v-557f5dd0]:hover {
    background: var(--afs-secondary-default);
    cursor: pointer
}

.screenshot-image-list .image-placeholder[data-v-557f5dd0] {
    font-size: 32px;
    color: var(--afs-text-icon-hint)
}

.screenshot-image-list .image-processing[data-v-557f5dd0] {
    background: var(--afs-secondary-down);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: processing-557f5dd0 1s infinite linear
}

.screenshot-image-list .image.is-zoomable[data-v-557f5dd0] {
    cursor: zoom-in
}
