
.section__title {
    margin-top: .75rem;
    margin-bottom: .25rem;
    color: var(--color-control-secondary);
    text-transform: uppercase;
    font-size: .63rem;
    line-height: 1rem
}

.section[data-v-8ea32682] {
    padding: .75rem 0;
    line-height: 1.34
}

.section[data-v-8ea32682]:not(:last-child) {
    border-bottom: 1px solid var(--border-primary)
}

.section__item[data-v-8ea32682] {
    display: flex;
    align-items: center;
    padding: .25rem 0
}

.section__key[data-v-8ea32682],.section__value[data-v-8ea32682] {
    width: 50%
}

.section__key[data-v-8ea32682] {
    text-align: left
}

.section__value[data-v-8ea32682] {
    text-align: right
}

.section__title {
    margin-top: .75rem;
    margin-bottom: .25rem;
    color: var(--color-control-secondary);
    text-transform: uppercase;
    font-size: .63rem;
    line-height: 1rem
}

.section[data-v-7c0d3c56] {
    padding: .75rem 0;
    line-height: 1.34
}

.section[data-v-7c0d3c56]:not(:last-child) {
    border-bottom: 1px solid var(--border-primary)
}

.section__item[data-v-7c0d3c56] {
    display: flex;
    align-items: center;
    padding: .25rem 0
}

.section__key[data-v-7c0d3c56],.section__value[data-v-7c0d3c56] {
    width: 50%
}

.section__key[data-v-7c0d3c56] {
    text-align: left
}

.section__value[data-v-7c0d3c56] {
    text-align: right
}
