
.section-skeleton-loader[data-v-1be341ff] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
    border-color: var(--afs-border);
    border-bottom: 1px solid var(--border-primary)
}
