
.single-line__label[data-v-db7a6df1] {
    color: var(--afs-text-icon-secondary)
}

.single-line__readonly[data-v-db7a6df1] {
    color: var(--afs-hint-icons);
    font-style: italic
}

.single-line[data-v-db7a6df1] .afs-input__control_clickable {
    scrollbar-width: auto
}
