
.standalone_comments-modal[data-v-07730a3e] {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--background-primary);
    border-radius: 4px;
    z-index: 100;
    box-shadow: var(--afs-black-drop-shadow-large)
}
