
.status-icon_fatal-error[data-v-150c2b0c] {
    fill: var(--afs-text-negative)
}

.status-icon_fatal-error[data-v-011b16e4] {
    fill: var(--afs-text-negative)
}

.status-icon_fatal-error[data-v-7fa69084] {
    fill: var(--afs-text-negative)
}
