
.status-icon_ok[data-v-150c2b0c] {
    fill: var(--afs-text-positive)
}

.status-icon_ok[data-v-011b16e4] {
    fill: var(--afs-text-positive)
}

.status-icon_ok[data-v-7fa69084] {
    fill: var(--afs-text-positive)
}
