
.status-icon_removed[data-v-011b16e4] {
    fill: var(--afs-text-negative);
    color: var(--afs-text-negative)
}

.status-icon_removed[data-v-7fa69084] {
    fill: var(--afs-text-negative);
    color: var(--afs-text-negative)
}
