
.status-icon_warning[data-v-150c2b0c] {
    fill: var(--afs-text-icon-secondary)
}

.status-icon_warning[data-v-011b16e4] {
    fill: var(--afs-text-icon-hint)
}

.status-icon_warning[data-v-7fa69084] {
    fill: var(--afs-text-icon-hint)
}
