
.status-icon[data-v-150c2b0c] {
    width: 100%;
    height: 100%
}

.status-icon[data-v-011b16e4] {
    width: 100%;
    height: 100%
}

.status-icon[data-v-7fa69084] {
    width: 100%;
    height: 100%
}

.status-icon[data-v-44e2ef9a] {
    width: 16px;
    height: 16px;
    margin-right: .25rem
}
