
.status-icon_error[data-v-150c2b0c] {
    fill: var(--afs-text-warning)
}

.status-icon_error[data-v-011b16e4] {
    fill: var(--afs-text-warning)
}

.status-icon_error[data-v-7fa69084] {
    fill: var(--afs-text-warning)
}
