
.status-icon_modified[data-v-011b16e4] {
    fill: var(--afs-text-caution);
    color: var(--afs-text-caution)
}

.status-icon_modified[data-v-7fa69084] {
    fill: var(--afs-text-caution);
    color: var(--afs-text-caution)
}
