
.status-icon_added[data-v-011b16e4] {
    fill: var(--afs-text-positive);
    color: var(--afs-text-positive)
}

.status-icon_added[data-v-7fa69084] {
    fill: var(--afs-text-positive);
    color: var(--afs-text-positive)
}
