
.tabs-control[data-v-eee786d2] {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid var(--border-color-modal);
    padding: 16px
}

.tabs-control__btns[data-v-eee786d2] {
    display: flex;
    align-items: center;
    gap: 8px
}

.tabs-control__btns[data-v-eee786d2]>* {
    flex: 0 0 auto;
    min-width: 0;
    height: 24px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px
}

.tabs-control[data-v-154022a6] {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid var(--border-color-modal);
    padding: 16px
}

.tabs-control__btns[data-v-154022a6] {
    display: flex;
    align-items: center;
    gap: 8px
}

.tabs-control__btns[data-v-154022a6]>* {
    flex: 0 0 auto;
    min-width: 0;
    height: 24px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px
}

.tabs-control[data-v-52cfa795] {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid var(--border-color-modal);
    padding: 16px
}

.tabs-control__btns[data-v-52cfa795] {
    display: flex;
    align-items: center;
    gap: 8px
}

.tabs-control__btns[data-v-52cfa795]>* {
    flex: 0 0 auto;
    min-width: 0;
    height: 24px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px
}

.tabs-control__icon[data-v-52cfa795] {
    font-size: 1rem;
    padding: 0px;
    margin-left: auto;
    cursor: pointer
}
