
.task-form[data-v-77d505c8] {
    width: 100%;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto
}

.task-form .afs-form-field[data-v-77d505c8],.link-issue-tab .afs-form-field[data-v-f53f4c98] {
    margin: 0 2px 16px
}
