
.thread-align[data-v-3fac79ce] {
    display: flex;
    align-items: center;
    border-top: none
}

.thread-align[data-v-31fbe956] {
    display: flex;
    align-items: center;
    border-top: none
}
