
.unlink-cell[data-v-fba73377] {
    height: 32px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer
}

.unlink-cell[data-v-fba73377]:hover {
    background-color: var(--afs-secondary-hover)
}
