
.uxsd-icon.uxsd-icon-workspace {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-warning {
    width: 1.2em
}

.uxsd-icon.uxsd-icon-visible-24 {
    width: 1.5em
}

.uxsd-icon.uxsd-icon-viewer-help-16 {
    width: .625em
}

.uxsd-icon.uxsd-icon-up-8 {
    width: .8889em
}

.uxsd-icon.uxsd-icon-trash-16 {
    width: .9375em
}

.uxsd-icon.uxsd-icon-training-16,.uxsd-icon.uxsd-icon-team {
    width: 1.0667em
}

.uxsd-icon.uxsd-icon-tasks {
    width: .875em
}

.uxsd-icon.uxsd-icon-tag-16 {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-sort-up,.uxsd-icon.uxsd-icon-sort-down {
    width: 1.1667em
}

.uxsd-icon.uxsd-icon-schematic-multi-16 {
    width: 1.4em
}

.uxsd-icon.uxsd-icon-schematic-modified {
    width: 1.1429em
}

.uxsd-icon.uxsd-icon-resolve-16 {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-render-loader-32 {
    width: 1.4em
}

.uxsd-icon.uxsd-icon-remap-columns-16 {
    width: .875em
}

.uxsd-icon.uxsd-icon-releases-16 {
    width: 1.1429em
}

.uxsd-icon.uxsd-icon-projects {
    width: 1.3333em
}

.uxsd-icon.uxsd-icon-project-upload-16,.uxsd-icon.uxsd-icon-project-create-16 {
    width: 1.1429em
}

.uxsd-icon.uxsd-icon-not-mapped-64 {
    width: 1.0156em
}

.uxsd-icon.uxsd-icon-more {
    width: 4em
}

.uxsd-icon.uxsd-icon-module-32,.uxsd-icon.uxsd-icon-module-16 {
    width: 1.1429em
}

.uxsd-icon.uxsd-icon-lock-filled {
    width: .75em
}

.uxsd-icon.uxsd-icon-linkedin {
    width: 1.0714em
}

.uxsd-icon.uxsd-icon-library-16 {
    width: .875em
}

.uxsd-icon.uxsd-icon-hidden-24 {
    width: 1.0909em
}

.uxsd-icon.uxsd-icon-generic-folder-16 {
    width: .9412em
}

.uxsd-icon.uxsd-icon-folder-empty-16 {
    width: 1.2308em
}

.uxsd-icon.uxsd-icon-file-upload-32 {
    width: 1.4em
}

.uxsd-icon.uxsd-icon-failed-mod {
    width: 1.3793em
}

.uxsd-icon.uxsd-icon-facebook {
    width: .5714em
}

.uxsd-icon.uxsd-icon-export-time-16 {
    width: 1.125em
}

.uxsd-icon.uxsd-icon-exclamation {
    width: 1.2em
}

.uxsd-icon.uxsd-icon-controls-12 {
    width: .8333em
}

.uxsd-icon.uxsd-icon-comments {
    width: 1.1429em
}

.uxsd-icon.uxsd-icon-check-circle {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-arrows-sorting {
    width: 1.1667em
}

.uxsd-icon.uxsd-icon-arrow-up-orange {
    width: .7692em
}

.uxsd-icon.uxsd-icon-arrow-trending-up-16,.uxsd-icon.uxsd-icon-arrow-right-from-rectangle-32 {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-youtube-32 {
    width: 1.3333em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-web-item {
    width: .9412em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-warning {
    width: 1.1111em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-warning-violation-16 {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-warning-16-v2 {
    width: 1.1333em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-request-part-request-16 {
    width: .9412em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-project-review-package {
    width: 1.0714em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-odb-16 {
    width: 1.125em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-logo {
    width: 1.6667em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-logo-ad-lifecycle {
    width: .9412em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-lock {
    width: .9697em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-jira {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-gray-folder {
    width: 1.2667em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-fatal-error-violation-16 {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-expired {
    width: .8636em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-error-violation-16 {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-design-review-32 {
    width: 1.0313em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-check-circle {
    width: 1.0625em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-cady-32 {
    width: 3.875em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-altium-designer {
    width: 1.0313em
}

.uxsd-icon.uxsd-icon-filled.uxsd-icon-activity-16 {
    width: .8889em
}

.uxsd-icon {
    display: inline-block;
    vertical-align: top;
    height: 1em;
    width: 1em
}

.uxsd-icon:not(.uxsd-icon-filled) {
    fill: currentcolor
}
