
.validation[data-v-0e92013a] {
    padding: 3rem 1rem 1rem 1rem
}

.validation__title[data-v-0e92013a] {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-primary)
}

.validation__separator[data-v-0e92013a] {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid var(--afs-border);
    height: 0;
    margin: 1rem 0
}

.validation__props[data-v-0e92013a] {
    color: var(--color-secondary);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column
}

.validation__props__row[data-v-0e92013a] {
    display: flex;
    margin-top: .5rem
}

.validation__props__label[data-v-0e92013a] {
    display: flex;
    flex-basis: 40%
}

.validation__props__value[data-v-0e92013a] {
    display: flex;
    flex-basis: 60%
}

.validation__affected__header[data-v-0e92013a],.validation__waived__header[data-v-0e92013a] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: var(--color-secondary)
}

.validation__affected__header-count[data-v-0e92013a],.validation__waived__header-count[data-v-0e92013a] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: var(--color-meta-secondary)
}

.validation__affected__content[data-v-0e92013a],.validation__waived__content[data-v-0e92013a] {
    display: flex;
    margin-top: -10px;
    flex-direction: column
}

.validation__affected__content-item[data-v-0e92013a],.validation__waived__content-item[data-v-0e92013a] {
    width: 100%;
    margin-top: .5rem;
    color: var(--color-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    display: flex
}

.validation__affected__content-item div[data-v-0e92013a],.validation__waived__content-item div[data-v-0e92013a] {
    display: flex
}
