
.values-filter__item[data-v-c9aaa657] {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400
}

.values-filter[data-v-c9aaa657] {
    padding: 16px
}

.values-filter__items[data-v-c9aaa657] {
    height: auto;
    max-height: 300px;
    overflow: hidden auto;
    margin-top: 16px
}

.values-filter__item[data-v-c9aaa657] {
    margin-bottom: 8px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.values-filter__item .afs-checkbox[data-v-c9aaa657] {
    margin-right: 8px
}

.values-filter__item-stroke-out[data-v-c9aaa657] {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--afs-border)
}
