
.version-badge[data-v-081f9a97] {
    display: flex;
    flex-shrink: 0;
    margin-left: 10px;
    text-transform: none;
    white-space: nowrap;
    line-height: 12px
}

.version-badge[data-v-f8a615a0] {
    display: flex;
    flex-shrink: 0;
    margin-left: 10px;
    text-transform: none;
    white-space: nowrap;
    line-height: 12px
}

.version-badge[data-v-7470ed24] {
    display: flex;
    flex-shrink: 0;
    margin-left: 10px;
    text-transform: none;
    white-space: nowrap;
    line-height: 12px
}
