
.version-badge-alpha[data-v-081f9a97] {
    background: var(--afs-additional-purple)
}

.version-badge-alpha[data-v-f8a615a0] {
    background: var(--afs-additional-purple)
}

.version-badge-alpha[data-v-7470ed24] {
    background: var(--afs-additional-purple)
}
