
.virtual-scroll-container__table-body[data-v-777985fd] {
    width: 100%;
    position: absolute
}

.virtual-scroll-container__table[data-v-a9d8b208] {
    font-family: var(--afs-font-family);
    font-size: 12px;
    line-height: 16px;
    border-collapse: separate;
    table-layout: fixed;
    min-width: 100%
}

.virtual-scroll-container__table-body[data-v-a9d8b208] {
    width: 100%;
    position: absolute
}
