/**
 * Global Storybook styles
 * Uses dark theme variables from dark-theme.scss
 */

// Root element styling
html {
  color-scheme: dark;
}

body {
  font-family: var(--afs-font-family, Inter, Helvetica, Arial, sans-serif);
  background-color: var(--afs-background, #1c1c1e);
  color: var(--afs-text-icon-primary, #ffffff);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Dark theme class (always applied in Storybook)
.is-dark-theme {
  background-color: var(--afs-background, #1c1c1e);
  color: var(--afs-text-icon-primary, #ffffff);
}

// Storybook wrapper
.storybook-wrapper {
  font-family: var(--afs-font-family, Inter, Helvetica, Arial, sans-serif);
  line-height: 1.5;
  min-height: 100%;
  
  &.is-dark-theme {
    background-color: transparent;
  }
}

// Common link styles
a {
  color: var(--afs-text-icon-link, #64d2ff);
  text-decoration: none;
  
  &:hover {
    color: var(--afs-text-icon-link-hover, #8be0ff);
  }
}

// Button reset
button {
  font-family: inherit;
  cursor: pointer;
}

// Input reset
input, textarea, select {
  font-family: inherit;
  color: inherit;
}

// SVG icon base
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}


// BEM State Classes (from ViewerCore.js)
.is-notouch,
.is-touch,
.is-opened,
.is-active,
.is-selected,
.is-error {
  /* State markers - styles defined per component */
  transition: all var(--afs-transition-duration, 150ms);
}

// Typography base
.afs-text {
  margin: 0;
  padding: 0;
  
  &--heading {
    font-weight: 600;
  }
  
  &--body {
    font-weight: 400;
  }
  
  &--caption {
    font-size: 12px;
    color: #71717a;
  }
}
