
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

img,fieldset,a img {
    border: none
}

input,input[type=text],input[type=email],input[type=tel],textarea {
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}

input,button {
    margin: 0;
    padding: 0;
    border: 0
}

div,input,textarea,select,button,h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none
}

ul,ol {
    list-style-type: none
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

img,fieldset,a img {
    border: none
}

input,button {
    font-family: inherit
}

input,input[type=text],input[type=email],input[type=tel],textarea {
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}

input,button {
    margin: 0;
    padding: 0;
    border: 0
}

div,input,textarea,select,button,h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none
}

ul,ol {
    list-style-type: none
}

blockquote,q {
    quotes: none
}

html,body {
    height: 100%
}
