
@keyframes appLoading-30d447e2 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes dots-30d447e2 {
    0%,100% {
        content: ""
    }

    25% {
        content: "."
    }

    50% {
        content: ".."
    }

    75% {
        content: "..."
    }
}

@keyframes rotate-9755f4a5 {
    to {
        transform: rotate(360deg)
    }
}

@keyframes rotate-d5a00893 {
    to {
        transform: rotate(360deg)
    }
}

@keyframes loaderAnimation {
    0% {
        opacity: 1
    }

    to {
        opacity: .2
    }
}

@keyframes skeleton-animation {
    0% {
        background-position: -200px 0
    }

    to {
        background-position: calc(200px + 100%) 0
    }
}

@keyframes skeleton-animation-vertical {
    0% {
        background-position: 0 -200px
    }

    to {
        background-position: 0 calc(200px + 100%)
    }
}

@keyframes processing-557f5dd0 {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes progress-bar-stripes {
    0% {
        transform: translate(40px)
    }

    to {
        transform: translate(0)
    }
}

@keyframes rotate-5620cf39 {
    to {
        transform: rotate(360deg)
    }
}

@keyframes appLoading-85849dc2 {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes dots-85849dc2 {
    0%,to {
        content: ""
    }

    25% {
        content: "."
    }

    50% {
        content: ".."
    }

    75% {
        content: "..."
    }
}

@keyframes slidein-c1238175 {
    0% {
        transform: translate(-100%)
    }

    70% {
        transform: translate(100%)
    }

    to {
        transform: translate(100%)
    }
}

@keyframes processing_icon_s_o {
    0% {
        stroke-opacity: 0
    }

    17.575758% {
        stroke-opacity: 0
    }

    48.484848% {
        stroke-opacity: 1
    }

    73.636364% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_s_do {
    0% {
        stroke-dashoffset: 543.63
    }

    17.575758% {
        stroke-dashoffset: 543.63;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    48.484848% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_s_da {
    0% {
        stroke-dasharray: 543.63
    }

    17.575758% {
        stroke-dasharray: 543.63;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    48.484848% {
        stroke-dasharray: 543.63
    }

    to {
        stroke-dasharray: 543.63
    }
}

@keyframes processing_icon_id_7_s_o {
    0% {
        stroke-opacity: .36
    }

    13.333333% {
        stroke-opacity: .36
    }

    25.454545% {
        stroke-opacity: 1
    }

    61.212121% {
        stroke-opacity: 1
    }

    80.606061% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_7_s_do {
    0% {
        stroke-dashoffset: 33
    }

    13.333333% {
        stroke-dashoffset: 33
    }

    31.212121% {
        stroke-dashoffset: 0
    }

    66.666667% {
        stroke-dashoffset: 0
    }

    80.606061% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_id_9_s_o {
    0% {
        stroke-opacity: .36
    }

    13.636364% {
        stroke-opacity: .36
    }

    25.757576% {
        stroke-opacity: 1
    }

    61.818182% {
        stroke-opacity: 1
    }

    81.212121% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_9_s_do {
    0% {
        stroke-dashoffset: 30
    }

    13.636364% {
        stroke-dashoffset: 30
    }

    31.818182% {
        stroke-dashoffset: 0
    }

    67.272727% {
        stroke-dashoffset: 0
    }

    81.212121% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_id_11_s_o {
    0% {
        stroke-opacity: .36
    }

    13.939394% {
        stroke-opacity: .36
    }

    26.060606% {
        stroke-opacity: 1
    }

    62.424242% {
        stroke-opacity: 1
    }

    81.818182% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_11_s_do {
    0% {
        stroke-dashoffset: 27.29
    }

    13.939394% {
        stroke-dashoffset: 27.29
    }

    32.121212% {
        stroke-dashoffset: 0
    }

    67.878788% {
        stroke-dashoffset: 0
    }

    81.818182% {
        stroke-dashoffset: 27.29
    }

    to {
        stroke-dashoffset: 27.29
    }
}

@keyframes processing_icon_id_13_s_o {
    0% {
        stroke-opacity: .36
    }

    15.151515% {
        stroke-opacity: .36
    }

    27.272727% {
        stroke-opacity: 1
    }

    63.030303% {
        stroke-opacity: 1
    }

    82.424242% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_13_s_do {
    0% {
        stroke-dashoffset: 75.93
    }

    15.151515% {
        stroke-dashoffset: 75.93
    }

    33.333333% {
        stroke-dashoffset: 0
    }

    68.484848% {
        stroke-dashoffset: 0
    }

    82.424242% {
        stroke-dashoffset: 75.93
    }

    to {
        stroke-dashoffset: 75.93
    }
}

@keyframes processing_icon_id_13_s_da {
    0% {
        stroke-dasharray: 75,93
    }

    15.151515% {
        stroke-dasharray: 75,93
    }

    34.545455% {
        stroke-dasharray: 77.74
    }

    to {
        stroke-dasharray: 77.74
    }
}

@keyframes processing_icon_id_15_s_o {
    0% {
        stroke-opacity: .36
    }

    14.545455% {
        stroke-opacity: .36
    }

    26.666667% {
        stroke-opacity: 1
    }

    63.636364% {
        stroke-opacity: 1
    }

    83.030303% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_15_s_do {
    0% {
        stroke-dashoffset: 68.28
    }

    14.545455% {
        stroke-dashoffset: 68.28
    }

    32.727273% {
        stroke-dashoffset: 0
    }

    69.090909% {
        stroke-dashoffset: 0
    }

    83.030303% {
        stroke-dashoffset: 64.23
    }

    to {
        stroke-dashoffset: 64.23
    }
}

@keyframes processing_icon_id_17_s_o {
    0% {
        stroke-opacity: .36
    }

    4.242424% {
        stroke-opacity: .36
    }

    16.363636% {
        stroke-opacity: 1
    }

    57.575758% {
        stroke-opacity: 1
    }

    72.727273% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_17_s_do {
    0% {
        stroke-dashoffset: 48.55
    }

    4.242424% {
        stroke-dashoffset: 48.55
    }

    22.424242% {
        stroke-dashoffset: 0
    }

    51.515152% {
        stroke-dashoffset: 0
    }

    72.727273% {
        stroke-dashoffset: 48.55
    }

    to {
        stroke-dashoffset: 48.55
    }
}

@keyframes processing_icon_id_19_s_o {
    0% {
        stroke-opacity: .36
    }

    4.848485% {
        stroke-opacity: .36
    }

    16.969697% {
        stroke-opacity: 1
    }

    58.181818% {
        stroke-opacity: 1
    }

    73.333333% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_19_s_do {
    0% {
        stroke-dashoffset: 49.05
    }

    4.848485% {
        stroke-dashoffset: 49.05
    }

    23.030303% {
        stroke-dashoffset: 0
    }

    52.121212% {
        stroke-dashoffset: 0
    }

    73.333333% {
        stroke-dashoffset: 49.05
    }

    to {
        stroke-dashoffset: 49.05
    }
}

@keyframes processing_icon_id_21_s_o {
    0% {
        stroke-opacity: .36
    }

    5.454545% {
        stroke-opacity: .36
    }

    17.575758% {
        stroke-opacity: 1
    }

    52.727273% {
        stroke-opacity: 1
    }

    73.939394% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_21_s_do {
    0% {
        stroke-dashoffset: 54.22
    }

    5.454545% {
        stroke-dashoffset: 54.22
    }

    23.636364% {
        stroke-dashoffset: 0
    }

    58.787879% {
        stroke-dashoffset: 0
    }

    73.939394% {
        stroke-dashoffset: 54.22
    }

    to {
        stroke-dashoffset: 54.22
    }
}

@keyframes processing_icon_id_23_s_o {
    0% {
        stroke-opacity: .36
    }

    6.060606% {
        stroke-opacity: .36
    }

    18.181818% {
        stroke-opacity: 1
    }

    53.333333% {
        stroke-opacity: 1
    }

    74.545455% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_23_s_do {
    0% {
        stroke-dashoffset: 58.06
    }

    6.060606% {
        stroke-dashoffset: 58.06
    }

    24.242424% {
        stroke-dashoffset: 0
    }

    59.393939% {
        stroke-dashoffset: 0
    }

    74.545455% {
        stroke-dashoffset: 54.64
    }

    to {
        stroke-dashoffset: 54.64
    }
}

@keyframes processing_icon_id_25_s_o {
    0% {
        stroke-opacity: .36
    }

    6.666667% {
        stroke-opacity: .36
    }

    18.787879% {
        stroke-opacity: 1
    }

    53.939394% {
        stroke-opacity: 1
    }

    75.151515% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_25_s_do {
    0% {
        stroke-dashoffset: 60.84
    }

    6.666667% {
        stroke-dashoffset: 60.84
    }

    24.848485% {
        stroke-dashoffset: 0
    }

    60% {
        stroke-dashoffset: 0
    }

    75.151515% {
        stroke-dashoffset: 60.84
    }

    to {
        stroke-dashoffset: 60.84
    }
}

@keyframes processing_icon_id_27_s_o {
    0% {
        stroke-opacity: .36
    }

    11.515152% {
        stroke-opacity: .36
    }

    23.636364% {
        stroke-opacity: 1
    }

    58.787879% {
        stroke-opacity: 1
    }

    79.393939% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_27_s_do {
    0% {
        stroke-dashoffset: 48.86
    }

    11.515152% {
        stroke-dashoffset: 48.86
    }

    29.696970% {
        stroke-dashoffset: 0
    }

    64.848485% {
        stroke-dashoffset: 0
    }

    79.393939% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_id_29_s_o {
    0% {
        stroke-opacity: .36
    }

    12.121212% {
        stroke-opacity: .36
    }

    24.242424% {
        stroke-opacity: 1
    }

    59.393939% {
        stroke-opacity: 1
    }

    80% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_29_s_do {
    0% {
        stroke-dashoffset: 51.15
    }

    12.121212% {
        stroke-dashoffset: 51.15
    }

    30.303030% {
        stroke-dashoffset: 0
    }

    65.454545% {
        stroke-dashoffset: 0
    }

    80% {
        stroke-dashoffset: 48.19
    }

    to {
        stroke-dashoffset: 48.19
    }
}

@keyframes processing_icon_id_31_s_o {
    0% {
        stroke-opacity: .36
    }

    12.727273% {
        stroke-opacity: .36
    }

    24.848485% {
        stroke-opacity: 1
    }

    60% {
        stroke-opacity: 1
    }

    80.606061% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_31_s_do {
    0% {
        stroke-dashoffset: 55.72
    }

    12.727273% {
        stroke-dashoffset: 55.72
    }

    30.909091% {
        stroke-dashoffset: 0
    }

    66.060606% {
        stroke-dashoffset: 0
    }

    80.606061% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_id_33_s_o {
    0% {
        stroke-opacity: .36
    }

    10.909091% {
        stroke-opacity: .36
    }

    23.030303% {
        stroke-opacity: 1
    }

    58.181818% {
        stroke-opacity: 1
    }

    79.393939% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_33_s_do {
    0% {
        stroke-dashoffset: 55.66
    }

    10.909091% {
        stroke-dashoffset: 55.66
    }

    29.090909% {
        stroke-dashoffset: 0
    }

    64.242424% {
        stroke-dashoffset: 0
    }

    79.393939% {
        stroke-dashoffset: 51.96
    }

    to {
        stroke-dashoffset: 51.96
    }
}

@keyframes processing_icon_id_35_s_o {
    0% {
        stroke-opacity: .36
    }

    10.303030% {
        stroke-opacity: .36
    }

    22.424242% {
        stroke-opacity: 1
    }

    57.575758% {
        stroke-opacity: 1
    }

    78.787879% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_35_s_do {
    0% {
        stroke-dashoffset: 55.66
    }

    10.303030% {
        stroke-dashoffset: 55.66
    }

    28.484848% {
        stroke-dashoffset: 0
    }

    63.636364% {
        stroke-dashoffset: 0
    }

    78.787879% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_id_37_s_o {
    0% {
        stroke-opacity: .36
    }

    7.272727% {
        stroke-opacity: .36
    }

    19.393939% {
        stroke-opacity: 1
    }

    54.545455% {
        stroke-opacity: 1
    }

    75.757576% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_37_s_do {
    0% {
        stroke-dashoffset: 36
    }

    7.272727% {
        stroke-dashoffset: 36
    }

    25.454545% {
        stroke-dashoffset: 0
    }

    60.606061% {
        stroke-dashoffset: 0
    }

    75.757576% {
        stroke-dashoffset: 34.63
    }

    to {
        stroke-dashoffset: 34.63
    }
}

@keyframes processing_icon_id_39_s_o {
    0% {
        stroke-opacity: .36
    }

    9.393939% {
        stroke-opacity: .36
    }

    21.515152% {
        stroke-opacity: 1
    }

    56.969697% {
        stroke-opacity: 1
    }

    78.181818% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_39_s_do {
    0% {
        stroke-dashoffset: 35
    }

    9.393939% {
        stroke-dashoffset: 35
    }

    27.575758% {
        stroke-dashoffset: 0
    }

    63.030303% {
        stroke-dashoffset: 0
    }

    78.181818% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_id_41_s_o {
    0% {
        stroke-opacity: .36
    }

    8.787879% {
        stroke-opacity: .36
    }

    20.909091% {
        stroke-opacity: 1
    }

    56.363636% {
        stroke-opacity: 1
    }

    77.575758% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_41_s_do {
    0% {
        stroke-dashoffset: 33.17
    }

    8.787879% {
        stroke-dashoffset: 33.17
    }

    26.969697% {
        stroke-dashoffset: 0
    }

    62.424242% {
        stroke-dashoffset: 0
    }

    77.575758% {
        stroke-dashoffset: 33.17
    }

    to {
        stroke-dashoffset: 33.17
    }
}

@keyframes processing_icon_id_43_s_o {
    0% {
        stroke-opacity: .36
    }

    8.181818% {
        stroke-opacity: .36
    }

    20.303030% {
        stroke-opacity: 1
    }

    55.757576% {
        stroke-opacity: 1
    }

    76.969697% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_43_s_do {
    0% {
        stroke-dashoffset: 35
    }

    8.181818% {
        stroke-dashoffset: 35
    }

    26.363636% {
        stroke-dashoffset: 0
    }

    61.818182% {
        stroke-dashoffset: 0
    }

    76.969697% {
        stroke-dashoffset: 33.58
    }

    to {
        stroke-dashoffset: 33.58
    }
}

@keyframes processing_icon_id_45_s_o {
    0% {
        stroke-opacity: .36
    }

    7.575758% {
        stroke-opacity: .36
    }

    19.696970% {
        stroke-opacity: 1
    }

    55.151515% {
        stroke-opacity: 1
    }

    76.363636% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_45_s_do {
    0% {
        stroke-dashoffset: 35
    }

    7.575758% {
        stroke-dashoffset: 35
    }

    25.757576% {
        stroke-dashoffset: 0
    }

    61.212121% {
        stroke-dashoffset: 0
    }

    76.363636% {
        stroke-dashoffset: 33.99
    }

    to {
        stroke-dashoffset: 33.99
    }
}

@keyframes processing_icon_id_89_s_o {
    0% {
        stroke-opacity: 0
    }

    4.242424% {
        stroke-opacity: 0
    }

    15.151515% {
        stroke-opacity: 1
    }

    70.303030% {
        stroke-opacity: 1
    }

    83.636364% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_89_s_do {
    0% {
        stroke-dashoffset: 110.85
    }

    4.242424% {
        stroke-dashoffset: 110.85
    }

    16.666667% {
        stroke-dashoffset: 0
    }

    68.484848% {
        stroke-dashoffset: 0
    }

    83.636364% {
        stroke-dashoffset: 110.85
    }

    to {
        stroke-dashoffset: 110.85
    }
}

@keyframes processing_icon_id_94_s_o {
    0% {
        stroke-opacity: 0
    }

    26.969697% {
        stroke-opacity: 0
    }

    32.121212% {
        stroke-opacity: 1
    }

    81.515152% {
        stroke-opacity: 1
    }

    86.666667% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_94_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    26.969697% {
        stroke-dashoffset: 12.57
    }

    34.545455% {
        stroke-dashoffset: 0
    }

    79.090909% {
        stroke-dashoffset: 0
    }

    86.666667% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_94_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    26.969697% {
        stroke-dasharray: 12.57
    }

    86.666667% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_96_s_o {
    0% {
        stroke-opacity: 0
    }

    26.363636% {
        stroke-opacity: 0
    }

    31.515152% {
        stroke-opacity: 1
    }

    80.909091% {
        stroke-opacity: 1
    }

    86.060606% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_96_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    26.363636% {
        stroke-dashoffset: 12.57
    }

    33.939394% {
        stroke-dashoffset: 0
    }

    78.484848% {
        stroke-dashoffset: 0
    }

    86.060606% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_96_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    26.363636% {
        stroke-dasharray: 12.57
    }

    86.060606% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_98_s_o {
    0% {
        stroke-opacity: 0
    }

    27.575758% {
        stroke-opacity: 0
    }

    32.727273% {
        stroke-opacity: 1
    }

    80.303030% {
        stroke-opacity: 1
    }

    85.454545% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_98_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    27.575758% {
        stroke-dashoffset: 12.57
    }

    35.151515% {
        stroke-dashoffset: 0
    }

    77.878788% {
        stroke-dashoffset: 0
    }

    85.454545% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_98_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    27.575758% {
        stroke-dasharray: 12.57
    }

    85.454545% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_100_s_o {
    0% {
        stroke-opacity: 0
    }

    25.757576% {
        stroke-opacity: 0
    }

    30.909091% {
        stroke-opacity: 1
    }

    79.696970% {
        stroke-opacity: 1
    }

    84.848485% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_100_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    25.757576% {
        stroke-dashoffset: 12.57
    }

    33.333333% {
        stroke-dashoffset: 0
    }

    77.272727% {
        stroke-dashoffset: 0
    }

    84.848485% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_100_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    25.757576% {
        stroke-dasharray: 12.57
    }

    84.848485% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_102_s_o {
    0% {
        stroke-opacity: 0
    }

    25.151515% {
        stroke-opacity: 0
    }

    30.303030% {
        stroke-opacity: 1
    }

    79.090909% {
        stroke-opacity: 1
    }

    84.242424% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_102_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    25.151515% {
        stroke-dashoffset: 12.57
    }

    32.727273% {
        stroke-dashoffset: 0
    }

    76.666667% {
        stroke-dashoffset: 0
    }

    84.242424% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_102_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    25.151515% {
        stroke-dasharray: 12.57
    }

    84.242424% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_104_s_o {
    0% {
        stroke-opacity: 0
    }

    24.545455% {
        stroke-opacity: 0
    }

    29.696970% {
        stroke-opacity: 1
    }

    78.484848% {
        stroke-opacity: 1
    }

    83.636364% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_104_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    24.545455% {
        stroke-dashoffset: 12.57
    }

    32.121212% {
        stroke-dashoffset: 0
    }

    76.060606% {
        stroke-dashoffset: 0
    }

    83.636364% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_104_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    24.545455% {
        stroke-dasharray: 12.57
    }

    83.636364% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_106_s_o {
    0% {
        stroke-opacity: 0
    }

    23.939394% {
        stroke-opacity: 0
    }

    29.090909% {
        stroke-opacity: 1
    }

    77.878788% {
        stroke-opacity: 1
    }

    83.030303% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_106_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    23.939394% {
        stroke-dashoffset: 12.57
    }

    31.515152% {
        stroke-dashoffset: 0
    }

    75.454545% {
        stroke-dashoffset: 0
    }

    83.030303% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_106_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    23.939394% {
        stroke-dasharray: 12.57
    }

    83.030303% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_108_s_o {
    0% {
        stroke-opacity: 0
    }

    23.333333% {
        stroke-opacity: 0
    }

    28.484848% {
        stroke-opacity: 1
    }

    77.272727% {
        stroke-opacity: 1
    }

    82.424242% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_108_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    23.333333% {
        stroke-dashoffset: 12.57
    }

    30.909091% {
        stroke-dashoffset: 0
    }

    74.848485% {
        stroke-dashoffset: 0
    }

    82.424242% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes processing_icon_id_108_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    23.333333% {
        stroke-dasharray: 12.57
    }

    82.424242% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_110_s_o {
    0% {
        stroke-opacity: 0
    }

    22.727273% {
        stroke-opacity: 0
    }

    27.878788% {
        stroke-opacity: 1
    }

    76.666667% {
        stroke-opacity: 1
    }

    81.818182% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_110_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    22.727273% {
        stroke-dashoffset: 12.57
    }

    30.303030% {
        stroke-dashoffset: 0
    }

    74.242424% {
        stroke-dashoffset: 0
    }

    81.818182% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_110_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    22.727273% {
        stroke-dasharray: 12.57
    }

    81.818182% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_112_s_o {
    0% {
        stroke-opacity: 0
    }

    22.121212% {
        stroke-opacity: 0
    }

    27.272727% {
        stroke-opacity: 1
    }

    76.060606% {
        stroke-opacity: 1
    }

    81.212121% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_112_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    22.121212% {
        stroke-dashoffset: 12.57
    }

    29.696970% {
        stroke-dashoffset: 0
    }

    73.636364% {
        stroke-dashoffset: 0
    }

    81.212121% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_112_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    22.121212% {
        stroke-dasharray: 12.57
    }

    81.212121% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_114_s_o {
    0% {
        stroke-opacity: 0
    }

    21.515152% {
        stroke-opacity: 0
    }

    26.666667% {
        stroke-opacity: 1
    }

    75.454545% {
        stroke-opacity: 1
    }

    80.606061% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_114_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    21.515152% {
        stroke-dashoffset: 12.57
    }

    29.090909% {
        stroke-dashoffset: 0
    }

    73.030303% {
        stroke-dashoffset: 0
    }

    80.606061% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_114_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    21.515152% {
        stroke-dasharray: 12.57
    }

    80.606061% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_116_s_o {
    0% {
        stroke-opacity: 0
    }

    20.909091% {
        stroke-opacity: 0
    }

    26.060606% {
        stroke-opacity: 1
    }

    74.848485% {
        stroke-opacity: 1
    }

    80% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_116_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    20.909091% {
        stroke-dashoffset: 12.57
    }

    28.484848% {
        stroke-dashoffset: 0
    }

    72.424242% {
        stroke-dashoffset: 0
    }

    80% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_116_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    20.909091% {
        stroke-dasharray: 12.57
    }

    80% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_118_s_o {
    0% {
        stroke-opacity: 0
    }

    20.303030% {
        stroke-opacity: 0
    }

    25.454545% {
        stroke-opacity: 1
    }

    74.242424% {
        stroke-opacity: 1
    }

    79.393939% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_118_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    20.303030% {
        stroke-dashoffset: 12.57
    }

    27.878788% {
        stroke-dashoffset: 0
    }

    71.818182% {
        stroke-dashoffset: 0
    }

    79.393939% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_118_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    20.303030% {
        stroke-dasharray: 12.57
    }

    79.393939% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_120_s_o {
    0% {
        stroke-opacity: 0
    }

    19.696970% {
        stroke-opacity: 0
    }

    24.848485% {
        stroke-opacity: 1
    }

    73.636364% {
        stroke-opacity: 1
    }

    78.787879% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_120_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    19.696970% {
        stroke-dashoffset: 12.57
    }

    27.272727% {
        stroke-dashoffset: 0
    }

    71.212121% {
        stroke-dashoffset: 0
    }

    78.787879% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_120_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    19.696970% {
        stroke-dasharray: 12.57
    }

    78.787879% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_122_s_o {
    0% {
        stroke-opacity: 0
    }

    19.090909% {
        stroke-opacity: 0
    }

    24.242424% {
        stroke-opacity: 1
    }

    73.030303% {
        stroke-opacity: 1
    }

    78.181818% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_122_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    19.090909% {
        stroke-dashoffset: 12.57
    }

    26.666667% {
        stroke-dashoffset: 0
    }

    70.606061% {
        stroke-dashoffset: 0
    }

    78.181818% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_122_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    19.090909% {
        stroke-dasharray: 12.57
    }

    78.181818% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_124_s_o {
    0% {
        stroke-opacity: 0
    }

    18.484848% {
        stroke-opacity: 0
    }

    23.636364% {
        stroke-opacity: 1
    }

    72.424242% {
        stroke-opacity: 1
    }

    77.575758% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_124_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    18.484848% {
        stroke-dashoffset: 12.57
    }

    26.060606% {
        stroke-dashoffset: 0
    }

    70% {
        stroke-dashoffset: 0
    }

    77.575758% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_124_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    18.484848% {
        stroke-dasharray: 12.57
    }

    77.575758% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_126_s_o {
    0% {
        stroke-opacity: 0
    }

    17.878788% {
        stroke-opacity: 0
    }

    23.030303% {
        stroke-opacity: 1
    }

    71.818182% {
        stroke-opacity: 1
    }

    76.969697% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_126_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    17.878788% {
        stroke-dashoffset: 12.57
    }

    25.454545% {
        stroke-dashoffset: 0
    }

    69.393939% {
        stroke-dashoffset: 0
    }

    76.969697% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_126_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    17.878788% {
        stroke-dasharray: 12.57
    }

    76.969697% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_128_s_o {
    0% {
        stroke-opacity: 0
    }

    17.272727% {
        stroke-opacity: 0
    }

    22.424242% {
        stroke-opacity: 1
    }

    71.212121% {
        stroke-opacity: 1
    }

    76.363636% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_128_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    17.272727% {
        stroke-dashoffset: 12.57
    }

    24.848485% {
        stroke-dashoffset: 0
    }

    68.787879% {
        stroke-dashoffset: 0
    }

    76.363636% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_130_s_o {
    0% {
        stroke-opacity: 0
    }

    28.787879% {
        stroke-opacity: 0
    }

    33.939394% {
        stroke-opacity: 1
    }

    82.727273% {
        stroke-opacity: 1
    }

    87.272727% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_130_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    28.787879% {
        stroke-dashoffset: 12.57
    }

    36.363636% {
        stroke-dashoffset: 0
    }

    80.303030% {
        stroke-dashoffset: 0
    }

    87.272727% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_130_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    28.787879% {
        stroke-dasharray: 12.57
    }

    87.272727% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_132_s_o {
    0% {
        stroke-opacity: 0
    }

    28.181818% {
        stroke-opacity: 0
    }

    33.333333% {
        stroke-opacity: 1
    }

    82.121212% {
        stroke-opacity: 1
    }

    86.666667% {
        stroke-opacity: 0
    }

    to {
        stroke-opacity: 0
    }
}

@keyframes processing_icon_id_132_s_do {
    0% {
        stroke-dashoffset: 12.57
    }

    28.181818% {
        stroke-dashoffset: 12.57
    }

    35.757576% {
        stroke-dashoffset: 0
    }

    79.696970% {
        stroke-dashoffset: 0
    }

    86.666667% {
        stroke-dashoffset: 12.57
    }

    to {
        stroke-dashoffset: 12.57
    }
}

@keyframes processing_icon_id_132_s_da {
    0% {
        stroke-dasharray: 12.57
    }

    28.181818% {
        stroke-dasharray: 12.57
    }

    86.666667% {
        stroke-dasharray: 12.57
    }

    to {
        stroke-dasharray: 12.57
    }
}

@keyframes processing_icon_id_136_to__to {
    0% {
        transform: translateY(-7px)
    }

    19.090909% {
        transform: translateY(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translateY(-7px)
    }

    to {
        transform: translateY(-7px)
    }
}

@keyframes processing_icon_id_139_to__to {
    0% {
        transform: translateY(-7px)
    }

    19.090909% {
        transform: translateY(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translateY(-7px)
    }

    to {
        transform: translateY(-7px)
    }
}

@keyframes processing_icon_id_142_to__to {
    0% {
        transform: translateY(-7px)
    }

    19.090909% {
        transform: translateY(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translateY(-7px)
    }

    to {
        transform: translateY(-7px)
    }
}

@keyframes processing_icon_id_145_to__to {
    0% {
        transform: translateY(-7px)
    }

    19.090909% {
        transform: translateY(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translateY(-7px)
    }

    to {
        transform: translateY(-7px)
    }
}

@keyframes processing_icon_id_148_to__to {
    0% {
        transform: translateY(-7px)
    }

    19.090909% {
        transform: translateY(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translateY(-7px)
    }

    to {
        transform: translateY(-7px)
    }
}

@keyframes processing_icon_id_151_to__to {
    0% {
        transform: translateY(7px)
    }

    19.090909% {
        transform: translateY(7px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    39.393939% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    60.606061% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    80.303030% {
        transform: translateY(7px)
    }

    to {
        transform: translateY(7px)
    }
}

@keyframes processing_icon_id_154_to__to {
    0% {
        transform: translateY(7px)
    }

    19.090909% {
        transform: translateY(7px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    39.393939% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    60.606061% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    80.303030% {
        transform: translateY(7px)
    }

    to {
        transform: translateY(7px)
    }
}

@keyframes processing_icon_id_157_to__to {
    0% {
        transform: translate(0.000298px, 7.5px)
    }

    19.090909% {
        transform: translate(0.000298px, 7.5px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    39.393939% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    60.606061% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    80.303030% {
        transform: translateY(7px)
    }

    to {
        transform: translateY(7px)
    }
}

@keyframes processing_icon_id_160_to__to {
    0% {
        transform: translate(-0.238357px, 7.261346px)
    }

    19.090909% {
        transform: translate(-0.238357px, 7.261346px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    39.393939% {
        transform: translate(-0.238357px, -0.238852px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    60.606061% {
        transform: translate(-0.238357px, -0.238852px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    80.303030% {
        transform: translate(-0.238357px, 6.761148px)
    }

    to {
        transform: translate(-0.238357px, 6.761148px)
    }
}

@keyframes processing_icon_id_163_to__to {
    0% {
        transform: translateY(8px)
    }

    19.090909% {
        transform: translateY(8px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    39.393939% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    60.606061% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    80.303030% {
        transform: translateY(7px)
    }

    to {
        transform: translateY(7px)
    }
}

@keyframes processing_icon_id_166_to__to {
    0% {
        transform: translate(-7px)
    }

    19.090909% {
        transform: translate(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(-7px)
    }

    to {
        transform: translate(-7px)
    }
}

@keyframes processing_icon_id_169_to__to {
    0% {
        transform: translate(-7px)
    }

    19.090909% {
        transform: translate(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(-7px)
    }

    to {
        transform: translate(-7px)
    }
}

@keyframes processing_icon_id_172_to__to {
    0% {
        transform: translate(-7px)
    }

    19.090909% {
        transform: translate(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(-7px)
    }

    to {
        transform: translate(-7px)
    }
}

@keyframes processing_icon_id_175_to__to {
    0% {
        transform: translate(-7px)
    }

    19.090909% {
        transform: translate(-7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(-7px)
    }

    to {
        transform: translate(-7px)
    }
}

@keyframes processing_icon_id_176_to__to {
    0% {
        transform: translate(-7px, -6px)
    }

    19.090909% {
        transform: translate(-7px, -6px)
    }

    39.393939% {
        transform: translateY(-6px)
    }

    60.606061% {
        transform: translateY(-6px)
    }

    80.303030% {
        transform: translate(-7px, -6px)
    }

    to {
        transform: translate(-7px, -6px)
    }
}

@keyframes processing_icon_id_182_to__to {
    0% {
        transform: translate(7px)
    }

    19.090909% {
        transform: translate(7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(7px)
    }

    to {
        transform: translate(7px)
    }
}

@keyframes processing_icon_id_185_to__to {
    0% {
        transform: translate(7px)
    }

    19.090909% {
        transform: translate(7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(7px)
    }

    to {
        transform: translate(7px)
    }
}

@keyframes processing_icon_id_188_to__to {
    0% {
        transform: translate(7px)
    }

    19.090909% {
        transform: translate(7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(7px)
    }

    to {
        transform: translate(7px)
    }
}

@keyframes processing_icon_id_190_to__to {
    0% {
        transform: translate(7px)
    }

    19.090909% {
        transform: translate(7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(7px)
    }

    to {
        transform: translate(7px)
    }
}

@keyframes processing_icon_id_192_to__to {
    0% {
        transform: translate(7px)
    }

    19.090909% {
        transform: translate(7px)
    }

    39.393939% {
        transform: translate(0)
    }

    60.606061% {
        transform: translate(0)
    }

    80.303030% {
        transform: translate(7px)
    }

    to {
        transform: translate(7px)
    }
}

@keyframes processing_icon_id_195_f_o {
    0% {
        fill-opacity: 0
    }

    1.818182% {
        fill-opacity: 0
    }

    19.090909% {
        fill-opacity: 1
    }

    72.727273% {
        fill-opacity: 1
    }

    89.696970% {
        fill-opacity: 0
    }

    to {
        fill-opacity: 0
    }
}

@keyframes rotate-4c00b255 {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes infinite-spinning-d7f2a5dc {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes loaderAnimation {
    from {
        opacity: 1
    }

    to {
        opacity: .2
    }
}
