
.comments-modal,#comments-app-panel {
    --font-family-primary: Inter, Helvetica, Arial, sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
    --color-primary: var(--global-text-neutral-primary-rest, var(--afs-text-icon-primary));
    --color-secondary: var(--global-text-neutral-secondary-rest, var(--afs-text-icon-secondary));
    --color-success: var(--global-text-success-primary-rest, var(--afs-bg-legend-healthy));
    --color-danger: var(--global-text-danger-primary-rest, #ff375f);
    --color-danger_secondary: var(--global-text-danger-secondary-rest, #ff453a);
    --color-meta: var(--global-text-neutral-secondary-rest, #c4c4c4);
    --color-meta-secondary: var(--global-text-neutral-tertiary-rest, #7e7e7e);
    --border-primary: var(--global-stroke-neutral-primary-rest, var(--afs-border));
    --border-focused: var(--global-stroke-accent-secondary-rest, var(--afs-text-icon-link));
    --background-primary: var(--global-fill-neutral-primary-rest, var(--afs-panel));
    --background-secondary: var(--global-fill-neutral-secondary-rest, var(--afs-group));
    --background-clickable_hover: var(--global-fill-neutral-secondary-active, var(--afs-group-bg_48));
    --color-clickable-icon: var(--global-fill-accent-secondary-rest, #d9d9d9);
    --background-bubble: var(--global-fill-accent-primary-rest, #267feb);
    --transition-duration-default: var(--afs-transition-duration);
    --margin-right-scrollbar: -16px;
    --width-scrollbar: 4px;
    --border-radius-scrollbar: 2px;
    --color-scrollbar: var(--global-fill-neutral-quaternary-rest, var(--afs-bg-scrollbar));
    --color-scrollbar_hover: var(--global-fill-neutral-quaternary-active, var(--afs-bg-scrollbar));
    --border-color-control: var(--global-stroke-neutral-secondary-rest, var(--afs-border));
    --border-color-control_focus: var(--global-stroke-accent-secondary-rest, var(--afs-text-icon-link));
    --color-control: var(--global-text-static-white-primary-rest, var(--afs-text-icon-primary));
    --color-control-secondary: var(--global-text-neutral-tertiary-rest, var(--afs-text-icon-hint));
    --background-control: var(--global-fill-neutral-primary-rest, var(--afs-background));
    --box-shadow-control: var(--afs-black-inner-shadow-md);
    --color-button-primary: var(--global-text-static-white-primary-rest, var(--afs-text-icon-primary));
    --border-color-button-primary: var(--global-stroke-neutral-secondary-rest, var(--afs-border));
    --border-color-button-primary_focus: var(--global-stroke-accent-secondary-rest, var(--afs-text-icon-link));
    --box-shadow-button: var(--afs-white-inner-shadow-large);
    --background-button-primary: var(--global-fill-accent-primary-rest, var(--afs-primary-default));
    --background-button-primary_hover: var(--global-fill-accent-primary-active, var(--afs-primary-hover));
    --background-button-primary_active: var(--global-fill-accent-primary-active, var(--afs-primary-down));
    --background-button-secondary: var(--global-fill-neutral-primary-rest, var(--afs-secondary-default));
    --background-button-secondary_selected: var(--global-fill-neutral-secondary-active, var(--afs-secondary-selected));
    --background-button-secondary_hover: var(--global-fill-neutral-secondary-active, var(--afs-group));
    --background-button-secondary_active: var(--global-fill-neutral-primary-active, var(--afs-secondary-down));
    --border-color-tab-secondary: var(--global-stroke-neutral-primary-rest, var(--afs-border));
    --background-tab-secondary: var(--global-fill-neutral-primary-rest, var(--afs-secondary-default));
    --background-tab-secondary_hover: var(--global-fill-neutral-primary-active, var(--afs-group));
    --background-tab-secondary_selected: var(--global-fill-neutral-secondary-active, var(--afs-secondary-selected));
    --border-color-tab-secondary_focus: var(--global-stroke-accent-secondary-rest, var(--afs-text-icon-link));
    --color-input-search: var(--global-fill-accent-secondary-rest, var(--afs-secondary-selected));
    --color-main-tabs: var(--global-text-neutral-primary-rest, var(--afs-text-icon-primary));
    --color-main-tabs-line: rgba(255, 255, 255, .7);
    --background-main-tabs_active: var(--global-fill-accent-secondary-rest, rgba(0, 0, 0, .6));
    --text-shadow-main-tabs: 0px 1px 2px rgba(0, 0, 0, 0);
    --background-views: var(--global-fill-neutral-secondary-rest, #c8c8c8);
    --background-views_bom: var(--global-fill-neutral-secondary-rest, rgba(0, 0, 0, .5));
    --background-views_lsm: var(--global-fill-neutral-secondary-rest, #e9e9e9);
    --color-bom-text-secondary: var(--global-text-neutral-secondary-rest, #949499);
    --color-pin-icon: var(--global-text-neutral-primary-rest, #fbfbfb);
    --color-pin-icon_active: var(--global-text-accent-primary-rest, #6296de);
    --background-measurements-section: var(--global-fill-neutral-secondary-rest, rgba(53, 53, 53, .7));
    --border-layer-color: var(--global-stroke-neutral-secondary, rgba(255, 255, 255, .2));
    --filter-drop-shadow-header-plugins-icons: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0));
    --color-hint: var(--global-text-static-white-primary-rest, var(--afs-background));
    --background-hint: var(--global-fill-neutral-quinary-rest, var(--afs-text-icon-primary));
    --box-shadow-hint: var(--afs-black-drop-shadow-small);
    --background-checkbox-secondary: var(--global-fill-neutral-secondary-rest, var(--afs-secondary-default));
    --background-checkbox-secondary_checked: var(--global-fill-accent-primary-rest, var(--afs-primary-selected));
    --box-shadow-checkbox: var(--afs-black-drop-shadow-medium, rgba(255, 255, 255, .08));
    --border-color-checkbox: var(--global-stroke-neutral-secondary-rest, var(--afs-border));
    --background-loader: var(--global-fill-neutral-primary-rest, var(--afs-text-icon-primary));
    --color-app-loader: var(--global-text-neutral-secondary-rest, var(--afs-text-icon-secondary));
    --color-app-loader_active: var(--global-text-static-white-primary-rest, var(--afs-text-icon-primary));
    --color-app-loader_active-secondary: var(--global-text-danger-primary-rest, #ff375f);
    --color-app-loader-icon: var(--global-text-neutral-tertiary-rest, var(--afs-text-icon-hint));
    --color-app-loader-meta: var(--global-fill-accent-secondary-rest, var(--afs-secondary-selected));
    --border-color-app-loader-progress: var(--global-fill-neutral-secondary-rest, var(--afs-secondary-default));
    --border-color-app-loader-progress_active: var(--global-fill-accent-primary-rest, var(--afs-primary-default));
    --background-app-loader: var(--global-fill-neutral-primary-rest, #828282);
    --background-app-loader-container: var(--global-fill-neutral-primary-rest, var(--afs-popup));
    --box-shadow-app-loader-container: var(--afs-black-drop-shadow-medium, var(--afs-black-drop-shadow-large));
    --border-color-modal: var(--global-stroke-neutral-primary-rest, var(--afs-border));
    --color-modal-header: var(--global-text-neutral-primary-rest, #eee);
    --background-modal: var(--global-fill-neutral-primary-rest, var(--afs-popup));
    --background-modal-header: var(--global-fill-neutral-primary-rest, var(--afs-group));
    --color-kv-list-key: var(--global-text-neutral-secondary-rest, var(--afs-text-icon-secondary));
    --color-kv-list-value: var(--global-text-neutral-secondary-rest, var(--afs-text-icon-secondary));
    --background-kv-list_clickable_hover: var(--global-fill-neutral-secondary-active, var(--afs-group-bg_48));
    --color-link-secondary: var(--global-text-accent-primary-rest, var(--afs-text-icon-link));
    --color-link-secondary_hover: var(--global-text-static-white-primary-rest, var(--afs-text-icon-primary));
    --color-link-secondary_active: var(--global-text-accent-primary-active, var(--afs-text-icon-link));
    --color-link-primary: var(--global-text-accent-primary-rest, var(--afs-text-icon-link));
    --color-link-primary_hover: var(--global-text-accent-primary-active, var(--afs-text-icon-link-hover));
    --color-link-primary_active: var(--global-text-accent-primary-active, var(--afs-text-icon-link));
    --color-link_disabled: var(--global-text-neutral-primary-rest, var(--afs-text-icon-primary));
    --box-shadow-textarea_active: var(--afs-black-inner-shadow, 0px 2px 16px rgba(0, 0, 0, .32));
    --background-accordion-header_hover: var(--global-fill-neutral-secondary-active, var(--afs-group-bg_48));
    --background-item_active: var(--global-fill-accent-secondary-rest, rgba(84, 141, 219, .6));
    --color-toast_black: var(--global-fill-neutral-quinary-rest, #000);
    --color-toast_bg: var(--global-fill-accent-secondary-rest, #e5f5ff);
    --color-toast_primal: var(--global-fill-accent-primary-rest, #0091ea);
    --color-toast_active: var(--global-fill-accent-primary-active, #057bc4);
    --color-toast_shadow: var(--afs-black-drop-shadow-medium, rgba(0, 0, 0, .16));
    --comment-background-hint: var(--global-fill-accent-secondary-rest);
    --comment-background-assigned: var(--global-fill-warning-primary-rest, #da7b11);
    --comment-counter-active: var(--global-fill-accent-primary-rest);
    --comment-text: var(--global-text-neutral-secondary-rest);
    --comment-text-reply: var(--global-text-neutral-tertiary-rest);
    --comment-resolved: var(--global-fill-success-primary-rest, #30d158);
    --comment-text-user: var(--global-text-accent-primary-rest, #64d2ff);
    --modal-border-color: var(--global-stroke-neutral-primary-rest);
    --color-link: var(--global-text-accent-primary-rest, #64d2ff);
    --color-text: var(--global-text-accent-primary-rest, #64d2ff);
    --general-text: var(--global-text-neutral-secondary-rest, #dddddd);
    --background-header: var(--global-fill-neutral-primary-rest, rgba(0, 0, 0, .8));
    --background-views: var(--global-fill-neutral-tertiary-rest, #c8c8c8);
    --color-main-tabs-line: rgba(255, 255, 255, 0);
    --background-views_bom: var(--global-fill-neutral-tertiary-rest, #c8c8c8);
    --background-views_lsm: var(--global-fill-neutral-tertiary-rest, #e9e9e9);
    --background-black: var(--global-fill-neutral-tertiary-rest);
    --background-text: var(--global-text-neutral-secondary-rest, #1c1c1c);
    --color-border-focus: var(--global-stroke-accent-secondary-rest, #64d2ff)
}
